<template>
    <layout>
        <div class="space-y-6">
            <p class="text-3xl font-semibold">Business Logo</p>

            <!-- select logo & preview -->
            <input type="file" accept="image/*" class="hidden" ref="photo" @change="updatePhotoPreview">

            <div>
                <div v-if="logoPreview">
                    <div class="rounded-xl overflow-hidden w-48 shadow">
                        <div class="h-48 w-48" :style="'background-size: cover; background-repeat: no-repeat; background-position: center center; background-image: url(\'' + logoPreview + '\');'"></div>
                        <button class="bg-white py-2 font-semibold hover:bg-gray-200 w-full" @click="uploadPhoto()"> <icon name="cloud-upload"/> upload</button>
                    </div>
                    <span v-if="errors.photo" class="text-red-500"> {{errors.photo}} </span>
                </div>
                <span v-else
                    class="h-48 w-48 block rounded-lg relative cursor-pointer"
                    :style="'background-size: cover; background-repeat: no-repeat; background-position: center center; background-image: url(\'' + $page.props.auth.user.currentBusiness.logo + '\');'"
                ></span>
                <button class="w-48 py-2 mt-3 bg-white rounded-lg border border-dashed border-gray-400 focus:outline-none hover:shadow" @click.prevent="selectNewPhoto(true)"> Select Logo </button>
            </div>

            <p class="text-3xl font-semibold">Business Photos</p>

            <div class="grid grid-cols-3 gap-4">

                <!-- photo list -->
                <div class="rounded-xl overflow-hidden shadow" v-for="(photo, index) in photos" :key="index">
                    <div 
                        class="h-48 relative cursor-pointer" @click="showPhotoLarge(photo)" 
                        :style="'background-size: cover; background-repeat: no-repeat; background-position: center center; background-image: url(\'' + photo.url + '\');'"
                    >
                        <span 
                            v-if="$page.props.auth.user.currentBusiness.banner == photo.url" 
                            class="bg-green-600 text-white text-xs font-semibold px-2 py-1 absolute top-5"
                        >Banner Photo</span>
                    </div>
                    <!-- <button class="w-full bg-white py-2 font-semibold hover:bg-gray-200" @click="deletePhoto(photo)"> <icon name="trash"/> Delete photo</button> -->
                </div>

                <!-- select photo & preview -->
                <div>
                    <div v-if="photoPreview" class="rounded-xl overflow-hidden shadow">
                        <div class="h-48 block" :style="'background-size: cover; background-repeat: no-repeat; background-position: center center; background-image: url(\'' + photoPreview + '\');'"></div>
                        <button class="w-full bg-white py-2 font-semibold hover:bg-gray-200" @click="uploadPhoto"> <icon name="cloud-upload"/> upload</button>
                    </div>
                    <button v-else class="h-48 w-full bg-white rounded-xl border border-dashed border-gray-400 focus:outline-none hover:shadow" @click.prevent="selectNewPhoto(false)"> Select Photo </button>
                    <span v-if="errors.photo" class="text-red-500"> {{errors.photo}} </span>
                </div>
            </div>
        </div>

        <!-- photot Modal -->
        <full-screen-modal v-if="viewingPhoto" :show="showPhotoModal" @close="showPhotoModal = false">>
            <template #content>
                <div class="h-96 -mx-6 -my-3" :style="'background-size: cover; background-repeat: no-repeat; background-position: center center; background-image: url(\'' + viewingPhoto.url + '\');'">

                </div>
            </template>
            <template #footer>
                <span v-if="$page.props.auth.user.currentBusiness.banner == viewingPhoto.url" class="font-semibold text-gray-700">Current banner photo</span>
                <div v-else>
                    <t-button variant="success" @click="makeBanner">Set as banner photo</t-button>
                    <t-button variant="danger" @click="deletePhoto">Delete</t-button>
                </div>
            </template>
        </full-screen-modal>
    </layout>
</template>

<script>
import Layout from '../Layout'
import FullScreenModal from '@/Shared/FullScreenModal'
export default {
    components: {
        Layout,
        FullScreenModal
    },

    props: {
        errors: Object,
        photos: Array,
    },

    data(){
        return {
            photoPreview: null,
            logoPreview: null,
            showPhotoModal: false,
            viewingPhoto: null,
            selectingLogo: false
        }
    },

    methods:{
        showPhotoLarge(photo){
            this.viewingPhoto = photo
            this.showPhotoModal = true
        },

        selectNewPhoto(isLogo = false) {
            this.selectingLogo = isLogo
            this.$refs.photo.click();
        },

        updatePhotoPreview() {
            const reader = new FileReader();

            reader.onload = (e) => {
                this.selectingLogo 
                    ? this.logoPreview = e.target.result 
                    : this.photoPreview = e.target.result;
            };

            reader.readAsDataURL(this.$refs.photo.files[0]);
        },

        uploadPhoto(){
            if (this.$refs.photo) {
                this.$inertia.post(route('partners.photos.store'), {photo: this.$refs.photo.files[0], isLogo: this.selectingLogo}, {
                    preserveState: false
                });
            }
        },

        makeBanner(){
            this.$inertia.put(route('partners.photos.make-banner'), {photo: this.viewingPhoto}, {
                preserveState: false,
            })
        },

        deletePhoto(){
            this.$inertia.delete(route('partners.photos.destroy', {photo: this.viewingPhoto.id}), {
                preserveState: false,
            })
        }
    }
}
</script>