<template>
    <layout class="min-h-screen flex flex-col">
        <!-- <Navigation /> -->
        <!-- <meta name="viewport" content="width=768"> -->

        <!-- Low Balance Warning -->
        <div class="px-2 py-4 bg-red-200 text-red-900 flex-center text-sm" v-if="$page.props.auth.user.balance <= 5">
            <p>
                <icon name="exclamation-triangle"/>
                <span v-if="!$page.props.auth.user.isOnOwnTeam"> Team's </span>
                Balance is running low. You have <span class="font-semibold">{{$page.props.auth.user.balance}}</span>  bookings remaining. 
                <span v-if="$page.props.auth.user.isOnOwnTeam"> Please <inertia-link :href="route('partners.profile')" class="font-semibold underline"> top up </inertia-link> to keep your account running smoothly.</span>
            </p>
        </div>

        <!-- Impersonation Info -->
        <div class="px-2 py-4 bg-yellow-100 text-yellow-800 flex-center text-sm" v-if="$page.props.impersonation.user">
            <p>
                <icon name="exclamation-triangle"/>
                You're currently impersonating {{$page.props.impersonation.user.name}}.
                <inertia-link :href="route('partners.impersonation.destroy')" class="font-semibold underline"> Return to admin account </inertia-link>
            </p>
        </div>
        

        <div class="flex-1 bg-gray-100 relative">
            <FlashMessages />
            <div class="container">
                <!-- NAV -->
                <div class="-mx-4 border-b">
                    <div class="flex space-x-2 overflow-x-auto">
                        <inertia-link 
                            :href="route(link.route)" 
                            class="p-4 flex items-center space-x-1 relative" 
                            :class="route().current(`${link.route}*`) && 'border-b-2 border-indigo-900 text-indigo-800 font-semibold'" 
                            v-for="(link, index) in links" :key="index"
                        >
                            <icon :name="link.icon"/>
                            <span>{{link.text}}</span> 
                            <span v-if="link.badge > 0" class="text-xs bg-red-600 text-white px-1 rounded-full absolute top-2 left-0">{{link.badge}}</span> 
                        </inertia-link>
                    </div>
                </div>
                
                <div class="py-6">
                    <slot></slot>
                </div>
            </div>
        </div>
        <!-- <Footer /> -->
        
        <portal-target name="modal" multiple>
        </portal-target>
    </layout>
</template>

<script>
import Navigation from '@/Shared/Navigation'
import Footer from '@/Shared/Footer'
import FlashMessages from '@/Shared/FlashMessages'
import Layout from '@/Shared/MainLayout'
export default {
    // layout,
    components: {
        Navigation,
        FlashMessages,
        Footer,
        Layout
    },

    data(){
        return {
            links: [
                { text: 'Dashboard', icon: 'home', route: 'partners.dashboard', badge: 0},
                { text: 'Business', icon: 'briefcase', route: 'partners.businesses', badge: this.$page.props.auth.user.badges.businesses},
                { text: 'Events', icon: 'calendar', route: 'partners.events', badge: this.$page.props.auth.user.badges.events},
                { text: 'Teams', icon: 'users', route: 'partners.teams', badge: this.$page.props.auth.user.badges.teams},
                { text: 'Profile', icon: 'user-circle', route: 'partners.profile', badge: 0},
                // { text: 'Reservations', icon: 'bell', route: 'partners.reservations'},
            ]
        }
    }
}
</script>