<template>
    <div class="flex">
        <meta name="viewport" content="width=1440">
        <div class=" bg-gray-800 text-white h-screen flex flex-col">
            <div class="p-6 flex-center bg-gray-800">
                <inertia-link href="/">
                    <!-- <img src="/img/icon-white.png" alt="reservr logo" class="h-8"> -->
                    <jet-application-mark></jet-application-mark>
                </inertia-link>
            </div>

            <div class="py-8 px-2 flex-1 space-y-2 overflow-y-auto">
                <inertia-link 
                    :href="route(link.route)" 
                    class="px-4 py-3 flex-between rounded-lg font-semibold flex hover:text-white" 
                    :class="route().current(`${link.route}*`) ? 'bg-gray-900 text-white' : 'text-indigo-300'" 
                    v-for="(link, index) in links" :key="index"
                >
                    <div class="flex items-center space-x-4">
                        <icon :name="link.icon" class="h-6 w-6"/>
                        <span class="text-sm">{{link.text}}</span> 
                    </div>
                    <span v-if="link.badge > 0" class="text-xs bg-red-600 text-white px-1 rounded-full">{{link.badge}}</span> 
                </inertia-link>
            </div>

                <!-- <inertia-link @click.prevent="logout" href="/logout" class="flex-center flex-col">
                    <icon name="logout" class="text-red-600 h-6 w-6"/>
                    <span class="font-semibold">Logout</span>
                </inertia-link> -->
            <div class="flex items-center p-4 bg-gray-700">
                <div class="flex-shrink-0 mr-3" >
                    <img class="h-10 w-10 rounded-full object-cover" :src="$page.props.auth.user.profile_photo_url" :alt="$page.props.auth.user.name" />
                </div>
                <div>
                    <div class="font-medium text-base text-gray-100">{{ $page.props.auth.user.name }}</div>
                    <div class="font-medium text-sm text-gray-300 max-w-0">{{ $page.props.auth.user.email }}</div>
                </div>
            </div>
        </div>

        <div class="flex-1 h-screen bg-gray-100 relative overflow-auto">

            <!-- top nav -->
            <div class="px-6 py-4 flex-between bg-white border-b">
                <div class="flex items-center space-x-3">
                    <img class="h-16 w-16 rounded-full object-cover shadow bg-gray-300" :src="$page.props.auth.user.currentBusiness.logo" :alt="$page.props.auth.user.currentBusiness.name">
                    <div>
                        <inertia-link :href="route('partners.businesses')" class="font-bold text-xl">{{$page.props.auth.user.currentBusiness.name}}</inertia-link>
                        <inertia-link :href="route('partners.profile')" class="block">
                            <p v-if="$page.props.auth.user.currentBusiness.is_online" class="flex text-xs font-bold tracking-widest uppercase text-green-700">
                                <icon name="status-online" class="mr-2"/>  
                                <span>online</span>
                            </p>
                            <p v-else class="flex text-xs font-bold tracking-widest uppercase text-red-700">
                                <icon name="status-offline" class="mr-2"/>  
                                <span>offline</span>
                            </p>
                        </inertia-link>
                    </div>
                </div>

                <jet-dropdown align="right"  width="48">
                    <template #trigger>
                        <div class="flex items-center px-4 cursor-pointer">
                            <div class="flex-shrink-0 mr-3" >
                                <img class="h-12 w-12 rounded-full object-cover" :src="$page.props.auth.user.profile_photo_url" :alt="$page.props.auth.user.name" />
                            </div>

                            <div>
                                <div class="font-semibold text-base text-gray-800">{{ $page.props.auth.user.name }}</div>
                                <div class="text-base text-gray-800">Balance: {{ $page.props.auth.user.balance }}</div>
                            </div>
                        </div>
                    </template>

                    <template #content>
                        <jet-dropdown-link :href="route('partners.purchases')">
                            Top up
                        </jet-dropdown-link>
                        <jet-dropdown-link :href="route('users.profile')">
                            Personal Profile
                        </jet-dropdown-link>

                        <div class="border-t border-gray-100"></div>

                        <!-- Authentication -->
                        <form @submit.prevent="logout">
                            <jet-dropdown-link as="button">
                                <span class="text-red-600">Logout</span>
                            </jet-dropdown-link>
                        </form>
                    </template>
                </jet-dropdown>
            </div>

            <!-- Low Balance Warning -->
            <div class="px-2 py-4 bg-red-200 text-red-900 flex-center text-sm" v-if="$page.props.auth.user.balance <= 5">
                <p>
                    <icon name="exclamation-triangle"/>
                    <span v-if="!$page.props.auth.user.isOnOwnTeam"> Team's </span>
                    Balance is running low. You have <span class="font-semibold">{{$page.props.auth.user.balance}}</span>  bookings remaining. 
                    <span v-if="$page.props.auth.user.isOnOwnTeam"> Please <inertia-link :href="route('partners.purchases')" class="font-semibold underline"> top up </inertia-link> to keep your account running smoothly.</span>
                </p>
            </div>
            
            <!-- Impersonation Info -->
            <div class="px-2 py-4 bg-yellow-100 text-yellow-800 flex-center text-sm" v-if="$page.props.impersonation.user">
                <p>
                    <icon name="exclamation-triangle"/>
                    You're currently impersonating {{$page.props.impersonation.user.name}}.
                    <inertia-link :href="route('partners.impersonation.destroy')" class="font-semibold underline"> Return to admin account </inertia-link>
                </p>
            </div>

            <JetBanner />

            <div class="p-6">
                <slot></slot>
            </div>
        </div>
        <portal-target name="modal" multiple></portal-target>
    </div>
</template>

<script>
import Navigation from '@/Shared/Navigation'
import Footer from '@/Shared/Footer'
import FlashMessages from '@/Shared/FlashMessages'
import JetApplicationMark from '@/Jetstream/ApplicationMark'
import JetBanner from '@/Jetstream/Banner'
import JetDropdown from '@/Jetstream/Dropdown'
import JetDropdownLink from '@/Jetstream/DropdownLink'
import JetNavLink from '@/Jetstream/NavLink'
import JetResponsiveNavLink from '@/Jetstream/ResponsiveNavLink'

export default {
    components: {
        JetApplicationMark,
        JetBanner,
        JetDropdown,
        JetDropdownLink,
        JetNavLink,
        JetResponsiveNavLink,
        Navigation,
        FlashMessages,
        Footer,
    },

    data(){
        return {
            links: [
                { text: 'Dashboard', icon: 'home', route: 'partners.dashboard', badge: 0},
                { text: 'Reservations', icon: 'calendar', route: 'partners.reservations', badge: this.$page.props.auth.user.badges.reservations},
                { text: 'Services', icon: 'clipboard-list', route: 'partners.services', badge: 0},
                { text: 'Photos', icon: 'photograph', route: 'partners.photos', badge: 0},
                { text: 'Availability', icon: 'clipboard-list', route: 'partners.availability', badge: 0},
                { text: 'Teams', icon: 'users', route: 'partners.teams', badge: this.$page.props.auth.user.badges.teams},
                { text: 'Setup', icon: 'cog', route: 'partners.profile', badge: 0},
                { text: 'Reviews', icon: 'star', route: 'partners.reviews', badge: 0},
                { text: 'Businesses', icon: 'briefcase', route: 'partners.businesses', badge: 0},
                // { text: 'Events', icon: 'ticket', route: 'partners.events', badge: this.$page.props.auth.user.badges.events},
                { text: 'Account & Purchases', icon: 'dollar', route: 'partners.purchases', badge: 0},
                // { text: 'Reservations', icon: 'bell', route: 'admins.reservations', badge: 0},
            ]
        }
    },

    methods: {
        logout(){
            this.$inertia.post(route('logout'))
        }
    }
}
</script>