<template>
    <layout>
        <div class="container py-6">
            <p class="text-4xl font-black mb-6">My Tickets </p>

            <div v-if="!tickets.length" class="text-center py-40">
                <p class="text-xl font-bold text-gray-800 mb-4">Nothing yet</p>
                <p class="font-semibold text-gray-500">All event tickets you've purchased will show here.</p>
            </div>

            <div class="divide-y bg-white -mx-4 sm:-mx-0 sm:rounded-lg" v-else>
                <div class="flex p-4" v-for="(ticket, index) in tickets" :key="index">
                    <img class="h-12 w-12 rounded-lg bg-cover shadow" :src="ticket.reservable.poster" :alt="ticket.reservable.name">
                    <div class="flex-1">
                        <div class="pl-3">
                            <div class="flex justify-between item-start mb-2">
                                <inertia-link :href="route('users.tickets.show', {ticket: ticket.id})" class="font-semibold text-indigo-800">#{{ticket.code}}</inertia-link>
                                <inertia-link :href="route('users.tickets.show', {ticket: ticket.id})" class="focus:outline-none flex"><icon name="dots-vertical"/></inertia-link>
                            </div>
                            <div class="flex justify-between item-start mb-2">
                                <inertia-link :href="ticket.reservable.path" class="font-semibold text-gray-800">{{ticket.reservable.name}}</inertia-link>
                            </div>
                            <div class="flex flex-wrap justify-between items-start">
                                <p class="text-sm mb-2">Set for <span class="font-semibold text-gray-700">{{$moment(ticket.date).format('lll')}}</span> </p>
                                <span 
                                    class="text-xs font-semibold rounded-full px-2"
                                    :class="$moment().isBefore(ticket.date) ? 'bg-green-200 text-green-800' : 'bg-red-200 text-red-800'"
                                >{{$moment().to(ticket.date)}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </layout>
</template>

<script>
    import Layout from '@/Shared/MainLayout';
    export default {
        components: {
            Layout,
        },
        props: {
            tickets: Array
        }
    }
</script>