<template>
    <layout>
        <div class="container py-6 space-y-6">
            <inertia-link :href="route('users.tickets')" class="font-semibold block text-gray-500"> 
                <icon name="arrow-left" class="mb-1"/> Back  
            </inertia-link>

            <p class="text-4xl font-black text-center sm:text-left"> Ticket #{{ticket.code}} </p>

            <div class="sm:flex sm:space-x-8">
                <div class="sm:w-1/5 flex flex-col items-center sm:items-start space-y-3">
                    <img :src="ticket.reservable.poster" :alt="ticket.reservable.name" class="rounded-lg w-40 shadow">
                    <inertia-link class="text-xl font-bold text-indigo-800 text-center sm:text-left" :href="ticket.reservable.path">{{ticket.reservable.name}}</inertia-link>
                </div>
    
                <div class="flex-1 divide-y divide-dashed bg-white -mx-4 sm:-mx-0 sm:rounded-lg">
                    <div class="sm:flex justify-between items-start sm:space-x-3 p-4">
                        <p class="font-semibold text-gray-500">Event</p>
                        <inertia-link class="font-semibold text-indigo-800 sm:text-right" :href="ticket.reservable.path">{{ticket.reservable.name}}</inertia-link>
                    </div>
                    <div class="sm:flex justify-between items-start sm:space-x-3 p-4">
                        <p class="font-semibold text-gray-500">Date</p>
                        <p class="font-semibold text-gray-800 sm:text-right">{{$moment(ticket.appointment_date).format('LL') }}</p>
                    </div>
                    <div class="sm:flex justify-between items-start sm:space-x-3 p-4">
                        <p class="font-semibold text-gray-500">Time</p>
                        <p class="font-semibold text-gray-800 sm:text-right">{{$moment(ticket.appointment_time, 'HH:mm:ss').format('h:mm A') }}</p>
                    </div>
                    <div class="sm:flex justify-between items-start sm:space-x-3 p-4">
                        <p class="font-semibold text-gray-500">Location</p>
                        <p class="font-semibold text-gray-800 sm:text-right">{{ ticket.reservable.location }}</p>
                    </div>
                    <div class="sm:flex justify-between items-start sm:space-x-3 p-4">
                        <p class="font-semibold text-gray-500">Purchased on</p>
                        <p class="font-semibold text-gray-800 sm:text-right">{{$moment(ticket.created_at).format('lll')}} </p>
                    </div>
                    <div class="sm:flex justify-between items-start sm:space-x-3 p-4">
                        <p class="font-semibold text-gray-500">Price</p>
                        <p class="font-semibold text-gray-800 sm:text-right">GHS {{ ticket.amount }} </p>
                    </div>
                </div>
            </div>
        </div>
    </layout>
</template>

<script>
    import Layout from '@/Shared/MainLayout';
    export default {
        components: {
            Layout,
        },
        props: {
            ticket: Object
        }
    }
</script>