<template>
    <layout>
        <div class="container py-6">
            <p class="text-4xl font-black mb-6">Profile </p>

            <!-- Personal Details -->
            <form-section @submitted="updateProfileInformation">
                <template #title>
                    Personal Details
                </template>
                <template #description>Set your name and contact information, the email address entered here is used for your login access</template>

                <template #form>
                    <div class="grid sm:grid-cols-2 gap-5">

                        <div class="col-span-2 pb-4 flex flex-col items-center">
                            <input type="file" accept="image/*" class="hidden" ref="photo" @change="updatePhotoPreview">

                             <!-- Current Profile Photo -->
                            <div class="mt-2" v-show="! photoPreview">
                                <img :src="user.profile_photo_url" :alt="user.name" class="rounded-full h-36 w-36 object-cover">
                            </div>

                            <!-- New Profile Photo Preview -->
                            <div class="mt-2" v-show="photoPreview">
                                <span class="block rounded-full w-36 h-36"
                                    :style="'background-size: cover; background-repeat: no-repeat; background-position: center center; background-image: url(\'' + photoPreview + '\');'">
                                </span>
                            </div>

                            <div v-if="errors.photo" class="text-red-500">
                                {{errors.photo}}
                            </div>

                           <div class="flex">
                                <t-button type="button" class="mt-2 mr-2" @click.prevent="deletePhoto" v-if="user.profile_photo_path">
                                    Remove Photo
                                </t-button>
                               
                                <t-button class="mt-2" type="button" @click.prevent="selectNewPhoto">
                                    Select A New Photo
                                </t-button>
                           </div>
                        </div>

                        <t-input-group class="col-span-2 sm:col-span-1" label="First Name" :variant="errors.first_name && 'error'" :feedback="errors.first_name">
                            <t-input v-model="profile.first_name"/>
                        </t-input-group>

                        <t-input-group class="col-span-2 sm:col-span-1" label="Last Name" :variant="errors.last_name && 'error'" :feedback="errors.last_name">
                            <t-input v-model="profile.last_name"/>
                        </t-input-group>

                        <t-input-group class="col-span-2" label="Email" :variant="errors.email && 'error'" :feedback="errors.email">
                            <t-input v-model="profile.email" type="email"/>
                        </t-input-group>

                        <t-input-group class="col-span-2" label="Phone" :variant="errors.phone && 'error'" :feedback="errors.phone">
                            <t-input v-model="profile.phone" type="tel" placeholder="0244XXXXXX" disabled/>
                        </t-input-group>
                    </div>
                </template>

                <template #actions>
                    <t-button variant="success">Update profile</t-button>
                </template>
            </form-section>

            <!-- Password reset -->
            <form-section @submitted="updatePassword">
                <template #title>Password</template>
                <template #description>To make an update, enter your existing password followed by a new one. If you don't know your existing password, you can logout and use the Reset Password link on the Log In page.</template>

                <template #form>
                    <div class="grid grid-cols-1 gap-5">
                        <t-input-group label="Current Password" :variant="errors.old_password && 'error'" :feedback="errors.old_password" required>
                            <t-input v-model="passwordForm.old_password" type="password"/>
                        </t-input-group>
                        <t-input-group label="New Password" :variant="errors.password && 'error'" :feedback="errors.password" required>
                            <t-input v-model="passwordForm.password" type="password"/>
                        </t-input-group>
                        <t-input-group label="Confirm Password" required>
                            <t-input v-model="passwordForm.password_confirmation" type="password"/>
                        </t-input-group>
                    </div>
                </template>
                <template #actions>
                    <t-button variant="success">Update password</t-button>
                </template>
            </form-section>

            <!-- Delete Account -->
            <form-section @submitted="deleteAccount">
                <template #title>Delete Your Account</template>
                <template #description>Delete your account and remove all it's data</template>

                <template #form>
                    <inertia-link href @click.prevent="deleteAccount" class="text-red-600 font-semibold">Delete Account</inertia-link>
                </template>
            </form-section>

            <!-- <div class="flex-between">
                <inertia-link href class="text-red-600 font-semibold">Delete Account</inertia-link>
                <span></span>
            </div> -->
        </div>
    </layout>
</template>

<script>
import Layout from '@/Shared/MainLayout'
export default {
    components: {
        Layout
    },

    props: {
        errors: Object,
        user: Object,
        packages: Array
    },

    data() {
        return {
            package_name: 'Business',
            loading: false,

            profile: this.$inertia.form({
                first_name: this.user.first_name,
                last_name: this.user.last_name,
                email: this.user.email,
                phone: this.user.phone,
                photo: null,
            }),

            passwordForm: this.$inertia.form({
                old_password: '',
                password: '',
                password_confirmation: '',
            }),

            photoPreview: null,
        }
    },

    methods: {

        updateProfileInformation() {
            if (this.$refs.photo) {
                this.profile.photo = this.$refs.photo.files[0]
            }

            this.profile.post(route('users.profile.update'), {
                preserveScroll: true
            });
        },

        updatePhotoPreview() {
            const reader = new FileReader();

            reader.onload = (e) => {
                this.photoPreview = e.target.result;
            };

            reader.readAsDataURL(this.$refs.photo.files[0]);
        },

        selectNewPhoto() {
            this.$refs.photo.click();
        },

        deletePhoto() {
            this.$inertia.delete(route('users.profile-photo.destroy'), {
                preserveScroll: true,
                onSuccess: () => (this.photoPreview = null),
            });
        },

        updatePassword(){
            this.passwordForm.post(route('partners.password.update'), {
                preserveScroll: true,
                onSuccess: () => this.passwordForm.reset()
            })
        },

        deleteAccount(){
            this.$inertia.delete(route('users.profile.destroy'), {
                onBefore: () => confirm('Are you sure you want to delete your account?')
            })
        }
    }
}
</script>