<template>
    <div>
        <div class="flex-between mb-6">
            <inertia-link href="" @click="$window.history.back()" class="flex-center font-semibold">
                <icon name="arrow-left" class="mr-2"/> <span>Back</span> 
            </inertia-link>
            <!-- <t-button :href="route('partners.events.create')" variant="brand" tagName="a">
                <icon name="plus"/>
                <span>Create Reservation</span>
            </t-button> -->
        </div>

        <div class="max-w-lg flex mb-6 space-x-3">
            <t-input v-model="search.q" placeholder="Search by Name or Code" />
            <!-- <t-button @click="getData">Search</t-button> -->
        </div>

        <div class="table-container">
            <div class="p-4 border-b sm:flex justify-between w-full">
                <div class="text-xl font-semibold">
                    Reservations <span v-if="forDate">[for {{$moment(forDate).format('ll') }}]</span> 
                </div>
                <t-button @click="showReservationModal" variant="brand" class="mt-3 sm:mt-0">
                    <icon name="plus"/>
                    <span>Make Reservation</span>
                </t-button>
            </div>
            <table class="table">
                <thead>
                    <tr class="th-row">
                        <th class="py-4 t-cell"></th>
                        <th class="py-4 t-cell">Code</th>
                        <th class="py-4 t-cell">Name</th>
                        <th class="py-4 t-cell">Appointment Date</th>
                        <th class="py-4 t-cell">Appointment Time</th>
                        <th class="py-4 t-cell">Persons</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="cursor-pointer td-row hover:bg-gray-50" 
                        v-for="(reservation, index) in reservations.data" 
                        :key="index" @click="$inertia.visit(route('partners.reservations.show', {reservation: reservation.id}))"
                    >
                        <td class="t-cell">{{$moment(reservation.created_at).format('ll') }}</td>
                        <td class="t-cell"><span class="font-bold tracking-widest">{{ reservation.code }}</span> </td>
                        <td class="t-cell"> {{reservation.first_name}} {{reservation.last_name}}</td>
                        <td class="t-cell"> {{$moment(reservation.appointment_date).format('ll')}}</td>
                        <td class="t-cell"> 
                            {{$moment(reservation.appointment_time, 'HH:mm:ss').format('h:mm A') }}
                        </td>
                        <td class="t-cell"> {{reservation.count}} </td>
                    </tr>
                    <tr v-if="!reservations.data.length">
                        <td class="t-cell">No records found</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pagination :onPageChange="getData" :links="reservations.links" :from="reservations.from" :to="reservations.to" :total="reservations.total" />


        <t-modal v-model="reservationModal" header="Reservation Details">
            <form @submit.prevent="makeReservation" class="space-y-3">
                <div class="grid grid-cols-2 gap-3">
                    <t-input-group label="Date" :variant="errors.appointment_date && 'error'" :feedback="errors.appointment_date" required>
                        <t-datepicker v-model="reservation.appointment_date" :clearable="false" :minDate="$moment().format('YYYY-MM-DD')"/>
                    </t-input-group>
                    <t-input-group label="Time" :variant="errors.appointment_time && 'error'" :feedback="errors.appointment_time" required>
                        <t-select v-model="reservation.appointment_time" placeholder="Pick appointment time" :options="fullSchedule[$moment(reservation.appointment_date).format('dddd').toLowerCase()].time_instances"/>
                    </t-input-group>
                    <t-input-group label="First Name" :variant="errors.first_name && 'error'" :feedback="errors.first_name" required>
                        <t-input v-model="reservation.first_name"/>
                    </t-input-group>
                    <t-input-group label="Last Name" :variant="errors.last_name && 'error'" :feedback="errors.last_name" required>
                        <t-input v-model="reservation.last_name"/>
                    </t-input-group>
                    <t-input-group label="Phone" :variant="errors.phone && 'error'" :feedback="errors.phone" required>
                        <t-input v-model="reservation.phone" type="tel"/>
                    </t-input-group>
                    <t-input-group label="Email">
                        <t-input v-model="reservation.email" type="email"/>
                    </t-input-group>
                </div>
                <t-input-group label="Number of Persons" class="sm:col-span-2" :variant="errors.count && 'error'" :feedback="errors.count" required>
                    <t-input v-model="reservation.count" type="number"/>
                </t-input-group>
            </form>
            <template #footer>
                <t-button variant="brand" @click="makeReservation">Finish -> </t-button>
            </template>
        </t-modal>
    </div>
</template>

<script>
import layout from '../../Layout'
export default {
    layout,
    props: {
        errors: Object,
        business: Object,
        reservations: Object,
        fullSchedule: Object,
        forDate: String
    },
    data(){
        return {
            reservationModal: false,

            reservation: this.$inertia.form({
                first_name: '',
                last_name: '',
                phone: '',
                email: '',
                count: 1,
                appointment_date: this.forDate || this.$moment().format('YYYY-MM-DD'),
                appointment_time: '',
            }),

            search: {
                q: '',
                date: this.forDate
            }
        }
    },

    watch: {
        search: {
            handler(){
                this._search()
            },
            deep: true
        }
    },

    methods: {
        showReservationModal(){
            this.reservationModal = true
        },

        makeReservation(){
            this.reservation.post(route('partners.businesses.reservations.store', {business: this.business.id, is_business_request: true}),{
                preserveState: true,
                preserveScroll: true,
                onSuccess: () => {
                    this.reservationModal = false
                    this.reservation.reset()
                }
            })
        },

        _search: _.debounce(function(){
            this.getData()
        }, 300),

        getData(page = 1){
            this.$inertia.get(route('partners.businesses.show', {business: this.business.id}), {page, ...this.search}, {
                preserveState: true
            })
        }
    }
}
</script>