<template>
    <div class="space-y-6">
        <div class="flex-between mb-6">
            <div class="text-xl font-semibold">Platform Categories</div>
        </div>

        <div class="flex w-full space-x-5 bg-white shadow-sm p-4 rounded-lg">
            <t-input v-model="categoryForm.name" class="flex-1" placeholder="Category name" :variant="categoryForm.errors.name && 'error'"/>
            <t-button variant="success" @click.prevent="addCategory">Save Category</t-button>
        </div>

        <div class="table-container spread">
            <table class="table">
                <thead>
                    <tr class="th-row">
                        <th class="py-4 t-cell">Name</th>
                        <th class="py-4 t-cell">Subs</th>
                        <th class="py-4 t-cell text-right">...</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="cursor-pointer td-row hover:bg-gray-50" v-for="(category, index) in categories" :key="index">
                        <td class="t-cell" @click="$inertia.visit(route('admins.categories.show', {category: category.id}))">{{category.name}}</td>
                        <td class="t-cell">{{category.sub_categories_count}}</td>
                        <td class="t-cell space-x-3 text-right">
                            <button @click.prevent="editCategory(category)"> 
                                <icon name="pencil" class="text-blue-500"/> 
                            </button>
                            <button @click.prevent="deleteCategory(category.id)"> 
                                <icon name="trash" class="text-red-500"/> 
                            </button>
                        </td>
                    </tr>
                    <tr class="cursor-pointer td-row hover:bg-gray-50" v-if="!categories.length">
                        <td class="t-cell">No categories found</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
import layout from '../Layout'
import Searchable from '@Mixins/Searchable'
export default {
    layout,
    props: {
        categories: Array,
    },

    data(){
        return {
            categoryForm: this.$inertia.form({
                name: '',
            }),
        }
    },

    methods: {
        addCategory(){
            if(this.categoryForm.id){
                return this.updateCategory()
            }
            this.categoryForm.post(route('admins.categories.store'), {
                preserveState: false,
            })
        },

        updateCategory(){
            this.categoryForm.patch(route('admins.categories.update', {category: this.categoryForm.id}), {
                preserveState: false,
            })
        },

        editCategory(category) {
            this.categoryForm = {...this.categoryForm, ...category}
        },
    
        deleteCategory(category){
            this.$inertia.delete(route('admins.categories.destroy', {category}), {
                preserveState: false,
                onBefore: () => confirm('Confirm to delete this category')
            })
        }
    },

}
</script>