<template>
    <layout>
        <inertia-link :href="route('admins.categories')" class="font-semibold text-gray-700 flex items-center space-x-1 mb-6"> 
            <icon name="arrow-left"/> 
            <span>Back</span> 
        </inertia-link>

        <div class="mb-6">
            <p class="text-3xl font-semibold">{{category.name}}</p>
        </div>
        <form-section>
            <template #title>Sub Categories</template>
            <template #description>
                Subs for this main category
            </template>

            <template #form>
                <div class="">
                    <div class="border rounded-lg divide-y">
                        <div class="p-2 flex-between" v-for="(cat, index) in category.sub_categories" :key="index">
                            <div class="p-2">{{cat.name}}</div>
                            <button @click.prevent="deleteSubCategory(cat.id)"> <icon name="trash" class="text-red-500"/> </button>
                        </div>
                        <p v-if="!category.sub_categories.length" class="text-center text-gray-600 py-2">No sub categories yet.</p>
                    </div>
                </div>
            </template>
            <template #actions>
                <div class="flex w-full space-x-5">
                    <t-input v-model="categoryForm.name" class="flex-1" placeholder="sub-category name" :variant="categoryForm.errors.name && 'error'"/>
                    <t-button variant="success" @click.prevent="addSubCategory">+ Add Sub</t-button>
                </div>
            </template>
        </form-section>
    </layout>
</template>

<script>
import Layout from '../Layout'
export default {
    components: {
        Layout,
    },

    props: {
        category: Object,
    },

    data(){
        return {
            categoryForm: this.$inertia.form({
                name: '',
            }),
        }
    },

    methods:{
        addSubCategory(){
            this.categoryForm.post(route('admins.sub-categories.store', {category: this.category.id}), {
                preserveState: false,
            })
        },

        edit(service){
            this.categoryForm = {...this.categoryForm, ...service}
            this.showcategoryForm = true
        },

        deleteSubCategory(subCategory){
            this.$inertia.delete(route('admins.sub-categories.destroy', {subCat: subCategory}), {
                preserveState: false
            })
        }
    }
}
</script>