<template>
    <div class="container">
        <div class="py-12 sm:text-center">
            <p class="text-4xl text-gray-900 font-bold mb-4 uppercase">Privacy policy</p>
            <span class="text-gray-500">Last updated January, 2021</span>
        </div>
        <div class="pb-12">
            
       <p class="pb-6">
            Thank you for choosing to be part of our community at SKH Ventures, doing business under the trademark Reservr 
            (“Reservr”, “we”, “us”, or “our”). We are committed to protecting your personal information and your right to privacy. 
            If you have any questions or concerns about this privacy notice, or our practices with regards to your personal information, 
            please contact us at privacy@reservr.cc
            When you visit our website <a href="/" class="text-indigo-900 ">reservr.cc</a>  (the "Website"), use our mobile application, 
            as the case may be (the "App") and more generally, use any of our services (the "Services", which include the Website and App), 
            we appreciate that you are trusting us with your personal information. We take your privacy very seriously. In this privacy notice, 
            we seek to explain to you in the clearest way possible what information we collect, how we use it and what rights you have in relation 
            to it. We hope you take some time to read through it carefully, as it is important. If there are any terms in this privacy notice that 
            you do not agree with, please discontinue use of our Services immediately.
            This privacy notice applies to all information collected through our Services (which, as described above, includes our Website and App), 
            as well as any related services, sales, marketing or events.
            Please read this privacy notice carefully as it will help you understand what we do with the information that we collect.
        </p>


        <h1 class="mb-2 font-bold">1. WHAT INFORMATION DO WE COLLECT?</h1>

        <p class="font-semibold">Personal information you disclose to us.</p> 
        We collect personal information that you voluntarily provide to us when you register on the Services, express an interest in obtaining information 
        about us or our products and Services, when you participate in activities on the Services or otherwise when you contact us.
        <br>
        The personal information that we collect depends on the context of your interactions with us and the Services, the choices you make and the products 
        and features you use. The personal information we collect may include the following:
        Personal Information Provided by You. We collect names; phone numbers; email addresses; contact or authentication data; and other similar information.
        Payment Data. We may collect data necessary to process your payment if you make purchases, such as your payment instrument number 
        (such as a debit/credit card number & mobile money data). All payment data stored is encrypted to keep your personal information safe.
        Social Media Login Data. We may provide you with the option to register with us using your existing social media account details, like your Facebook,
         Google or other social media account. If you choose to register in this way, we will collect the information described in the section called 
        <u>"HOW DO WE HANDLE YOUR SOCIAL LOGINS"</u> below.
        All personal information that you provide to us must be true, complete and accurate, and you must notify us of any changes to such personal information.
        <br><br>
        Information automatically collected
        In Short:  Some information — such as your Internet Protocol (IP) address and/or browser and device characteristics — is collected automatically when you visit our Services.
        <br><br>
        We automatically collect certain information when you visit, use or navigate the Services. This information does not reveal your specific identity (like your name or contact information) but may include device and usage information, such as your IP address, browser and device characteristics, operating system, language preferences, referring URLs, device name, country, location, information about who and when you use our Services and other technical information. This information is primarily needed to maintain the security and operation of our Services, and for our internal analytics and reporting purposes.

        Like many businesses, we also collect information through cookies and similar technologies.  
        <br>
        <br>
        <h2 class="font-semibold">The information we collect includes:</h2>
        <br>
            <li class="ml-4 mb-4">
                Log and Usage Data. Log and usage data is service-related, diagnostic usage and performance information our servers automatically collect when you access or use our Services and which we record in log files. Depending on how you interact with us, this log data may include your IP address, device information, browser type and settings and information about your activity in the Services (such as the date/time stamps associated with your usage, pages and files viewed, searches and other actions you take such as which features you use), device event information (such as system activity, error reports (sometimes called 'crash dumps') and hardware settings).
            </li>
            <li class="ml-4 mb-4">
                Device Data. We collect device data such as information about your computer, phone, tablet or other device you use to access the Services. Depending on the device used, this device data may include information such as your IP address (or proxy server), device application identification numbers, location, browser type, hardware model Internet service provider and/or mobile carrier, operating system configuration information.
            </li>
            <li class="ml-4 mb-4">
                Location Data. We collect information data such as information about your device's location, which can be either precise or imprecise. How much information we collect depends on the type of settings of the device you use to access the Services. For example, we may use GPS and other technologies to collect geolocation data that tells us your current location (based on your IP address). You can opt out of allowing us to collect this information either by refusing access to the information or by disabling your Locations settings on your device. Note however, if you choose to opt out, you may not be able to use certain aspects of the Services.
            </li>
        <br>
        <h2 class="font-semibold">Information collected through our App</h2> 
        <br>

        In Short:  We collect information regarding your mobile device, push notifications, when you use our App.
        If you use our App, we also collect the following information:
        <br>
        <br>
        <li class="ml-4 mb-4">
            Mobile Device Access. We may request access or permission to certain features from your mobile device, including your mobile device's calendar, reminders, social media accounts, and other features. If you wish to change our access or permissions, you may do so in your device's settings.
        </li>
        <li class="ml-4 mb-4">
            Mobile Device Data. We automatically collect device information (such as your mobile device ID, model and manufacturer), operating system, version information and system configuration information, device and application identification numbers, browser type and version, hardware model Internet service provider and/or mobile carrier, and Internet Protocol (IP) address (or proxy server). If you are using our App, we may also collect information about the phone network associated with your mobile device, your mobile device's operating system or platform, the type of mobile device you use, your mobile device's unique device ID and information about the features of our App you accessed.
        </li>
        <li class="ml-4 mb-4">
            Push Notifications. We may request to send you push notifications regarding your account or certain features of the App. If you wish to opt-out from receiving these types of communications, you may turn them off in your device's settings.
        </li>

        The information is primarily needed to maintain the security and operation of our App, for troubleshooting and for our internal analytics and reporting purposes.
        <br>
        <br>
        <h1 class="font-bold">2. HOW DO WE USE YOUR INFORMATION?</h1>
        <br>
        We process your information for purposes based on legitimate business interests, the fulfillment of our contract with you, compliance with our legal obligations, and/or your consent.
        <br><br>
        We use personal information collected via our Services for a variety of business purposes described below. We process your personal information for these purposes in reliance on our legitimate business interests, in order to enter into or perform a contract with you, with your consent, and/or for compliance with our legal obligations. We indicate the specific processing grounds we rely on next to each purpose listed below.
        <br><br>

        We use the information we collect or receive:
        <br><br>

        <li class="ml-4 mb-4">
        To facilitate account creation and logon process. If you choose to link your account with us to a third-party account (such as your Google or Facebook account), we use the information you allowed us to collect from those third parties to facilitate account creation and logon process for the performance of the contract. See the section below headed "HOW DO WE HANDLE YOUR SOCIAL LOGINS" for further information.
            
        </li>
        <li class="ml-4 mb-4">
            To post testimonials. We post testimonials on our Services that may contain personal information. Prior to posting a testimonial, we will obtain your consent to use your name and the consent of the testimonial. If you wish to update, or delete your testimonial, please contact us at privacy@reservr.cc and be sure to include your name, testimonial location, and contact information.

        </li>
        <li class="ml-4 mb-4">
            Request feedback. We may use your information to request feedback and to contact you about your use of our Services.

        </li>
        <li class="ml-4 mb-4">
            To enable user-to-user communications. We may use your information in order to enable user-to-user communications with each user's consent.

        </li>
        <li class="ml-4 mb-4">
            To manage user accounts. We may use your information for the purposes of managing our account and keeping it in working order.
            
        </li>
        <li class="ml-4 mb-4">
            To send administrative information to you. We may use your personal information to send you product, service and new feature information and/or information about changes to our terms, conditions, and policies.
            
        </li>
        <li class="ml-4 mb-4">
            To protect our Services. We may use your information as part of our efforts to keep our Services safe and secure (for example, for fraud monitoring and prevention).
            
        </li>
        <li class="ml-4 mb-4">
            To enforce our terms, conditions and policies for business purposes, to comply with legal and regulatory requirements or in connection with our contract.
            
        </li>
        <li class="ml-4 mb-4">
            To respond to legal requests and prevent harm. If we receive a subpoena or other legal request, we may need to inspect the data we hold to determine how to respond.
            
        </li>
        <li class="ml-4 mb-4">
            To send you marketing and promotional communications. We and/or our third-party marketing partners may use the personal information you send to us for our marketing purposes, if this is in accordance with your marketing preferences. For example, when expressing an interest in obtaining information about us or our Services, subscribing to marketing or otherwise contacting us, we will collect personal information from you. You can opt-out of our marketing emails at any time (see the "WHAT ARE YOUR PRIVACY RIGHTS" below).
            
        </li>
        <li class="ml-4 mb-4">
            Deliver targeted advertising to you. We may use your information to develop and display personalized content and advertising (and work with third parties who do so) tailored to your interests and/or location and to measure its effectiveness.

        </li>
        
        <br> 
        <h1 class="font-bold">3. WILL YOUR INFORMATION BE SHARED WITH ANYONE?</h1>
        <br>
        
        We only share information with your consent, to comply with laws, to provide you with services, to protect your rights, or to fulfill business obligations.
        <br><br>
        We may process or share your data that we hold based on the following legal basis:
        <br><br>
        <li class="ml-4 mb-4">
        Consent: We may process your data if you have given us specific consent to use your personal information in a specific purpose.
            
        </li>
        <li class="ml-4 mb-4">
            Legitimate Interests: We may process your data when it is reasonably necessary to achieve our legitimate business interests.

        </li>
        <li class="ml-4 mb-4">
            Performance of a Contract: Where we have entered into a contract with you, we may process your personal information to fulfill the terms of our contract.

        </li>
        <li class="ml-4 mb-4">
            Legal Obligations: We may disclose your information where we are legally required to do so in order to comply with applicable law, governmental requests, a judicial proceeding, court order, or legal process, such as in response to a court order or a subpoena (including in response to public authorities to meet national security or law enforcement requirements).

        </li>
        <li class="ml-4 mb-4">
            Vital Interests: We may disclose your information where we believe it is necessary to investigate, prevent, or take action regarding potential violations of our policies, suspected fraud, situations involving potential threats to the safety of any person and illegal activities, or as evidence in litigation in which we are involved.

        </li>

        More specifically, we may need to process your data or share your personal information in the following situations:
        <br>
        <br>
        <li class="ml-4 mb-4">
            Business Transfers. We may share or transfer your information in connection with, or during negotiations of, any merger, sale of company assets, financing, or acquisition of all or a portion of our business to another company.

        </li>

        <br>
        <h1 class="font-bold">4. DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?</h1>
        <br>
        
        In Short:  We may use cookies and other tracking technologies to collect and store your information.
        <br>
        We may use cookies and similar tracking technologies (like web beacons and pixels) to access or store information. Specific information about how we use such technologies and how you can refuse certain cookies is set out in our Cookie Notice.

        <br>
        <br>
        <h1 class="font-bold">5. DO WE USE GOOGLE MAPS?</h1>
        <br>
        In Short:  Yes, we use Google Maps for the purpose of providing better service.
        This Website or App uses Google Maps APIs which is subject to Google's Terms of Service. You may find the Google Maps APIs Terms of Service <a href="https://developers.google.com/maps/terms" class="underline">here</a>  . To find out more about Google’s Privacy Policy, please refer to this <a href="https://policies.google.com/privacy" class="underline">link.</a> 
        <br>
        <br>            
        <p class="font-bold">6. HOW DO WE HANDLE YOUR SOCIAL LOGINS?</p>
        <br>
        In Short:  If you choose to register or log in to our services using a social media account, we may have access to certain information about you.
        Our Services offers you the ability to register and login using your third-party social media account details (like your Facebook or Google logins). Where you choose to do this, we will receive certain profile information about you from your social media provider. The profile Information we receive may vary depending on the social media provider concerned, but will often include your name, email address, profile picture as well as other information you choose to make public on such social media platforms.
        We will use the information we receive only for the purposes that are described in this privacy notice or that are otherwise made clear to you on the relevant Services. Please note that we do not control, and are not responsible for, other uses of your personal information by your third-party social media provider. We recommend that you review their privacy notice to understand how they collect, use and share your personal information, and how you can set your privacy preferences on their sites and apps.

        <br>
        <br>        
        <p class="font-bold">7. HOW LONG DO WE KEEP YOUR INFORMATION?</p>
        <br>
        In Short:  We keep your information for as long as necessary to fulfill the purposes outlined in this privacy notice unless otherwise required by law.
        <br>
        We will only keep your personal information for as long as it is necessary for the purposes set out in this privacy notice, unless a longer retention period is required or permitted by law (such as tax, accounting or other legal requirements). No purpose in this notice will require us keeping your personal information for longer than the period of time in which users have an account with us.
        When we have no ongoing legitimate business need to process your personal information, we will either delete or anonymize such information, or, if this is not possible (for example, because your personal information has been stored in backup archives), then we will securely store your personal information and isolate it from any further processing until deletion is possible.
        
        <br>
        <br>        
        <p class="font-bold">8. HOW DO WE KEEP YOUR INFORMATION SAFE?</p>
        <br>
        In Short:  We aim to protect your personal information through a system of organizational and technical security measures.
        We have implemented appropriate technical and organizational security measures designed to protect the security of any personal information we process. You should only access the Services within a secure environment.
        
        <br>
        <br>        
        <p class="font-bold">9. DO WE COLLECT INFORMATION FROM MINORS?</p>
        <br>
        We do not collect data from or market to children under 18 years of age.
        We do not knowingly solicit data from or market to children under 18 years of age. By using the Services, you represent that you are at least 18 or that you are the parent or guardian of such a minor and consent to such minor dependent’s use of the Services. If we learn that personal information from users less than 18 years of age has been collected, we will deactivate the account and take reasonable measures to promptly delete such data from our records. If you become aware of any data we may have collected from children under age 18, please contact us at privacy@resrvr.cc
        
        <br>
        <br>        
        <p class="font-bold">10. WHAT ARE YOUR PRIVACY RIGHTS?</p>
        <br>
        In Short:  You may review, change, or terminate your account at any time.
        If you have questions or comments about your privacy rights, you may email us at privacy@reserv.cc.

        <br>
        <br>
        <p class="font-bold">Account Information</p>

        If you would at any time like to review or change the information in your account or terminate your account, you can:
        
        <li>Contact us using the contact information provided.</li>  
        Upon your request to terminate your account, we will deactivate or delete your account and information from our active databases. However, we may retain some information in our files to prevent fraud, troubleshoot problems, assist with any investigations, enforce our Terms and Conditions and/or comply with applicable legal requirements.
        Cookies and similar technologies: Most Web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove cookies and to reject cookies. If you choose to remove cookies or reject cookies, this could affect certain features or services of our Services. To opt-out of interest-based advertising by advertisers on our Services visit http://www.aboutads.info/choices/.
        Opting out of email marketing: You can unsubscribe from our marketing email list at any time by clicking on the unsubscribe link in the emails that we send or by contacting us using the details provided below. You will then be removed from the marketing email list – however, we may still communicate with you, for example to send you service-related emails that are necessary for the administration and use of your account, to respond to service requests, or for other non-marketing purposes. To otherwise opt-out, you may:
        
        <li>Contact us using the contact information provided.</li> 
        <br>
        <p class="font-bold">11. CONTROLS FOR DO-NOT-TRACK FEATURES</p>
        <br>
        
        Most web browsers and some mobile operating systems and mobile applications include a Do-Not-Track (“DNT”) feature or setting you can activate to signal your privacy preference not to have data about your online browsing activities monitored and collected. At this stage, no uniform technology standard for recognizing and implementing DNT signals has been finalized. As such, we do not currently respond to DNT browser signals or any other mechanism that automatically communicates your choice not to be tracked online. If a standard for online tracking is adopted that we must follow in the future, we will inform you about that practice in a revised version of this privacy notice.


        <br><br>
        <p class="font-bold">12. DO WE MAKE UPDATES TO THIS NOTICE?</p>
        <br>

        In Short:  Yes, we will update this notice as necessary to stay compliant with relevant laws.
        We may update this privacy notice from time to time. The updated version will be indicated by an updated “Revised” date and the updated version will be effective as soon as it is accessible. If we make material changes to this privacy notice, we may notify you either by prominently posting a notice of such changes or by directly sending you a notification. We encourage you to review this privacy notice frequently to be informed of how we are protecting your information.

        <br>
        <br>
        <p class="font-bold">13. HOW CAN YOU CONTACT US ABOUT THIS NOTICE?</p>
        <br>

        If you have questions or comments about this notice, you may email us at privacy@reservr.cc
        HOW CAN YOU REVIEW, UPDATE, OR DELETE THE DATA WE COLLECT FROM YOU?
        Based on the applicable laws of your country, you may have the right to request access to the personal information we collect from you, change that information, or delete it in some circumstances. To request to review, update, or delete your personal information, please visit: privacy@resrvr.cc. We will respond to your request within 30 days.

        </div>
    </div>
</template>

<script>
import layout from '@/Shared/MainLayout'
export default {
    layout
}
</script>