<template>
    <div class="container">
        <div class="py-12 sm:text-center">
            <p class="text-4xl text-gray-900 font-bold mb-4 uppercase">TERMS AND CONDITIONS</p>
            <span class="text-gray-500">Last updated January, 2021</span>
        </div>
        <div class="pb-12">
            
            <p class="font-bold">1. Agreement to Terms</p>
            <br>    
            
            1.1  These Terms and Conditions constitute a legally binding agreement made between you, whether personally or on behalf of an entity (you), and Reservr, a trademark of SKH Ventures (We, us), Certain features of the Site reservr.cc (The Site, site) may be subject to additional guidelines, terms, or rules, which will be posted on the Site in connection with such features. All such additional terms, guidelines, and rules are incorporated by reference into these Terms.
            <br><br>
            
            The Site provides the following services: A booking/reservation platform that enables Institutions/Businesses to manage and track walk-ins efficiently. Attendees/clients can enjoy the convenience of booking or reserving available slots all in one place. 
            (Services). You agree that by accessing the Site and/or Services, you have read, understood, and agree to be bound by all of these Terms and Conditions.  
            <br>

            If you do not agree with all of these Terms and Conditions, then you are prohibited from using the Site and Services and you must discontinue use immediately. We recommend that you print a copy of these Terms and Conditions for future reference.  
            <br><br>

            
            1.2  The supplemental policies set out in Section 1.7 below, as well as any supplemental terms and conditions or documents that may be posted on the Site from time to time, are expressly incorporated by reference.  
            <br><br>
            1.3  We may make changes to these Terms and Conditions at any time. The updated version of these Terms and Conditions will be indicated by an updated “Revised” date and the updated version will be effective as soon as it is accessible. You are responsible for reviewing these Terms and Conditions to stay informed of updates. Your continued use of the Site represents that you have accepted such changes.  
            <br><br>
            1.4  We may update or change the Site from time to time to reflect changes to our products, our users' needs and/or our business priorities.  
            <br><br>
            1.5  Our site is directed to people residing in Ghana. The information provided on the Site is not intended for distribution to or use by any person or entity in any jurisdiction or country where such distribution or use would be contrary to law or regulation or which would subject us to any registration requirement within such jurisdiction or country.   
            <br><br>
            1.6  The Site is intended for users who are at least 18 years old.  If you are under the age of 18, you are not permitted to register for the Site or use the Services without parental permission. 
            <br><br>
            1.7  Additional policies which also apply to your use of the Site include:   
            <br><br>

            <li> Our Privacy Notice, which sets out the terms on which we process any personal data we collect from you, or that you provide to us. By using the Site, you consent to such processing and you warrant that all data provided by you is accurate.   </li><br>
            <li> Our Cookie Policy, which sets out information about the cookies on the Site.    </li><br>
            <li> If you purchase from the Site, our Privacy policy and Terms and Conditions will apply</li><br>
            
            
            <p class="font-bold">2. Acceptable Use  </p>
            <br>     
            
            2.1  Our full Acceptable Use Policy sets out all the permitted uses and prohibited uses of this site.    
            <br><br>
            2.2  You may not access or use the Site for any purpose other than that for which we make the site and our services available. The Site may not be used in connection with any commercial endeavors except those that are specifically endorsed or approved by us.  
            <br><br>
            2.3  As a user of this Site, you agree not to:
            <br><br>
            <li> Falsely imply a relationship with us or another company with whom you do not have a relationship   </li>
            <br>
            
            <p class="font-bold">3. Information you provide to us </p>
            <br> 
            
            3.1  You represent and warrant that: (a) all registration information you submit will be true, accurate, current, and complete and relate to you and not a third party; (b) you will maintain the accuracy of such information and promptly update such information as necessary; (c) you will keep your password confidential and will be responsible for all use of your password and account; (d) you have the legal capacity and you agree to comply with these Terms and Conditions; and (e) you are not a minor in the jurisdiction in which you reside, or if a minor, you have received parental permission to use the Site.  
            <br><br>
            If you know or suspect that anyone other than you knows your user information (such as an identification code or user name) and/or password you must promptly notify us at hello@resrvr.cc
            <br><br>
            3.2  If you provide any information that is untrue, inaccurate, not current or incomplete, we may suspend or terminate your account. We may remove or change a user name you select if we determine that such user name is inappropriate.     
            <br>
        
            <br>
            <p class="font-bold">4. Content you provide to us</p>
            <br> 
            
            4.1  There may be opportunities for you to post content to the Site or send feedback to us (User Content). You understand and agree that your User Content may be viewed by other users on the Site, and that they may be able to see who has posted that User Content.  
            <br><br>
            4.2  You further agree that we can use your User Content for any other purposes whatsoever in perpetuity without payment to you, and combine your User Content with other content for use within the Site and otherwise. We do not have to attribute your User Content to you. When you upload or post content to our site, you grant us the following rights to use that content:  
            <br><br>
            4.3  In posting User Content, including reviews or making contact with other users of the Site you shall comply with our Acceptable Use Policy.
            <br><br>
            4.4  You warrant that any User Content does comply with our Acceptable Use Policy, and you will be liable to us and indemnify us for any breach of that warranty. This means you will be responsible for any loss or damage we suffer as a result of your breach of this warranty. 
            <br><br>
            4.5  We have the right to remove any User Content you put on the Site if, in our opinion, such User Content does not comply with the Acceptable Use Policy.  
            <br><br>
            4.6  We are not responsible and accept no liability for any Content posted by Institutions/Businesses including any such content that contains incorrect information. User Content has not been published by us and the information posted by Institutions/Businesses lies in their responsibility.
            <br><br>
            4.7  If you wish to complain about User Content uploaded by other users please contact us at hello@reservr.cc
            <br>

            <br>
            <p class="font-bold">5. Our content</p>
            <br> 
                
            5.1  Unless otherwise indicated, the Site and Services including source code, databases, functionality, software, website designs, audio, video, text, photographs, and graphics on the Site (Our Content) are owned or licensed to us, and are protected by copyright and trademark laws. 
            <br><br>
            5.2  Except as expressly provided in these Terms and Conditions, no part of the Site, Services or Our Content may be copied, reproduced, aggregated, republished, uploaded, posted, publicly displayed, encoded, translated, transmitted, distributed, sold, licensed, or otherwise exploited for any commercial purpose whatsoever, without our express prior written permission. 
            <br><br>
            5.3  Provided that you are eligible to use the Site, you are granted a limited license to access and use the Site and Our Content and to download or print a copy of any portion of the Content to which you have properly gained access solely for your personal, non-commercial use.   
            <br><br>
            5.4  You shall not (a) try to gain unauthorized access to the Site or any networks, servers or computer systems connected to the Site; and/or (b) make for any purpose including error correction, any modifications, adaptations, additions or enhancements to the Site or Our Content, including the modification of the paper or digital copies you may have downloaded. 
            <br><br>
            5.5  We shall (a) prepare the Site and Our Content with reasonable skill and care; and (b) use industry standard virus detection software to try to block the uploading of content to the Site that contains viruses.  
            <br><br>
            5.6  The content on the Site is provided for general information.
            <br>
            
            <br>
            <p class="font-bold">6. Link to third party content</p>
            <br> 
            
            6.1  The Site may contain links to websites or applications operated by third parties. We do not have any influence or control over any such third party websites or applications or the third party operator. We are not responsible for and do not endorse any third party websites or applications or their availability or content.
            <br><br>
            6.2  We accept no responsibility for Institutions/Businesses on the Site. If you agree to purchase goods and/or services from  Institutions/Businesses on the Site, you do so at your own discretion.    
            <br>

            <br>
            <p class="font-bold">7. Site Management</p>
            <br>      
            
            7.1  We reserve the right at our sole discretion, to (1) monitor the Site for breaches of these Terms and Conditions; (2) take appropriate legal action against anyone in breach of applicable laws or these Terms and Conditions; (3) refuse, restrict access to or availability of, or disable (to the extent technologically feasible) any of your Contributions; (4) remove from the Site or otherwise disable all files and content that are excessive in size or are in any way a burden to our systems; and (5) otherwise manage the Site in a manner designed to protect our rights and property and to facilitate the proper functioning of the Site and Services.  
            <br>
            
            
            <br>
            <p class="font-bold">8. Modifications to and availability of the Site </p>
            <br>    
            
            8.1  We reserve the right to change, modify, or remove the contents of the Site at any time or for any reason at our sole discretion without notice. We also reserve the right to modify or discontinue all or part of the Services without notice at any time.    
            <br><br>
            8.2  We may need to perform maintenance related to the Site, resulting in interruptions, delays, or errors. You agree that we have no liability whatsoever for any loss, damage, or inconvenience caused by your inability to access or use the Site or Services during any downtime or discontinuance of the Site or Services. We are not obliged to maintain and support the Site or Services or to supply any corrections, updates, or releases. 
            <br><br>
            8.3  There may be information on the Site that contains typographical errors, inaccuracies, or omissions that may relate to the Services, including descriptions, pricing, availability, and various other information. We reserve the right to correct any errors, inaccuracies, or omissions and to change or update the information at any time, without prior notice.  
            <br><br>

            
            <br>
            <p class="font-bold">9. Disclaimer/Limitation of Liability </p>
            <br>

            9.1  The Site and Services are provided on an as-is and as-available basis. You agree that your use of the Site and/or Services will be at your sole risk except as expressly set out in these Terms and Conditions. All warranties, terms, conditions and undertakings, express or implied (including by statute, custom or usage, a course of dealing, or common law) in connection with the Site and Services and your use thereof including, without limitation, the implied warranties of satisfactory quality, fitness for a particular purpose and non-infringement are excluded to the fullest extent permitted by applicable law.  
            <br><br>
            We make no warranties or representations about the accuracy or completeness of the Site’s content and are not liable for any (1) errors or omissions in content: (2) any unauthorized access to or use of our servers and/or any and all personal information and/or financial information stored on our server; (3) any interruption or cessation of transmission to or from the site or services; and/or (4) any bugs, or the like which may be transmitted to or through the site by any third party. We will not be responsible for any delay or failure to comply with our obligations under these Terms and Conditions if such delay or failure is caused by an event beyond our reasonable control. 
            <br><br>
            9.2  Our responsibility for loss or damage suffered by you: 
            <br><br>
            Whether you are a consumer or a business user: 
            
            <li> We do not exclude or limit in any way our liability to you where it would be unlawful to do so. </li><br>
            
            <li> You agree to indemnify and hold the company and its officers, employees, and agents harmless, including costs and attorney's’ fees, from any claim or demand made by any third- party due to or arising out of (a) your use of the Site, (b) your violation of these Terms, (c) your violation of applicable laws or regulations or (d) your User Content. Company reserves the right to assume the exclusive defense and control of any matter for which you are required to indemnify us, and you agree to cooperate with our defense of these claims. You agree not to settle any matter without the prior written consent of the company. The company will use reasonable efforts to notify you of any such claim, action or proceeding upon becoming aware of it. </li>
            <br>
            Please read this Arbitration Agreement carefully. It is part of your contract with Company and affects your rights. It contains procedures for mandatory binding arbitration and a class action waiver.
            <br><br>
            Applicability of arbitration agreement. All claims and disputes in connection with the terms or the use of any product or service provided by the company that cannot be resolved informally or in small claims court shall be resolved by binding arbitration on an individual basis under the terms of this arbitration agreement. Unless otherwise agreed to, all arbitration proceedings shall be held in English. This Arbitration Agreement applies to you and the company, and to any subsidiaries, affiliates, agents, employees, predecessors in interest, successors, and assigns, as well as all authorized or unauthorized users or beneficiaries of services or goods provided under the Terms.
            <br><br>
            Notice Requirement and Informal Dispute Resolution
            <br><br>
            Before either party may seek arbitration, the party must first send to the other party a written Notice of dispute describing the nature and basis of the claim or dispute, and the requested relief. A Notice to the company should be sent to hello@reservr.cc
            After the Notice is received, you and the company may attempt to resolve the claim or dispute informally. If you and the company do not resolve the claim or dispute within thirty (30) days after the Notice is received, either party may begin an arbitration proceeding. The amount of any settlement offer made by any party may not be disclosed to the arbitrator until after the arbitrator has determined the amount of the award to which either party is entitled.
            <br><br>
            Additional Rules for Non-Appearance Based Arbitration. If non-appearance based arbitration is elected, the arbitration shall be conducted by telephone, online and or based solely on written submissions; the specific manner shall be chosen by the party
            <br><br>
            initiating the arbitration. The arbitration shall not involve any personal appearance by the parties or witnesses unless otherwise agreed by the parties.
            <br><br>
            Time Limits. If you or the Company pursues arbitration, the arbitration action must be initiated and or demanded within the statute of limitations and within any deadline imposed under rules of the pertinent claim.
            <br><br>
            Authority of Arbitrator.
            <br><br>
            If arbitration is initiated, the arbitrator will decide the rights and liabilities of you and the Company, and the dispute will not be consolidated with any other matters or joined with any other cases or parties. The arbitrator shall have the authority to grant motions dispositive of all or part of any claim.
            <br><br>
            Waiver of class or consolidated actions.
            <br><br>
            All claims and disputes within the scope of this arbitration agreement must be arbitrated or litigated on an individual basis and not on a class basis, and claims of more than one customer or user cannot be arbitrated or litigated jointly or consolidated with those of any other customer or user.
            <br><br>
            Confidentiality.
            <br><br>
            All aspects of the arbitration proceeding shall be strictly confidential. The parties agree to maintain confidentiality unless otherwise required by law. This paragraph shall not prevent a party from submitting to a court of law any information necessary to enforce this agreement, to enforce an arbitration award, or to seek injunctive or equitable relief.
            <br><br>
            Severability.
            <br><br>
            If any part or parts of this arbitration agreement are found under the law to be invalid or unenforceable by a court of competent jurisdiction, then such specific part or parts shall be of no force and effect and shall be severed and the remainder of the Agreement shall continue in full force and effect.
            <br><br>
            Any or all of the rights and limitations set forth in this Arbitration Agreement may be waived by the party against whom the claim is asserted. Such waiver shall not waive or affect any other portion of this arbitration agreement.
            <br><br>
            The communications between you and Company use electronic means, whether you use the Site or send us emails, or whether Company posts notices on the Site or communicates with you via email. For contractual purposes, you (a) consent to receive communications from Company in an electronic form; and (b) agree that all terms and conditions, agreements, notices, disclosures, and other communications that Company provides to you electronically satisfy any legal obligation that such communications would satisfy if it were be in a hard copy writing. Entire Terms. These Terms constitute the entire agreement between you and us regarding the use of the Site. Our failure to exercise or enforce any right or provision of these Terms shall not operate as a waiver of such right or provision. The section titles in these Terms are for convenience only and have no legal or contractual effect. The word “including” means “including without limitation”. If any provision of these Terms is held to be invalid or unenforceable, the other provisions of these Terms will be unimpaired and the invalid or unenforceable provision will be deemed modified so that it is valid and enforceable to the maximum extent permitted by law. The company may freely assign these Terms. The terms and conditions set forth in these Terms shall be binding upon assignees.
            <br><br>
            
            <p class="font-bold"> 10 Term and Termination </p>
            <br>
            10.1  These Terms and Conditions shall remain in full force and effect while you use the Site or Services or are otherwise a user of the Site, as applicable. You may terminate your use or participation at any time, for any reason, by following the instructions for terminating user accounts in your account settings, if available, or by contacting us at hello@reservr.cc  
            <br><br>
            10.2  Without limiting any other provision of these Terms and Conditions, we reserve the right to, in our sole discretion and without notice or liability, deny access to and use of the Site and the Services (including blocking certain IP addresses), to any person for any reason including without limitation for breach of any representation, warranty or covenant contained in these Terms and Conditions or of any applicable law or regulation.  
            <br><br>
            If we determine, in our sole discretion, that your use of the Site/Services is in breach of these Terms and Conditions or of any applicable law or regulation, we may terminate your use or participation in the Site and the Services or delete your profile and any content or information that you posted at any time, without warning, in our sole discretion.  
            <br><br>
            10.3  If we terminate or suspend your account for any reason set out in this Section 9, you are prohibited from registering and creating a new account under your name, a fake or borrowed name, or the name of any third party, even if you may be acting on behalf of the third party. In addition to terminating or suspending your account, we reserve the right to take appropriate legal action, including without limitation pursuing civil, criminal, and injunctive redress.     
            <br><br>
            <p class="font-bold"> 11  Mobile Application </p>
            <br>
            11.1  If you access the Services via a mobile application, then we grant you a revocable, non-exclusive, non-transferable, limited right to install and use the mobile application on wireless electronic devices owned or controlled by you, and to access and use the mobile application on such devices strictly in accordance with the terms and conditions of this license.  
            <br><br>
            11.2  The following terms apply when you use a mobile application obtained from either the Apple Store or Google Play (each an App Distributor) to access the Services: 
            <br><br>
            (a) The license granted to you for our mobile application is limited to a non-transferable licence to use the application on a device that utilizes the Apple iOS or Android operating system, as applicable, and in accordance with the usage rules set forth in the applicable App Distributor terms of service. 
            <br><br>
            (b) We are responsible for providing any maintenance and support services with respect to the mobile application as specified in these Terms and Conditions or as otherwise required under applicable law. You acknowledge that each App Distributor has no obligation whatsoever to furnish any maintenance and support services with respect to the mobile application.
            
            <br><br>
            <p class="font-bold"> 12 General   </p>
            <br>
            12.1  Visiting the Site, sending us emails, and completing online forms constitute electronic communications. You consent to receive electronic communications and you agree that all agreements, notices, disclosures, and other communications we provide to you electronically, via email and on the Site, satisfy any legal requirement that such communication be in writing.  
            <br><br>
            You hereby agree to the use of electronic signatures, contracts, orders and other records and to electronic delivery of notices, policies and records of transactions initiated or completed by us or via the Site. You hereby waive any rights or requirements under any statutes, regulations, rules, ordinances or other laws in any jurisdiction which require an original signature or delivery or retention of non-electronic records, or to payments or the granting of credits by other than electronic means.  
            <br><br>
            12.2  These Terms and Conditions and any policies or operating rules posted by us on the Site or in respect to the Services constitute the entire agreement and understanding between you and us.   
            <br><br>
            12.3  Our failure to exercise or enforce any right or provision of these Terms and Conditions shall not operate as a waiver of such right or provision.   
            <br><br>
            12.4  We may assign any or all of our rights and obligations to others at any time.
            <br><br>
            12.5  We shall not be responsible or liable for any loss, damage, delay or failure to act caused by any cause beyond our reasonable control.   
            <br><br>
            12.6  If any provision or part of a provision of these Terms and Conditions is unlawful, void or unenforceable, that provision or part of the provision is deemed severable from these Terms and Conditions and does not affect the validity and enforceability of any remaining provisions.  
            <br><br>
            12.7  There is no joint venture, partnership, employment or agency relationship created between you and us as a result of these Terms and Conditions or use of the Site or Services.     
            <br><br>
            12.8  The following are trademarks of Reservr. All trademarks, logos and service marks displayed on the Site are our property or the property of other third-parties. You are not permitted to use these Marks without our prior written consent or the consent of such third party which may own the Marks. You are not permitted to use them without our approval, unless they are part of material our Site explicitly states you are permitted to use.     
            <br><br>
            12.9  In order to resolve a complaint regarding the Services or to receive further information regarding use of the Services, please contact us by email at hello@reservr.cc
            
        </div>
    </div>
</template>

<script>
import layout from '@/Shared/MainLayout'
export default {
    layout
}
</script>