<template>
    <div class="container pt-6 pb-12">
        <div class="">
            <form @submit.prevent="performSearch">
                <div class="mb-6 rounded-lg flex space-x-3 max-w-xl">
                    <t-input v-model="search.name" class="rounded-lg" placeholder="Search event name"/>
                    <t-button class=""> <icon name="search"/> Search</t-button>
                </div>
            </form>

            <div v-if="!results.length">
                <p class="text-center mb-4"> <span class="text-gray-500"> Nothing found for </span>"{{search.name}}"</p>
                <div class="flex-center p-8">
                    <img src="/img/empty.svg" alt="empty-box" class="h-60">
                </div>
            </div>

            <div v-else class="-mx-2 sm:-mx-0">
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                    <inertia-link class="flex sm:flex-col border rounded-lg bg-white overflow-hidden hover:shadow-xl" :href="event.path" v-for="(event, index) in results" :key="index">
                        <!-- <img class="w-1/3 object-cover bg-gradient-to-br from-gray-500 to-gray-800" :src="event.poster"/> -->
                        <div class="w-1/3 bg-center bg-cover h-48 sm:h-56 sm:w-full" :style="`background-image: url(${event.poster})`"></div>
                        <div class="w-2/3 sm:w-full flex-1 p-4 flex flex-col relative">
                            <div class="flex-1 space-y-2">
                                <div class="flex-between flex-wrap">
                                    <p class="text-indigo-800 font-bold text-sm">{{ $moment(event.date).format('ll') }}</p>
                                    <span class="text-sm text-green-900 font-semibold bg-green-200 rounded-full  px-3">{{event.price > 0 ? event.display_price : 'Free'}}</span>
                                </div>
                                <p class="font-bold leading-5 text-gray-700 line-clamp-2">{{event.name}}</p> 
                                <p class="text-gray-600 text-sm font-semibold line-clamp-2">{{event.description}}</p>
                            </div>
                            <div class="mt-3 flex-between">
                                <span class="text-xs font-semibold" :class="event.available_slots ? 'text-gray-600' : 'text-red-600'">{{event.available_slots ? `${event.available_slots} left` : 'Sold out!'}}</span>
                                <span class="uppercase text-xs hover:text-indigo-700 text-indigo-800 font-bold inline-block">
                                    See more ->
                                </span>
                            </div>
                        </div>
                    </inertia-link>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import layout1 from '@/Shared/MainLayout'
// import layout2 from '../../Layout'
export default {
    layout: [layout1],
    props: {
        results: Array,
        search_term: String,
    },

    data(){
        return {
            search: {
                name: ''
            }
        }
    },

    methods: {
        performSearch(){
            this.$inertia.visit(route('search.events'), {
                data: this.search,
                preserveState: true
            })
        }
    }
}
</script>