<template>
    <div class="relative pattern-bg">
        <!-- <div class="absolute right-0 z-10 w-36 h-36 opacity-10 bg-center origin-right transform rotate-45 scale-150" :style="`background-image:url('${event.poster}')`"></div> -->
        <div class="container py-16 relative z-20">
            <div class="-mx-4 sm:-mx-0 grid grid-cols-1 sm:grid-cols-5 sm:gap-6">
                <img class="sm:col-span-2 w-full object-cover bg-gray-900 sm:rounded-xl shadow-lg" :src="event.poster"/>
                <div class="sm:col-span-3">
                    <div class="p-4 sm:p-0 space-y-3">
                        <p class="font-bold text-indigo-700 text-xl">{{$moment(event.date).format('LL')}}</p>
                        <p class="text-2xl sm:text-4xl font-black">{{event.name}}</p>
                        <p class="font-medium text-gray-700">{{event.description}}</p>
                        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 py-2">
                            <div>
                                <p class="text-gray-800 font-bold text-xl">Venue</p>
                                <p class="font-medium text-gray-700">{{event.location}}</p>
                            </div>
                            <div>
                                <p class="text-gray-800 font-bold text-xl">Date & Time</p>
                                <p class="font-medium text-gray-700">{{$moment(event.date).format('LLLL')}}</p>
                            </div>
                        </div>
    
                        <div class="py-4">
                            <div class="max-w-sm" v-if="event.available_slots">
                                <div class="font-semibold text-xl text-center text-indigo-800 mb-1">{{event.price ? event.display_price : 'Event is Free'}}</div>
                                <t-button variant="brand" class="w-full py-3 uppercase font-semibold rounded-lg" @click="showReservationForms = !showReservationForms">Get Tickets</t-button>
                            </div>
                            <div v-else>
                                <p class="text-7xl font-black text-gray-300">Event is sold out!</p>
                            </div>
                        </div>
                    </div>
    
                    <t-modal v-model="showReservationForms" @before-close="beforeClose">
                        <div class="">
                            <div class="flex-between pb-3 mb-4">
                                <div class="flex-1">
                                    <p class="font-semibold">Please provide your personal information</p>
                                </div>
                            </div>
                            <form @submit.prevent="makeReservation">
                                <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
                                    <t-input-group label="First Name" :variant="errors.first_name && 'error'" :feedback="errors.first_name" required>
                                        <t-input v-model="reservation.first_name"/>
                                    </t-input-group>
                                    <t-input-group label="Last Name" :variant="errors.last_name && 'error'" :feedback="errors.last_name" required>
                                        <t-input v-model="reservation.last_name"/>
                                    </t-input-group>
                                    <t-input-group label="Phone" :variant="errors.phone && 'error'" :feedback="errors.phone" required>
                                        <t-input v-model="reservation.phone" type="tel"/>
                                    </t-input-group>
                                    <t-input-group label="Email">
                                        <t-input v-model="reservation.email" type="email"/>
                                    </t-input-group>
                                    <t-input-group label="Number of Tickets" class="sm:col-span-2" :variant="errors.count && 'error'" :feedback="errors.count" required>
                                        <t-input v-model="reservation.count" type="number"/>
                                    </t-input-group>
                                    <t-button variant="brand" class="sm:col-span-2 mt-2 py-2" :disabled="processing"> {{processing ? 'Please wait...' : 'Book Now ->'}} </t-button>
                                </div>
                            </form>
                        </div>
                    </t-modal>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import layout1 from '@/Shared/MainLayout'
export default {
    layout: [layout1],
    props: {
        errors: Object,
        event: Object,
    },

    data(){
        return {
            processing: false,
            showReservationForms: false,
            selected_slot: null,
            reservation: this.$inertia.form({
                // reservable_type: 'App\\Models\\Event',
                // reservable_id: this.event.id,
                // slot_id: '',
                first_name: '',
                last_name: '',
                phone: '',
                email: '',
                count: 1,
                appointment_date: '',
                appointment_time: '',
                amount: 0,
            })
        }
    },

    methods: {
        makeReservation(){
            if(this.processing) return
            this.reservation.appointment_date = this.event.date
            this.reservation.appointment_time = this.event.time
            this.processing = true
            
            this.reservation.post(route('guests.events.reservations.store', {code: this.event.code}),{
                preserveState: true,
                preserveScroll: true,
                onFinish: () => this.processing = false
            })
        },

        beforeClose({cancel}){
            if(this.processing){
                cancel()
            }
        }
    }
}
</script>

<style scope>
    .pattern-bg {
        background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%239C92AC' fill-opacity='0.09'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
    }
</style>