<template>
    <div class="space-y-6">
        <div class="flex-between mb-6">
            <div class="text-xl font-semibold">All Events</div>
        </div>

        <!-- Search -->
        <div class="bg-white p-4 rounded-lg border">
            <div class="form-row-cols-4">
                <t-input-group>
                    <t-input v-model="search.name" placeholder="Event"/>
                </t-input-group>
                <t-input-group>
                    <t-datepicker v-model="search.dates" placeholder="Date range"/>
                </t-input-group>
            </div>
        </div>

        <div class="table-container spread">
            <table class="table">
                <thead>
                    <tr class="th-row">
                        <th class="py-4 t-cell">Event</th>
                        <th class="py-4 t-cell">Schedule</th>
                        <th class="py-4 t-cell">Price</th>
                        <th class="py-4 t-cell">Capacity</th>
                        <th class="py-4 t-cell">Available</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="cursor-pointer td-row hover:bg-gray-50"
                        v-for="(event, index) in events.data" 
                        :key="index" @click="$inertia.visit(route('admins.events.show', {event: event.id}))"
                    >
                        <td class="t-cell pr-0 flex space-x-4">
                            <img :src="event.poster" class="w-12 h-12 object-cover rounded-full shadow" alt="event poster" />
                            <div class="relative">
                                <p class="font-bold tracking-widest">{{ event.code }}</p> 
                                <p class="truncate">{{event.name}}</p>
                            </div>
                        </td>
                        <!-- <td class="t-cell pl-0">
                            <p class="font-bold tracking-widest">{{ event.code }}</p> 
                            <p class="truncate">{{event.name}}</p>
                            <p v-if="isPast(event)" class="text-xs text-red-500">Past</p> 
                            <p v-else class="text-xs" :class="event.published_at ? 'text-green-600' : 'text-red-500'">{{event.published_at ? 'Published' : 'Unpublished'}} </p> 
                        </td> -->
                        <!-- <td class="t-cell overflow-hidden " style="max-width: 250px">
                            <p class="truncate">{{event.name}}</p> 
                            <p class="text-xs truncate">{{event.description}}</p>
                        </td> -->
                        <td class="t-cell">
                            <p class="">{{$moment(event.date).format('lll')}}</p>
                            <!-- <p class="text-xs" :class="isPast(event) && 'text-red-600'">{{$moment().to(event.date)}}</p> -->
                        </td>
                        <td class="t-cell"> GHS {{event.price}} </td>
                        <td class="t-cell"> {{event.capacity}} </td>
                        <td class="t-cell"> {{event.available_slots}} </td>
                    </tr>
                     <tr class="cursor-pointer td-row hover:bg-gray-50" v-if="!events.data.length">
                        <td class="t-cell">No events found</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pagination :onPageChange="getData" :links="events.links" :from="events.from" :to="events.to" :total="events.total" />
    </div>
</template>

<script>
import layout from '../Layout'
import Searchable from '@Mixins/Searchable'
export default {
    mixins: [Searchable],
    layout,
    props: {
        events: Object,
    },

    data(){
        return {
            search: {
                name: '',
                dates: '',
            }
        }
    },

    methods: {
        isPast(event){
            return this.$moment(event.date) < this.$moment()
        },

        getData(page = 1){
            this.$inertia.get(route('admins.events'), {page, ...this.search}, {
                preserveState: true
            })
        }
    }
}
</script>