<template>
    <div class="space-y-6">

        <inertia-link :href="route('admins.events')" class="font-semibold text-gray-700 flex items-center space-x-1"> 
            <icon name="arrow-left"/> 
            <span>Back</span> 
        </inertia-link>

        <div class="flex-between">
            <div class="flex space-x-4">
                <img :src="event.poster" class="w-16 h-16 object-cover rounded-full shadow" alt="event logo" />
                <div>
                    <div class="text-xl font-semibold">{{event.name}}</div>
                    <div class="text-sm">Created <span class="font-semibold">{{$moment(event.created_at).format('LL') }}</span> </div>
                </div>
            </div>
        </div>

        <!-- Details -->
        <div class="flex space-x-6">
            <img width="374" :src="event.poster" class="object-cover rounded-lg shadow" alt="event logo" />
        
            <div class="flex-1 rounded-lg bg-white border">
                <div class="px-6 py-4 border-b">
                    <p class="font-semibold">Event Details</p>
                </div>
                <div class="px-6 py-4">
                    <div class="grid grid-cols-2 gap-6">
                        <div class="text-gray-800">
                            <p class="text-gray-500 font-semibold">Name</p>
                            <p>{{event.name}}</p>
                        </div>
                        <div class="text-gray-800">
                            <p class="text-gray-500 font-semibold">Owner</p>
                            <inertia-link :href="route('admins.users.show', {user: event.tenant.id})" class="text-blue-600">{{event.tenant.name}}</inertia-link>
                        </div>
                        <div class="text-gray-800">
                            <p class="text-gray-500 font-semibold">Code</p>
                            <p>{{event.code}}</p>
                        </div>
                        <div class="text-gray-800">
                            <p class="text-gray-500 font-semibold">Date</p>
                            <p>{{$moment(event.date).format('ll') }}</p>
                        </div>
                        <div class="text-gray-800 col-span-2">
                            <p class="text-gray-500 font-semibold">Description</p>
                            <p>{{event.description}}</p>
                        </div>
                        <div class="text-gray-800">
                            <p class="text-gray-500 font-semibold">Location</p>
                            <p>{{event.location}}</p>
                        </div>
                        <div class="text-gray-800">
                            <p class="text-gray-500 font-semibold">Price</p>
                            <p>GHC {{event.price}}</p>
                        </div>
                        <div class="text-gray-800">
                            <p class="text-gray-500 font-semibold">Capacity</p>
                            <p>{{event.capacity}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import layout from '../Layout'
export default {
    layout,
    props: {
        event: Object,
    },

    data(){
        return {}
    },
}
</script>