<template>
    <div class="container py-6">
        <div class="-mx-4 sm:-mx-0">
            <div class="mb-6 p-4 bg-white border sm:rounded-lg">
                <div class="flex-between" @click="showFilters = !showFilters">
                    <span class="font-semibold font-gray-700">Search</span>
                    <icon name="chevron-down"/>
                </div>
                <div class="sm:flex sm:space-x-3 rounded-lg mt-4" v-if="showFilters">
                    <div class="flex-1 sm:flex">
                        <t-input v-model="search.name" class="mb-2 sm:mb-0 sm:mr-3" placeholder="Search business name"/>
                        <t-select placeholder="All categories" :options="categories" v-model="search.category"></t-select>
                    </div>
                    <div class="flex space-x-3 mt-3 sm:mt-0">
                        <t-button @click="getData"> <icon name="search"/> <span>Search</span> </t-button>
                        <t-button @click="clearSearch"> <icon name="x"/> <span>Clear</span> </t-button>
                    </div>
                </div>
            </div>

            <div v-if="!results.data.length">
                <p class="text-center mb-4"> <span class="text-gray-500"> Nothing found for </span>"{{search.name}}"</p>
                <div class="flex-center p-8">
                    <img src="/img/empty.svg" alt="empty-box" class="h-60">
                </div>
            </div>

            <div v-else class="grid grid-cols-1 lg:grid-cols-2 gap-4">
                <inertia-link :href="business.path" class="p-4 flex space-x-4 rounded-lg overflow-hidden bg-white border hover:shadow" v-for="(business, index) in results.data" :key="index">
                    <img class="object-cover h-12 w-12 sm:h-16 sm:w-16 rounded-lg shadow-2xl border" :src="business.logo" />
                    <div class="flex-1 space-y-1">
                        <div class="flex justify-between items-start space-x-4">
                            <div class="flex">
                                <p class="font-bold tracking-wide text-gray-700">{{business.name}}</p> 
                            </div>
                        </div>
                        <p class="text-sm text-gray-600">{{business.description}}</p>
                        <div class="flex items-center justify-between flex-wrap">
                            <div class="mr-3 flex items-center space-x-1 text-sm text-gray-600">
                                <icon name="location"/>
                                <span>{{business.location}}</span>
                            </div>
                        </div>
                        <div class="flex items-center flex-wrap justify-between text-sm">
                            <div class="flex items-center space-x-1">
                                <icon name="mail"/>
                                <span>{{business.date}}</span>
                            </div>
                            <div class="flex items-center space-x-2 py-2 text-indigo-800 font-bold">
                                <span> Book </span>
                                <icon name="arrow-right"/>
                            </div>
                        </div>
                    </div>
                </inertia-link>
            </div>

            <!-- Pagination -->
            <Pagination :links="results.links" :onPageChange="getData"/>
        </div>
    </div>
</template>
<script>
import layout1 from '@/Shared/MainLayout'
import Pagination from '@/Shared/SpecialPagination'
// import layout2 from '../../Layout'
export default {
    layout: [layout1],
    components: {
        Pagination,
    },
    props: {
        results: Object,
        search_term: String,
        categories: Array
    },

    data(){
        return {
            showFilters: false,
            search: {
                name: '',
                category: ''
            }
        }
    },

    methods: {
        getData(page = 1){
            this.$inertia.visit(route('search.businesses'), {
                data: {page, ...this.search},
                preserveState: true,
                preserveScroll: true,
            })
        },

        clearSearch(){
            this.search.name = '',
            this.search.category = ''
            this.getData(1)
        }
    }
}
</script>