<template>
    <div class="p-4 sm:p-6">
        <!-- <div class="bg-gradient-to-br from-red-100 to-purple-100 bg-center" :style="`background: linear-gradient(166deg, rgba(17, 24, 39,1), rgba(45, 9, 84,.9)), url(${business.logo}); background-position: center; background-size: contain;`">
             <div class="container p-6 pb-12 sm:py-12 sm:pb-16">
                 <div class="sm:flex">
                     <img class="object-cover h-20 w-20 sm:h-20 sm:w-20 rounded-lg mr-4 mb-4" :src="business.logo"/>
                     <div>
                        <p class="text-4xl font-black text-gray-100 leading-none">{{business.name}}</p>
                        <div class="text-sm mt-4 space-y-2">
                            <p class="font-semibold text-gray-100"><icon name="phone"/> {{business.phone}}</p>
                            <p class="font-semibold text-gray-100"><icon name="mail"/> {{business.email}}</p>
                            <p class="font-semibold text-gray-100"><icon name="location"/> {{business.location}}</p>
                        </div>
                     </div>
                 </div>
             </div>
        </div> -->
        <div class="max-w-2xl mx-auto space-y-5">
            <inertia-link :href="route('discovery.business.show', {business: business.slug})"><icon name="arrow-left"/>Back</inertia-link>
            
            <p class="text-3xl sm:text-4xl font-black text-gray-700">
                Book an appointment with {{business.name}}
            </p>

            <!-- calendar -->
            <div class="mb-6">
                <v-date-picker 
                    is-expanded 
                    v-model="selectedDate" 
                    :min-date="new Date()" 
                    mode="date"
                    :disabledDates="business.availability.blocked_dates"
                />
            </div>

            <!-- unavailable to accept bookings -->
            <div class="bg-yellow-50 overflow-hidden sm:rounded-xl border border-yellow-400 mb-6 spread p-6" v-if="!business.tenant.balance">
                <p class="font-semibold text-center text-yellow-800">
                    Sorry, we're temporarily unable to accept bookings through this platform. Kindly contact us directly or check back here shortly. Thank you
                </p>
            </div>

            <div v-else class="space-y-6">
                <!-- Select time -->
                <div class="bg-white overflow-hidden sm:rounded-xl border spread" v-if="availability">
                    <div class="border-b p-4 sm:px-6 flex-between items-start">
                        <div class="flex-1">
                            <div class="font-bold text-indigo-800">
                                {{$moment(availability.date).format('ll') }}
                            </div>
                            <p class="text-sm text-gray-700">Select appointment time</p>
                        </div>
                        <button class="" @click="availability = null">
                            <icon name="x"/>
                        </button>
                    </div>
                    <div class="p-4 sm:px-6">
                        <div class="flex-center py-10" v-if="!availability.is_available">
                            <p>Sorry, we're not available on <span class="capitalize"> {{availability.day_name}}s</span> </p> 
                        </div>
                        <div v-else class="grid grid-cols-2 sm:grid-cols-4 gap-4">
                            <button 
                                v-for="(time, index) in availability.timeframes" :key="index"
                                class="border-2 border-indigo-500 rounded p-2 text-xs font-semibold text-center focus:outline-none"
                                :class="{'bg-indigo-800 text-white' : selectedTime == time.time, 'opacity-50' : time.capacity - time.booked < 1}"
                                @click="selectedTime = time.time"
                                :disabled="time.capacity - time.booked < 1"
                            >
                                {{$moment(time.time, 'HH:mm').format('h:mm A')}}
                            </button>
                        </div>
                    </div>
                </div>

                <div v-else-if="loading" class="flex-center py-10">
                    <p class="font-semibold text-gray-700 text-center animate-pulse">Loading, please wait...</p> 
                </div>

                <!-- select date to proceed -->
                <div v-else class="flex-center py-10">
                    <p class="text-gray-500 text-center">Select a date on the calendar to proceed</p> 
                </div>

                <!-- Select service -->
                <div class="bg-white overflow-hidden sm:rounded-xl border spread" v-if="selectedTime && availability.services.length">
                    <div class="border-b p-4 sm:px-6">
                        <p class="text-sm text-gray-700">Select the services you wish to book</p>
                    </div>
                    <div class="divide-y">
                        <div class="py-3 px-4 flex space-x-3 cursor-pointer" 
                            v-for="(service, index) in availability.services" :key="index" @click="toggleService(service)"
                            :class="servicesInclude(service) && 'font-bold'" 
                        >
                            <div class="flex-1 flex-between"> 
                                <div>
                                    <icon name="check" class="text-green-600 font-bold" v-if="servicesInclude(service)"/>
                                    <!-- <icon name="minus" class="text-gray-400" v-else/> -->
                                    <span>{{service.name}} </span> 
                                </div>
                                <span v-if="service.charge">GHS {{service.charge.toLocaleString()}} </span>
                            </div>
                        </div>
                        <!-- <div class="p-3 flex justify-end">
                            <t-button variant="brand" @click="reservationModal = true">Next -> </t-button>
                        </div> -->
                    </div>
                </div>

                <!-- Book button -->
                <t-button v-if="showBookButton()" variant="brand" class="w-full py-3"  @click="makeReservation"> Book </t-button>
            </div>
        </div>

        <!-- <t-modal v-model="reservationModal">
            <form @submit.prevent="makeReservation" class="space-y-3">
                <div class="border-b pb-2 mb-3">
                    
                    <div class="flex-1">
                        <span>{{$moment(selectedDate).format('ll') }}</span>
                        <span class="font-bold text-gray-800">
                            {{$moment(selectedTime, 'HH:mm:ss').format('hh:mm A') }}
                        </span>
                    </div>
                    <span class="flex items-center text-gray-600 mb-2 text-sm">Provide your details to complete reservation</span>
                </div>
                <div class="grid grid-cols-1 gap-3">
                    <t-input-group label="*First Name" :variant="errors.first_name && 'error'" :feedback="errors.first_name">
                        <t-input v-model="reservation.first_name"/>
                    </t-input-group>
                    <t-input-group label="*Last Name" :variant="errors.last_name && 'error'" :feedback="errors.last_name">
                        <t-input v-model="reservation.last_name"/>
                    </t-input-group>
                    <t-input-group label="*Phone" :variant="errors.phone && 'error'" :feedback="errors.phone">
                        <t-input v-model="reservation.phone" type="tel"/>
                    </t-input-group>
                    <t-input-group label="*Email">
                        <t-input v-model="reservation.email" type="email"/>
                    </t-input-group>
                </div>
                <div class="flex justify-end space-x-3 mt-4 rounded-b-lg">
                    <t-button @click.prevent="reservationModal = false"> Cancel </t-button>
                    <t-button variant="brand"> Finish -> </t-button>
                </div>
            </form>
        </t-modal> -->
    </div>
</template>
<script>
import layout1 from '@/Shared/MainLayout'
import layout2 from '../Layout'
export default {
    layout: [layout1],
    props: {
        errors: Object,
        business: Object,
        services: Array,
    },

    data(){
        return {
            loading: false,
            availability: null,

            reservationModal: false,
            selectedDate: '',
            selectedTime: null,
            name: '',

            reservation: this.$inertia.form({
                // user_id: this.$page.props.auth.user.id,
                // first_name: this.$page.props.auth.user.first_name,
                // last_name: this.$page.props.auth.user.last_name,
                // phone: this.$page.props.auth.user.phone,
                // email: this.$page.props.auth.user.email,
                // count: 1,
                appointment_date: '',
                appointment_time: '',
                services: [],
                amount: 0,
                business_id: this.business.id,
                tenant_id: this.business.tenant.id,
            })
        }
    },

    watch: {
        selectedDate: function(date){
            this.availability = null
            this.selectedTime = null
            if(date){
                this.checkAvailabilityForDate(date)
            }
        },
    },

    methods: {
        toggleService(service){
            if(this.servicesInclude(service)){
                this.reservation.amount = this.reservation.amount - service.charge
               return this.reservation.services = this.reservation.services.filter(svc => svc !== service.name)
            }

            this.reservation.services.push(service.name)
            this.reservation.amount = this.reservation.amount + service.charge
        },

        servicesInclude(service){
            return this.reservation.services.includes(service.name)
        },

        async checkAvailabilityForDate(date){
            this.loading = true
            let {data} = await axios.get( route('guests.businesses.date-availability', {business: this.business.slug}), {params: {date}} )
            this.loading = false
            this.availability = data
        },

        showBookButton(){
            if(!this.availability) return false
            if(!this.selectedTime) return false

            if(this.availability.services.length){
                return this.reservation.services.length > 0
            }

            return true
        },

        makeReservation(){
            this.reservation.appointment_date = this.availability.date
            this.reservation.appointment_time = this.selectedTime
            
            this.reservation.get(route('users.bookings.store'),{
                preserveState: true,
                preserveScroll: true,
            })
        }
    }
}
</script>