<template>
    <div class="container py-12">
        <div class="grid grid-cols-1 sm:grid-cols-6 gap-6">

            <!-- side bar - categories -->
            <div class="col-span-2 hidden sm:block">
                <!-- categories -->
                <p class="font-semibold text-xl mb-3">Categories</p>

                <div class="mb-2" v-for="(cat, index) in categories" :key="index">
                    <p @click.prevent="selectCategory(cat)" class="text-gray-700 font-semibold cursor-pointer" :class="search.categories.includes(cat) && 'text-indigo-800'">{{cat}}</p> 
                </div>
            </div>

            <!-- Listings -->
            <div class="col-span-4">
                <p class="text-4xl font-black text-gray-800 mb-5"> Businesses near Accra, Ghana </p>
                
                <Search :name="filters.name || ''" class="mb-5"/>
                
                <div class="flex flex-wrap mb-5">
                    <span v-for="(cat, index) in search.categories" :key="index" 
                        class="text-sm bg-green-100 text-green-900 border border-green-500 px-3 py-1 rounded-full font-semibold mr-3 mb-2 flex-between space-x-2 cursor-pointer"
                        @click="removeCategory(cat)"
                    >
                        <span>{{cat}}</span> 
                        <icon name="x"/>
                    </span>
                </div>

                <div class="-mx-4 sm:-mx-0 p-4 sm:flex sm:space-x-4 rounded-lg overflow-hidden bg-white sm:border mb-8 sm:mb-4" v-for="(business, index) in businesses.data" :key="index">
                    <div class="relative h-48 w-full sm:w-48 rounded-lg mb-3 sm:mb-0">
                        <img class="absolute inset-0 h-full w-full rounded-lg object-cover" :src="business.banner" alt="">
                        <div class="absolute bg-green-800 text-white px-3 top-5 font-semibold text-sm tracking-widest rounded-r" v-if="business.featured_at"> Featured </div>
                    </div>
                    <div class="flex-1 space-y-1 px-3">
                        <inertia-link :href="business.path" class="font-bold tracking-wide text-gray-700 text-xl hover:underline">{{business.name}}</inertia-link> 
                        <div class="flex-between">
                            <inertia-link :href="route('discovery.businesses', {categories: [business.category]})" class="text-sm text-indigo-600 font-semibold hover:underline block">{{business.category}}</inertia-link>
                            <div class="flex items-center space-x-3">
                                <star-rating :rating="business.rating" :star-size="12" :show-rating="false" rounded-corners :active-color="$ratingsColors" read-only />
                                <span class="text-xs text-gray-500"> ({{business.reviews_count}} Reviews)</span>
                            </div>
                        </div>
                        
                        <div class="flex items-center space-x-1 text-sm text-gray-600" v-if="business.address">
                            <icon name="location"/>
                            <span class="line-clamp-1">{{business.address}}</span>
                        </div>
                        <p class="line-clamp-2 sm:line-clamp-3 text-xs">{{business.description}}</p>
                    </div>
                </div>

                <!-- Pagination -->
                <Pagination :links="businesses.links" :onPageChange="getData" :from="businesses.from" :to="businesses.to" :total="businesses.total"/>
            </div>
        </div>
    </div>
</template>
<script>
import layout1 from '@/Shared/MainLayout'
import Pagination from '@/Shared/SpecialPagination'
import StarRating from 'vue-star-rating'
import Search from '@/Shared/Search'
// import layout2 from '../../Layout'
export default {
    layout: [layout1],
    components: {
        Pagination,
        StarRating,
        Search
    },
    props: {
        businesses: Object,
        search_term: String,
        categories: Array,
        filters: [Object, Array]
    },

    mounted(){
        this.search = {...this.search, ...this.filters}
    },

    data(){
        return {
            showFilters: false,
            search: {
                name: '',
                categories: []
            }
        }
    },

    methods: {
        getData(page = 1){
            console.log(page)
            this.$inertia.visit(route('discovery.businesses', {page, ...this.search}), {
                // data: {page, ...this.search},
                preserveState: true,
            })
        },

        selectCategory(category){
            if(this.search.categories.includes(category)){
                return
            }
            this.search.categories.push(category)

            this.getData()
        },

        removeCategory(category){
            this.search.categories = this.search.categories.filter(cat => cat !== category)
            this.getData()
        },

        clearSearch(){
            this.search.name = '',
            this.search.category = ''
            this.getData(1)
        }
    }
}
</script>