<template>
    <div class="bg-white">
        <!-- <div class="bg-gradient-to-br from-red-100 to-purple-100 bg-center" :style="`background: linear-gradient(166deg, rgba(17, 24, 39,1), rgba(45, 9, 84,.9)), url(${business.logo}); background-position: center; background-size: contain;`"> -->
        <div class="bg-center" :style="`background: linear-gradient(166deg, rgba(17, 24, 39,.2), rgba(45, 9, 84,.2)), url(${business.banner}); background-position: center; background-size: contain;`">
             <div class="container relative p-6 pb-12 sm:py-12 sm:pb-16" style="height: 300px">
                 <div class="absolute bottom-0 right-0 -mb-8 mr-6">
                     <img class="object-cover h-20 w-20 rounded-lg border-2 border-gray-100 shadow" :src="business.logo"/>
                 </div>
             </div>
        </div>

        <!-- rest of page -->
        <div>
            <div class="px-4 sm:flex container sm:divide-x">

                <!-- (name, rating, contact) -->
                <div class="pt-10 border-b sm:flex-1">
                    <p class="text-5xl font-black text-black leading-none mb-4">{{business.name}}</p>

                    <!-- category, ratings, buttons -->
                    <div class=" space-y-8">
                        <!-- category -->
                        <p> 
                            <inertia-link :href="route('discovery.businesses', {categories: [business.category]})" class="text-blue-800 font-semibold italic">{{business.category}}</inertia-link> 
                        </p>
                        
                        <!-- Ratings -->
                        <div class="flex items-center space-x-2">
                            <star-rating 
                                :rating="business.rating"
                                :star-size="20"
                                :show-rating="false"
                                rounded-corners 
                                read-only
                                :active-color="$ratingsColors"
                            />
                            <p class="font-semibold">{{business.rating}}/5</p>
                            <p class="text-gray-500 text-sm">{{business.reviews.length}} Reviews</p>
                        </div>
                        
                        <!-- buttons -->
                        <div class="flex flex-col lg:flex-row pb-8 border-b lg:space-x-3">
                            <t-button :href="route('discovery.businesses.booking-page', {business: business.slug})" tagName="a" variant="brand" class="mb-4 lg:mb-0 py-3" v-if="business.accepting_bookings">
                                <icon name="calendar" class="mr-1"/> Make Reservation
                            </t-button>
                            <t-button variant="warning" class="py-3" @click="showReviewModal = true"> 
                                <icon name="star" class="mr-1"/> Leave a Review
                            </t-button>
                        </div>
                    </div>

                    <!-- phone, email, link, address -->
                    <div class="divide-y">

                        <!-- phone -->
                        <div class="py-4 flex-between items-start space-x-3 sm:pr-4">
                            <p class="text-gray-600"> <icon name="phone"/>  <span>{{business.phone}}</span></p>
                            <p class="text-gray-600">
                                <a :href="`tel:${business.phone}`" class="text-blue-600">Call us</a> 
                            </p>
                        </div>

                        <!-- email -->
                        <div class="py-4 flex-between items-start space-x-3 sm:pr-4" v-if="business.email">
                            <p class="text-gray-600"> <icon name="mail"/> {{business.email}}</p>
                            <p class="text-gray-600"> 
                                <a :href="`mailto:${business.email}`" class="text-blue-600">Send mail</a> 
                            </p>
                        </div>

                        <!-- site link -->
                        <div class="py-4 flex-between items-start space-x-3 sm:pr-4" v-if="business.website">
                            <p class="text-gray-600"> 
                                <icon name="link"/> 
                                <a :href="business.website" target="_blank" class="text-blue-600">{{business.website}}</a>
                            </p>
                            <p class="text-gray-600">
                                <a :href="business.website" target="_blank" class="text-blue-600">
                                    Visit site<icon name="external-link"/>
                                </a>
                            </p>
                        </div>

                        <!-- get directions -->
                        <div class="py-4 flex-between items-start space-x-3 sm:pr-4" v-if="business.address">
                            <p class="text-gray-600"> 
                                <icon name="location"/> 
                                <span class="text-sm">{{business.address}}</span>
                            </p>
                            <p class="text-gray-600 whitespace-nowrap">
                                <a :href="`http://maps.google.com/?q=${business.lat},${business.lng}`" class="text-blue-600" target="_blank">
                                    Get directions <icon name="external-link"/>
                                </a>
                            </p>
                        </div>

                        <!-- Social links -->
                        <div class="py-4 flex items-center justify-around items-start space-x-3 sm:pr-4">
                            <a v-if="business.facebook" :href="business.facebook" target="_blank">
                                <icon name="facebook" class="h-8 w-8 text-blue-700 hover:shadow rounded" stroke-width="2"/>
                            </a> 
                            <a v-if="business.instagram" :href="business.instagram" target="_blank">
                                <icon name="instagram" class="h-8 w-8 text-red-500 hover:shadow rounded" stroke-width="2"/>
                            </a> 
                            <a v-if="business.twitter" :href="business.twitter" target="_blank">
                                <icon name="twitter" class="h-8 w-8 text-blue-700 hover:shadow rounded" stroke-width="2"/>
                            </a> 
                            <a v-if="business.phone" :href="business.phone" target="_blank">
                                <icon name="whatsapp" class="h-8 w-8 text-blue-700 hover:shadow rounded" stroke-width="2"/>
                            </a> 
                        </div>
                    </div>
                </div>

                <!-- Location & hours -->
                <div class="sm:flex-1 border-b">
                    <div class="pt-10 sm:pl-8">
                        <p class="text-3xl font-bold mb-6">Hours & Location</p>

                        <!-- today -->
                        <div v-if="today" class="font-semibold flex flex-wrap space-x-2 mb-2">
                            <p class="capitalize">{{today.day}}:</p> 
                            <p>
                                <span v-if="today.is_available" class="text-green-600">Open from</span>
                                <span v-else class="text-red-500">Closed</span>
                            </p> 
                            <p v-if="today.is_available">
                                {{$moment(today.time_instances[0], 'HH:mm:ss').format('h:mm A')}} - 
                                {{$moment(today.time_instances[today.time_instances.length - 1], 'HH:mm:ss').format('h:mm A')}}
                            </p>
                        </div>

                        <!-- schedule -->
                        <div class="divide-y divide-dashed mb-6">
                            <div 
                                class="flex-between flex-wrap space-y-1 text-sm py-1 opacity-50 font-semibold" 
                                :class="{'font-bold text-base opacity-100' : today && today.day == name}"
                                v-for="([name, day], index) in Object.entries(schedule)" :key="index"
                            >
                                <p class="capitalize">{{name}}</p>
                                <div v-if="day.is_available">
                                    {{$moment(day.time_instances[0], 'HH:mm:ss').format('h:mm A') }} - {{$moment(day.time_instances[day.time_instances.length - 1], 'HH:mm:ss').format('h:mm A') }}
                                </div>
                                <div v-else class="text-red-700"> Closed </div>
                            </div>
                        </div>

                        <!-- map -->
                        <div class="border -mx-4 sm:-mx-0 h-48 bg-gray-300 shadow" v-if="business.lat">
                            <GmapMap
                                :center="{lat: business.lat, lng: business.lng}"
                                :zoom="15"
                                style="width: 100%; height: 100%"
                                :options="{
                                    zoomControl: true,
                                    mapTypeControl: false,
                                    scaleControl: false,
                                    streetViewControl: false,
                                    rotateControl: false,
                                    fullscreenControl: true,
                                    disableDefaultUi: false
                                }"
                            >
                                  <GmapMarker
                                    :position="{lat: business.lat, lng: business.lng}"
                                />
                            </GmapMap>
                        </div>
                        <!-- <inertia-link href class="text-blue-500 inline-block mt-3">Get directions <icon name="external-link"/></inertia-link> -->
                    </div>
                </div>
            </div>

            <!-- About business -->
            <div class="px-4 py-10 container mx-auto border-b">
                <p class="text-3xl font-bold mb-3">About {{business.name}}</p>
                <p>{{business.description}}</p>
            </div>
    
            <!-- services offered -->
            <div class="px-4 py-10 container mx-auto border-b">
                <p class="text-3xl font-bold mb-3">Services Offered</p>
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                    <span v-for="(service, index) in services" :key="index" class="capitalize"> 
                        <icon name="check"/> {{service.name}}
                    </span>
                </div>
            </div>
    
            <!-- photos -->
            <div class="py-10 px-0 sm:px-4 container mx-auto border-b space-y-3">
                <p class="text-3xl px-4 font-bold">Photos</p>
                <vueper-slides>
                    <vueper-slide v-for="(slide, i) in business.photos" :key="i" :image="slide" />
                </vueper-slides>
                <div class="overflow-x-auto no-scrollbar">
                    <div class="inline-flex">
                        <div v-for="(photo, index) in business.photos" :key="index" class="mx-2 h-36 w-64 rounded-xl overflow-hidden"> 
                            <img :src="photo" alt="photo" class="h-full w-full object-cover" @click="showPhotoLarge(index)">
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Reviews -->
            <div class="px-4 py-10 container mx-auto border-b space-y-4">
                <p class="text-3xl font-bold">Reviews & Ratings</p>
                <div class="p-4 border rounded-lg flex-between items-start">
                        <star-rating 
                            :rating="business.rating"
                            :star-size="20"
                            rounded-corners 
                            read-only
                            :active-color="$ratingsColors"
                        />
                        <inertia-link href @click.prevent="showReviewModal = true" class="text-blue-600 font-semibold">Post a Review -></inertia-link>
                </div>

                <p>Recent reviews</p>
    
                <!-- actual ratings -->
                <div class="space-y-5">
                    <div class="flex" v-for="(review, index) in business.reviews" :key="index">
                        <img :src="review.user.profile_photo_url" :alt="review.user.name" class="h-10 w-10 rounded-full object-cover">
                        <div class="flex-1 ml-4 space-y-1">
                            <div class="flex-between">
                                <p class="">
                                    <span class="text-gray-700 font-semibold">{{review.user.first_name}}</span> 
                                    <button @click="deleteReview(review.id)" v-if="$page.props.auth.user && review.user.id == $page.props.auth.user.id"><icon name="trash" class="text-red-500"/></button> 
                                </p>
                            <p class="text-xs text-gray-500 whitespace-nowrap">{{$moment().to(review.created_at)}} </p>
                            </div>
                            <star-rating 
                                :rating="review.rating"
                                read-only
                                :star-size="15"
                                :show-rating="false" 
                                rounded-corners 
                                :active-color="$ratingsColors"
                            />
                            <p class="text-sm">{{review.review}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Suggested businesses -->
            <div class="py-10 px-0 sm:px-4 container mx-auto border-b space-y-4">
                <p class="text-3xl px-4 font-bold">Similar businesses</p>
                <div class="flex overflow-x-auto no-scrollbar">
                    <div v-for="(bus, index) in suggestedBusinesses" :key="index">
                        <div class="mx-2 w-60">
                            <inertia-link :href="bus.path" class="block h-36 w-60 shadow rounded-xl overflow-hidden">
                                <img class="h-full w-full object-cover" :src="bus.banner"/>
                            </inertia-link>
                            <div class="p-2 overflow-hidden">
                                <inertia-link :href="bus.path" class="block font-semibold line-clamp-1">{{bus.name}}</inertia-link>
                                <p class="line-clamp-1 text-sm text-gray-600">{{bus.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Review Modal -->
        <full-screen-modal :show="showReviewModal" @close="showReviewModal = false">
            <template #title>
                Post a Review
            </template>
            <template #content>
                <div class="space-y-4">
                    <p class="text-2xl font-bold">{{business.name}}</p>
                    <star-rating 
                        v-model="review.rating"
                        :star-size="30"
                        :show-rating="false"
                        rounded-corners 
                        :active-color="$ratingsColors"
                    />
                    
                    <t-input-group>
                        <t-textarea v-model="review.review" placeholder="Write your review" rows="10" :disabled="!review.rating"/>
                    </t-input-group>
                </div>
            </template>
            <template #footer>
                <t-button variant="brand" @click="postReview()" :disabled="!review.rating">Post Review</t-button>
            </template>
        </full-screen-modal>

        <!-- photo Modal -->
        <full-screen-modal v-if="viewingPhotoIndex !== null" :show="showPhotoModal" @close="showPhotoModal = false">>
            <template #content class="-mx-6">
                <div class="-mx-6">
                    <img :src="business.photos[viewingPhotoIndex]" alt="photo" class="w-full -mx-0 -my-0">
                </div>
            </template>
            <template #footer>
                <t-button @click="prevPhoto">Prev</t-button>
                <t-button @click="nextPhoto">Next</t-button>
            </template>
        </full-screen-modal>
    </div>
</template>
<script>
import { VueperSlides, VueperSlide } from 'vueperslides'
import 'vueperslides/dist/vueperslides.css'
import layout1 from '@/Shared/MainLayout'
import StarRating from 'vue-star-rating'
import FullScreenModal from '@/Shared/FullScreenModal'
export default {
    components: {
        StarRating,
        FullScreenModal,
        VueperSlides, VueperSlide
    },

    layout: [layout1],
    props: {
        errors: Object,
        business: Object,
        services: Array,
        schedule: Object,
        suggestedBusinesses: Array,
    },

    data(){
        return {
            today: null,
            loading: false,
            showReviewModal: false,
            showPhotoModal: false,
            review: this.$inertia.form({
                rating: 0,
                review: '',
            }),
            // viewingPhoto: null,
            viewingPhotoIndex: null
        }
    },

    mounted(){
        const today = this.$moment().format('dddd').toLowerCase()
        this.today = this.schedule[today]
    },

    methods: {
        postReview(){
            this.review.post(route('reviews.store',{model: 'business', id: this.business.id}), {
                preserveState: true,
                preserveScroll: true,
                onSuccess: () => {
                    this.showReviewModal = false
                    this.review.reset()
                }
            })
        },

        deleteReview(review){
            this.$inertia.delete(route('reviews.destroy', {review}), {
                onBefore: () => confirm('Are you sure you want to delete this review?'),
                preserveScroll: true
            })
        },

        showPhotoLarge(i){
            this.viewingPhotoIndex = i
            this.showPhotoModal = true;
        },

        nextPhoto(){
            this.viewingPhotoIndex = this.viewingPhotoIndex + 1 == this.business.photos.length ? 0 : this.viewingPhotoIndex + 1
        },

        prevPhoto(){
            this.viewingPhotoIndex = this.viewingPhotoIndex - 1 < 0 ? this.business.photos.length - 1 : this.viewingPhotoIndex - 1
        },
    }
}
</script>