<template>
    <div class="flex">
        <meta name="viewport" content="width=1440">
        <div class="w-40 bg-gray-800 text-white h-screen flex flex-col">
            <div class="p-6 flex-center bg-indigo-800">
                <inertia-link href="/">
                    <img src="/img/icon-white.png" alt="reservr logo" class="h-8">
                </inertia-link>
            </div>

            <div class="py-8 px-4 flex-1">
                <inertia-link 
                    :href="route(link.route)" 
                    class="p-4 flex flex-col items-center space-x-1 relative rounded-lg font-semibold" 
                    :class="route().current(`${link.route}*`) ? 'bg-gray-700 text-white' : 'text-indigo-300'" 
                    v-for="(link, index) in links" :key="index"
                >
                    <icon :name="link.icon" class="h-6 w-6 mb-2"/>
                    <span class="text-sm">{{link.text}}</span> 
                    <span v-if="link.badge > 0" class="text-xs bg-red-600 text-white px-1 rounded-full absolute top-2 left-0">{{link.badge}}</span> 
                </inertia-link>
            </div>

            <div class="p-4">
                <inertia-link @click.prevent="logout" href="/logout" class="flex-center flex-col">
                    <icon name="logout" class="text-red-600 h-6 w-6"/>
                    <span class="font-semibold">Logout</span>
                </inertia-link>
            </div>
        </div>

        <div class="w-full h-screen bg-gray-100 relative overflow-auto">
            <FlashMessages />
            <div>
                <div class="p-6 flex-between bg-white border-b">
                    <span class="font-bold">Reservr Admin</span>
                    <span>{{$page.props.auth.user.name}}</span>
                </div>
                <div class="p-6">
                    <slot></slot>
                </div>
            </div>
        </div>
        <portal-target name="modal" multiple>
        </portal-target>
    </div>
</template>

<script>
import Navigation from '@/Shared/Navigation'
import Footer from '@/Shared/Footer'
import FlashMessages from '@/Shared/FlashMessages'
export default {
    components: {
        Navigation,
        FlashMessages,
        Footer,
    },

    data(){
        return {
            links: [
                { text: 'Dashboard', icon: 'home', route: 'admins.dashboard', badge: 0},
                { text: 'Users', icon: 'users', route: 'admins.users', badge: 0},
                { text: 'Business', icon: 'briefcase', route: 'admins.businesses', badge: 0},
                { text: 'Events', icon: 'calendar', route: 'admins.events', badge: 0},
                { text: 'Categories', icon: 'bookmark', route: 'admins.categories', badge: 0},
                // { text: 'Reservations', icon: 'bell', route: 'admins.reservations', badge: 0},
            ]
        }
    },

    methods: {
        logout(){
            this.$inertia.post(route('logout'))
        }
    }
}
</script>