
<template>
    <div class="w-full max-w-md">
      <div class="flex-center text-white"><Logo /></div>
      <form class="mt-8 overflow-hidden sm:rounded-lg shadow-xl" @submit.prevent="form.post(route('registration-session.password.store'))">
        <div class="p-6 bg-white space-y-4">
            <t-input-group label="Password" :variant="errors.password && 'error'" :feedback="errors.password">
                <t-input v-model="form.password" type="password" />
            </t-input-group>
            <t-input-group label="Confirm password" :variant="errors.password_confirmation && 'error'" :feedback="errors.password_confirmation">
                <t-input v-model="form.password_confirmation" type="password" />
            </t-input-group>

        </div>
        <div class="flex-between px-6 py-4 bg-gray-100 border-t border-gray-200">
            <span></span>
            <!-- <inertia-link :href="route('login')" class="text-indigo-800 hover:underline text-sm mr-5 underline">Already registered?</inertia-link> -->
            <t-button variant="dark" type="submit">Create Account -></t-button>
        </div>
      </form>
    </div>
  <!-- </div> -->
</template>

<script>
import layout from '../Layout'
import Logo from '@/Shared/Logo'
export default {
  layout,
  metaInfo: { title: 'Login' },
  components: {
    Logo,
  },
  props: {
    errors: Object,
    user: Object
  },
  data() {
    return {
      form: this.$inertia.form({
        password: '',
        password_confirmation: '',
      }),
    }
  },
}
</script>