<template>
    <div class="w-full max-w-md">
      <div class="flex-center text-white"><Logo /></div>
      <form class="mt-8 overflow-hidden sm:rounded-lg shadow-xl" @submit.prevent="form.post(route('registration-session.verify-phone.store'))">
        <div class="p-6 bg-white space-y-4">
            <p class="text-sm text-gray-600">
                To make sure this number is yours, <span class="text-indigo-800">reservr.cc</span>  will send a text message containing a six-digit verification code to 
                <strong>{{user.phone}}</strong>. This may take up to a minute
            </p>
            <t-input-group label="Enter verification code" :variant="errors.code && 'error'" :feedback="errors.code">
                <t-input v-model="form.code" type="tel"/>
            </t-input-group>
            <div class="flex-between">
                <a href="#" @click="resendCode" class="text-sm text-gray-600 flex items-center space-x-2">
                    <icon name="refresh"/>
                    <span>Resend code</span> 
                </a>
                <span class="text-sm text-green-800 font-semibold animate-pulse" v-if="sending">Sending...</span>
            </div>
        </div>
        <div class="flex-between px-6 py-4 bg-gray-100 border-t border-gray-200">
            <inertia-link :href="route('registration-session.create')" class="text-indigo-800 hover:underline text-sm mr-5 underline flex items-center space-x-1">
                <icon name="arrow-left"/> <span>Previous</span> 
            </inertia-link>
            <t-button variant="dark" type="submit">Verify -></t-button>
        </div>
      </form>
    </div>
  <!-- </div> -->
</template>

<script>
import layout from '../Layout'
import Logo from '@/Shared/Logo'
export default {
  layout,
  metaInfo: { title: 'Login' },
  components: {
    Logo,
  },
  props: {
    errors: Object,
    user: Object
  },
  data() {
    return {
        sending: false,
        form: this.$inertia.form({
            code: '',
        }),
    }
  },

  methods: {
      resendCode(){
            if(!this.sending){
                this.$inertia.visit(route('registration-session.verify-phone.resend-code'), {
                    method: 'get',
                    onBefore: () => this.sending = true,
                    onFinish: () => this.sending = false
                })
            }
      }
  }
}
</script>