
<template>
    <div class="w-full max-w-md">
      <div class="flex-center text-white">
          <Logo />
        </div>
      <div class="mt-8 overflow-hidden sm:rounded-lg shadow-xl">
        
        <div class="bg-white space">
            <div class="p-4 text-center font-semibold">
                Select a Business
            </div>
            <div class="divide-y divide-dashed">
                <inertia-link :href="route('partners.auth.business-option.select', {business: bus.id})" class="flex items-center space-x-3 p-4 hover:bg-gray-100 cursor-pointer" v-for="(bus, index) in businesses" :key="index">
                    <img :src="bus.logo" :alt="bus.name" class="h-12 w-12 object-cover rounded-full">
                    <p class="font-semibold text-gray-800">{{bus.name}}</p> 
                </inertia-link>
                <inertia-link :href="route('partners.businesses.create')" class="flex items-center space-x-3 p-4 bg-gray-100 cursor-pointer">
                    <p class="font-semibold text-indigo-700 text-center">+ Create a Business</p> 
                </inertia-link>
            </div>
        </div>
      </div>
    </div>
</template>

<script>
import layout from './Layout'
import Logo from '@/Jetstream/ApplicationMark'
export default {
  layout,
  metaInfo: { title: 'Choose a Business' },
  components: {
    Logo,
  },
  props: {
    errors: Object,
    businesses: Array,
  },
}
</script>