
<template>
    <div class="w-full max-w-md">
      <form class="mt-8 overflow-hidden sm:rounded-lg shadow-xl" @submit.prevent="submit">
        <div class="p-6 bg-white space-y-5">
            <div class="p-4 text-center font-semibold">
                Your Reservr Account
            </div>
            <p class="text-sm text-center" v-if="user">We notice you already have a reservr account. Please sign in to proceed</p>
            <p class="text-sm text-center" v-else>We're almost done! Please provide your personal details and create a password to access your dashboard.</p>
          <div class="w-24 mx-auto mt-6 mb-6 border-b-2" />

            <div class="grid grid-cols-1 sm:grid-cols-2 gap-6" v-if="!user">
                <t-input-group label="First name" :variant="form.errors.first_name && 'error'" :feedback="form.errors.first_name && errors.first_name">
                    <t-input v-model="form.first_name"/>
                </t-input-group>
                <t-input-group label="Last name" :variant="form.errors.last_name && 'error'" :feedback="form.errors.last_name && errors.last_name">
                    <t-input v-model="form.last_name"/>
                </t-input-group>
                <t-input-group label="Phone number" class="sm:col-span-2" :variant="form.errors.phone && 'error'" :feedback="form.errors.phone && errors.phone">
                    <t-input v-model="form.phone" type="tel"/>
                </t-input-group>
            </div>
            <t-input-group label="Email" :variant="form.errors.email && 'error'" :feedback="form.errors.email && errors.email" >
                <t-input v-model="form.email" type="email" disabled/>
            </t-input-group>
            <t-input-group label="Password" :variant="form.errors.password && 'error'" :feedback="form.errors.password && errors.password">
                <t-input v-model="form.password" type="password"/>
            </t-input-group>
            <t-input-group label="Confirm password" v-if="!user" :variant="form.errors.password_confirmation && 'error'" :feedback="form.errors.password_confirmation && errors.password_confirmation">
                <t-input v-model="form.password_confirmation" type="password"/>
            </t-input-group>
        </div>
        <div class="flex-between px-6 py-4 bg-gray-100 border-t border-gray-200">
            <t-button :loading="sending" variant="brand" type="submit" class="py-2 w-full">Continue</t-button>
        </div>
      </form>
    </div>
</template>

<script>
import layout from './Layout'
import Autocomple from '../../../Mixins/PlacesAutocomplete'
import Logo from '@/Jetstream/ApplicationMark'
export default {
  layout,
  mixins: [Autocomple],
  metaInfo: { title: 'Partner Onboarding' },
  components: {
    Logo,
  },
  props: {
    user: Object,
    email: String
  },
  data() {
    return {
      sending: false,
      form: this.$inertia.form({
        first_name: '',
        last_name: '',
        email: this.email,
        phone: '',
        password: '',
        password_confirmation: '',
        has_account: !!this.user
      }),
    }
  },
  methods: {
    submit() {
      this.form.post(this.route('partners.onboarding.account.store'), {
        onStart: () => this.sending = true,
        onFinish: () => this.sending = false,
        preserveScroll: true
      })
    },
  },
}
</script>