<template>
    <layout>
        <div>
            <p class="mt-8 text-3xl sm:text-5xl font-black text-indigo-900 text-center">Reservr for Businesses</p>

            <div class="grid grid-cols-1 sm:grid-cols-2 gap-12 sm:px-8 py-12">
                <div class="w-full max-w-md ml-auto">
                    <slot></slot>
                </div>
        
                <div class="xl:flex items-center">
                    <div class="xl:w-3/4 mb-12 text-xl space-y-6 p-4">
                        <p class="text-3xl font-black text-gray-800">Manage bookings & track walk-ins efficiently.</p>
                        <p class="font-semibold text-gray-600">Reservr streamlines the reservation/booking process for you to have a one-stop place to manage all your bookings at any time and on any device.</p>
                        <p class="font-semibold text-gray-600">You give clients/attendees a simple way to book. Just a few seconds to make their reservation/booking. With Reservr, you have complete control and oversight of bookings.</p>
                        <p class="font-semibold text-gray-600">Create available slots for attendees or clients to reserve/book. Check in and even make reservations for customers or attendees. </p>
                    </div>
                </div>
            </div>
        </div>
    </layout>
</template>

<script>
import Logo from '@/Jetstream/ApplicationMark'
import Banner from '@/Jetstream/Banner'
import Layout from '@/Shared/MainLayout'

export default {
    components: {
        Banner,
        Logo,
        Layout,
    },
}
</script>