
<template>
  <!-- <div class="flex items-center justify-center min-h-screen p-6 bg-gray-900"> -->
    <div class="w-full max-w-md">
      <!-- <logo class="block w-full max-w-xs mx-auto fill-white" height="50" /> -->
      <!-- <div class="flex-center text-white">
          <Logo  class="text-indigo-800"/>
        </div> -->
      <form class="mt-8 overflow-hidden sm:rounded-lg shadow-xl" @submit.prevent="submit">
        <div class="p-6 bg-white space-y-5">
            <div class="p-4 text-center font-semibold">
                Partner Login
            </div>
          <div class="w-24 mx-auto mt-6 mb-6 border-b-2" />

            <t-input-group label="Email" class="mb-4" :variant="errors.email && 'error'" :feedback="errors.email && errors.email">
                <t-input v-model="form.email" type="email" autofocus />
            </t-input-group>

            <t-input-group label="Password">
                <t-input v-model="form.password" type="password"/>
            </t-input-group>

            <div class="flex-between">
              <label class="flex items-center select-none" for="remember">
                  <input id="remember" v-model="form.remember" class="mr-1" type="checkbox">
                  <span class="text-sm">Remember Me</span>
              </label>
              <inertia-link class="hover:underline text-sm" :href="route('password.request')">Forgot password?</inertia-link>
            </div>

            <!-- <div class="">
                <p class="text-gray-500">New to Reservr? 
                  <inertia-link :href="route('register')" class="text-indigo-800 hover:underline">Sign up</inertia-link> 
                </p>
            </div> -->
        </div>
        <div class="flex-between px-6 py-4 bg-gray-100 border-t border-gray-200">
            <inertia-link :href="route('registration-session.create')" class="text-indigo-800 hover:underline text-sm mr-5 underline">New to Reservr?</inertia-link>
            <t-button :loading="sending" variant="dark" type="submit">Login</t-button>
        </div>
      </form>
    </div>
  <!-- </div> -->
</template>

<script>
import layout from './Layout'
import Logo from '@/Jetstream/ApplicationMark'
export default {
  layout,
  metaInfo: { title: 'Partner Login' },
  components: {
    Logo,
  },
  props: {
    errors: Object,
  },
  data() {
    return {
      sending: false,
      form: this.$inertia.form({
        email: '',
        password: '',
        remember: null,
      }),
    }
  },
  methods: {
    submit() {
      this.form.post(this.route('partners.login.store'), {
        onStart: () => this.sending = true,
        onFinish: () => this.sending = false,
      })
    },
  },
}
</script>