
<template>
    <form class="overflow-hidden sm:rounded-lg shadow-xl" @submit.prevent="submit">
      <div class="p-6 bg-white space-y-5">
          <div class="p-4 text-center font-black text-2xl">
              List your business on reservr.cc
          </div>
        <div class="w-24 mx-auto mt-6 mb-6 border-b-2" />

          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <t-input-group label="Business name" :variant="form.errors.name && 'error'" :feedback="form.errors.name && errors.name">
                <t-input v-model="form.name"/>
            </t-input-group>
            <t-input-group label="Business Email" :variant="form.errors.email && 'error'" :feedback="form.errors.email && errors.email">
                <t-input v-model="form.email" type="email"/>
            </t-input-group>
            <t-input-group label="Business Phone" :variant="form.errors.phone && 'error'" :feedback="form.errors.phone && errors.phone">
                <t-input v-model="form.phone" type="tel"/>
            </t-input-group>
            <t-input-group label="Personal Email" :variant="form.errors.personal_email && 'error'" :feedback="form.errors.personal_email && errors.personal_email">
                <t-input v-model="form.personal_email" placeholder="Your personal email address"/>
            </t-input-group>
            <t-input-group label="Address" class="sm:col-span-2" :variant="form.errors.address && 'error'" :feedback="form.errors.address">
                <GmapAutocomplete class="border border-gray-300 w-full p-2 rounded" @place_changed="placeChanged" placeholder="Start typing your location"/>
            </t-input-group>
            <t-input-group label="City" :variant="form.errors.city && 'error'" :feedback="form.errors.city && errors.city">
                <t-input v-model="form.city"/>
            </t-input-group>
            <t-input-group label="Country" :variant="form.errors.country && 'error'" :feedback="form.errors.country && errors.country">
                <t-input v-model="form.country"/>
            </t-input-group>
            <t-input-group label="Website" class="sm:col-span-2" :variant="form.errors.website && 'error'" :feedback="form.errors.website && errors.website">
                <t-input v-model="form.website"/>
            </t-input-group>
          </div>

      </div>
      <div class="flex-between px-6 py-4 bg-gray-100 border-t border-gray-200">
          <t-button :loading="sending" variant="brand" type="submit" class="py-2 w-full">Continue</t-button>
      </div>
    </form>
</template>

<script>
import layout from './Layout'
import Autocomple from '../../../Mixins/PlacesAutocomplete'
import Logo from '@/Jetstream/ApplicationMark'
export default {
  layout,
  mixins: [Autocomple],
  metaInfo: { title: 'Partner Onboarding' },
  components: {
    Logo,
  },
  props: {
    errors: Object,
  },
  data() {
    return {
      sending: false,
      form: this.$inertia.form({
        name: '',
        email: '',
        phone: '',
        address: '',
        city: '',
        country: '',
        website: '',
        lat: null,
        lng: null,
        personal_email: null,
      }),
    }
  },
  methods: {
    submit() {
      this.form.post(this.route('partners.onboarding.store'), {
        onStart: () => this.sending = true,
        onFinish: () => this.sending = false,
        preserveScroll: true
      })
    },

    placeChanged(e){
        // console.log(e)
        const address = this.extractAddress(e, e.name)
        this.form.address = address.address
        this.form.country = address.country
        this.form.city = address.city
        this.form.lng = address.lng
        this.form.lat = address.lat
    },
  },
}
</script>