<template>
    <div>
        <div class="flex-between mb-6">
            <p class="text-3xl font-semibold">Account</p>
            <div class="text-right">
                <p class="text-6xl font-black">{{$page.props.auth.user.balance}}</p>
                <p class="font-semibold text-gray-500">Bookings remaining</p>
            </div>
        </div>

        <!-- Account and purchases -->
        <form-section @submitted="purchasePackage" class="mb-6">
            <template #title>
                Make a purchase
            </template>
            <template #description>Top up your reservr bookings balance</template>

            <template #form>
                <div>
                    <!-- <div class="flex flex-col items-center rounded-lg p-4">
                        <p class="text-4xl sm:text-6xl font-bold">{{$page.props.auth.user.balance}}</p>
                        <p class="font-semibold text-xs tracking-wide text-gray-500 uppercase">Booking Balance</p> 
                    </div> -->
                    <div class="grid grid-cols-4 gap-4">
                        <div v-for="(pkg, index) in packages.filter(pkg => pkg.name !== 'Free')" :key="index" 
                            class="p-5 border rounded-lg flex flex-col items-center justify-center cursor-pointer hover:bg-gray-50"
                            :class="{'border border-indigo-800': package_name == pkg.name}"
                            @click="package_name = pkg.name"
                        >
                            <p class="font-bold text-gray-700">{{pkg.name}}</p> 
                            <p class="font-black text-4xl">{{pkg.bookings}}</p> 
                            <p>GHC {{pkg.price}}.00</p> 
                        </div>
                    </div>
                    <!-- <div>
                        <t-input-group label="Package">
                            <t-select 
                                required 
                                v-model="package_name" 
                                placeholder="Select package to purchase" 
                                :options="packages.map(pkg => ({value: pkg.name, text: `${pkg.name} - ${pkg.price} GHC - ${pkg.bookings} Bookings`}))" 
                            />
                        </t-input-group>
                    </div> -->
                </div>
            </template>
            <template #actions>
                <t-button variant="success" :class="loading && 'animate-pulse'" :disabled="loading"> {{loading ? 'Please wait...' : 'Purchase package'}}</t-button>
            </template>
        </form-section>

        <div class="flex-between mb-6">
            <p class="text-3xl font-semibold">All Purchases</p>
        </div>

        <div class="bg-white rounded-lg -mx-4 sm:-mx-0">
            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr class="th-row">
                            <th class="py-4 t-cell">Package</th>
                            <th class="py-4 t-cell">Amount</th>
                            <th class="py-4 t-cell">Bookings</th>
                            <th class="py-4 t-cell">Ref</th>
                            <th class="py-4 t-cell">Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="cursor-pointer td-row" 
                            v-for="(purchase, index) in purchases.data" 
                            :key="index"
                        >
                            <td class="t-cell"> 
                                <p>{{purchase.purchasable.name}}</p>
                            </td>
                            <td class="t-cell">GHC {{purchase.amount}}</td>
                            <td class="t-cell">{{purchase.purchasable.bookings}}</td>
                            <td class="t-cell">{{purchase.ref}}</td>
                            <td class="t-cell">{{$moment(purchase.created_at).format('lll') }}</td>
                        </tr>
                        <tr v-if="!purchases.data.length">
                            <td class="t-cell">No purchases found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <pagination :onPageChange="getData" :links="purchases.links" :from="purchases.from" :to="purchases.to" :total="purchases.total" />
    </div>
</template>

<script>
import layout from '../Layout'
export default {
    layout,
    props: {
        packages: Array,
        purchases: Object,
    },

    data(){
        return {
            loading: false,
            package_name: null,
            search: {

            }
        }
    },

    watch: {
        search: {
            handler(){
                this._search()
            },
            deep: true
        }
    },

    methods: {
        _search: _.debounce(function(){
            this.getData()
        }, 300),

        getData(page = 1){
            this.$inertia.get(route('partners.reservations'), {page, ...this.search}, {
                preserveState: true,
                preserveScroll: true,
            })
        },

        purchasePackage(){
            if(!this.package_name) {
                alert('Select a package to purchase')
                return
            } 
            this.loading = true
            this.$inertia.get(route('partners.purchases.store', {package: this.package_name}), {
                onFinish: () => this.loading = false
            })
        },
    }
}
</script>