<template>
    <layout>
        <div class="max-w-6xl">
            <div class="mb-6">
                <p class="text-3xl font-semibold">Hours</p>
            </div>
    
            <form-section @submitted="updateAvailability">
                <template #title>Hours of Operation</template>
                <template #description>Set the hours you allow online appointments to be booked</template>
    
                <template #form>
                    <div class=" rounded-lg">
                        <div class="p-3 mb-2 grid grid-cols-1 sm:grid-cols-3 gap-4">
                            <div class="font-semibold capitalize text-gray-800 text-sm flex items-center">
                                <span>Time intervals (minutes)</span> 
                            </div> 
                            <div class="flex space-x-5 sm:col-span-2">                            
                                <t-select :options="[15, 30, 60].map(item => ({label: item, value: item}))" v-model="availabilityForm.minute_interval"/>
                            </div>
                        </div>
                        <div v-for="(day, index) in days" :key="index" class="py-6 mb-2 grid grid-cols-1 sm:grid-cols-3 gap-3 border-t">
                            <div class="space-x-2">
                                <t-toggle v-model="availabilityForm[day].is_available" /> 
                                <span class="font-semibold capitalize" :class="availabilityForm[day].is_available ? 'text-gray-800' : 'text-gray-500'">
                                    {{day}}
                                </span> 
                            </div>
                            <div class="sm:col-span-2 grid grid-cols-2 gap-3">                            
                                <date-time-picker format="hh:mm A" formatted="hh:mm A" :disabled="!availabilityForm[day].is_available" :minute-interval="availabilityForm.minute_interval" v-model="availabilityForm[day].open" only-time label="Open at" />
                                <date-time-picker format="hh:mm A" formatted="hh:mm A" :disabled="!availabilityForm[day].is_available" :minute-interval="availabilityForm.minute_interval" v-model="availabilityForm[day].close" only-time label="Close at"/>
    
                                <t-input-group description="Available slots for the selected time interval" class="col-span-2">
                                    <t-input v-model="availabilityForm[day].capacity" type="number" min="1" :disabled="!availabilityForm[day].is_available"/>
                                </t-input-group>
                            </div>
                        </div>
                        <div class="p-3 mb-2 grid grid-cols-1 sm:grid-cols-3 gap-4">
                            <div class="text-gray-800 text-sm">
                                <span>Block these dates from the public (select multiple)</span> 
                            </div> 
                            <div class="sm:col-span-2">
                                <div class="flex flex-wrap">
                                    <div class="px-2 py-1 border mr-1 mb-1 text-sm" v-for="(date, index) in availabilityForm.blocked_dates" :key="index">{{date}}</div>
                                </div> 
                                <div class="my-4">
                                    <t-datepicker v-model="availabilityForm.blocked_dates" multiple/>
                                </div>                  
                            </div>
                        </div>
                    </div>
                </template>
                <template #actions>
                    <t-button variant="success">Update Schedule</t-button>
                </template>
            </form-section>
    
        </div>
    </layout>
</template>

<script>
import Layout from '../Layout'
import { RRule } from 'rrule'
export default {
    components: {
        Layout
    },
    props: {
        errors: Object,
        availability: Object,
        services: Array,
    },

    mounted() {
        this.availabilityForm = {...this.availabilityForm, ...this.availability}
    },

    data(){
        return {
            date: '',
            days: [ 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'],

            business: this.$page.props.auth.user.currentBusiness,

            availabilityForm: this.$inertia.form({
                minute_interval: 60,
                blocked_dates: [],
                monday: {},
                tuesday: {},
                wednesday: {},
                thursday: {},
                friday: {},
                saturday: {},
                sunday: {},
            }),
        }
    },

    methods: {
        updateAvailability(){
            this.availabilityForm.patch(route('partners.availability.update'), {
                preserveScroll: false
            })
        }
    }
}
</script>