<template>
    <div class="max-w-6xl">
        <inertia-link :href="route('admins.businesses')" class="font-semibold text-gray-700 flex items-center space-x-1 mb-5"> 
            <icon name="arrow-left"/> 
            <span>Back</span> 
        </inertia-link>
        <div class="flex-between mb-6">
            <div class="text-3xl font-semibold"> {{isEditing() ? business.name : 'Create Business'}} </div>

            <t-button v-if="isEditing()" variant="danger" @click="deleteBusiness">
                <icon name="trash"/>
                <span>Delete Business</span>
            </t-button>
        </div>

        <!-- active status -->
        <form-section v-if="isEditing()">
            <template #title>Active Status</template>
            <template #description>
                Whether or not this business is active
            </template>

            <template #form>
                <div class="space-x-2">
                    <t-toggle @change="$inertia.patch(route('admins.businesses.toggle-active', {business: business.id}))" :checked="!!business.is_active"/> 
                    <span class="font-semibold capitalize" :class="business.is_active ? 'text-gray-800' : 'text-gray-500'">
                        {{business.is_active ? 'Active' : 'Inactive'}}
                    </span>
                </div>
            </template>
        </form-section>

        <!-- owner status -->
        <form-section v-if="isEditing()">
            <template #title>Business owner</template>
            <!-- <template #description>
                Whether or not this business is active
            </template> -->

            <template #form>
                <div class="flex-between">
                    <div class="flex space-x-4">
                        <img :src="business.tenant.profile_photo_url" class="h-12 w-12 rounded-full" />
                        <div>
                            <inertia-link class="text-xl font-semibold text-gray-800 text-blue-700" :href="route('admins.users.show', {user: business.tenant.id})">{{business.tenant.name}}</inertia-link>
                            <div class="text-sm">Member since <span class="font-semibold">{{$moment(business.tenant.created_at).format('LL') }}</span> </div>
                        </div>
                    </div>
                    <div>
                        <t-button tagName="a" :href="route('admins.users.impersonate', {user: business.tenant.id})" variant="success"> <icon name="lock-open" class="mr-2"/> Impersonate {{business.tenant.first_name}}</t-button>
                    </div>
                </div>
            </template>
        </form-section>

        <!-- feature status -->
        <form-section v-if="isEditing()">
            <template #title>Featured Status</template>
            <template #description>
                Whether or not this business is in the featured list
            </template>

            <template #form>
                <div class="space-x-2">
                    <t-toggle @change="$inertia.patch(route('admins.businesses.feature', {business: business.id}))" :checked="!!business.featured_at"/> 
                    <span class="font-semibold" :class="business.featured_at ? 'text-gray-800' : 'text-gray-500'">
                        {{business.featured_at ? `Featured on ${$moment(business.featured_at).format('lll')}` : 'Not featured'}}
                    </span>
                </div>
            </template>
        </form-section>

        <!-- Details form -->
        <form-section>
            <template #title>Business Details</template>
            <template #description>Provide the necessary details about this business</template>

            <template #form>
                <!-- details -->
                <div class="form-row-cols-2 gap-6">
                    <t-input-group label="Business Name" class="col-span-2" :variant="errors.name && 'error'" :feedback="errors.name">
                        <t-input v-model="form.name"/>
                    </t-input-group>
                    <t-input-group label="Business Phone" :variant="errors.phone && 'error'" :feedback="errors.phone">
                        <t-input v-model="form.phone" type="type"/>
                    </t-input-group>
                    <t-input-group label="Business Email" :variant="errors.email && 'error'" :feedback="errors.email">
                        <t-input v-model="form.email"/>
                    </t-input-group>
                </div>
                <t-input-group label="About this business" :variant="errors.description && 'error'" :feedback="errors.description">
                    <t-textarea v-model="form.description"/>
                </t-input-group>
                <t-input-group label="Business Category" :variant="errors.category && 'error'" :feedback="errors.category">
                    <t-select :options="categories" v-model="form.category" placeholder="Select a category"/>
                </t-input-group>

                <!-- address -->
                <div class="form-row-cols-1 gap-6">
                    <t-input-group label="Location" :variant="errors.address && 'error'" :feedback="errors.address">
                        <GmapAutocomplete class="border w-full p-2 rounded" @place_changed="placeChanged" placeholder="Start typing your location" autocomplete="off" />
                    </t-input-group>

                    <p class=""><icon name="location"/> {{form.address}}</p>

                    <div class="grid grid-cols-2 gap-6">
                         <t-input-group label="City" :variant="errors.city && 'error'" :feedback="errors.city">
                            <t-input v-model="form.city" placeholder="City"/>
                         </t-input-group>
                         <t-input-group label="Country" :variant="errors.country && 'error'" :feedback="errors.country">
                            <t-input v-model="form.country" placeholder="Country"/>
                         </t-input-group>
                    </div>

                    <!-- map -->
                    <div class="border h-60 bg-gray-300 shadow rounded-lg">
                        <GmapMap
                            @center_changed="center_changed"
                            @dragend="dragend"
                            :center="center"
                            :zoom="15"
                            style="width: 100%; height: 100%"
                            :options="{
                                zoomControl: true,
                                mapTypeControl: false,
                                scaleControl: false,
                                streetViewControl: false,
                                rotateControl: false,
                                fullscreenControl: true,
                                disableDefaultUi: false
                            }"
                        >
                                <GmapMarker :position="center_marker"/>
                        </GmapMap>
                    </div>
                </div>

                <!-- social -->
                <div class="form-row-cols-1 gap-6">
                    <t-input-group label="Website" :variant="errors.website && 'error'" :feedback="errors.website">
                        <t-input v-model="form.website"/>
                    </t-input-group>
                    <t-input-group label="Facebook" :variant="errors.facebook && 'error'" :feedback="errors.facebook">
                        <t-input v-model="form.facebook" type="type"/>
                    </t-input-group>
                    <t-input-group label="Intagram" :variant="errors.instagram && 'error'" :feedback="errors.instagram">
                        <t-input v-model="form.instagram"/>
                    </t-input-group>
                    <t-input-group label="twitter" :variant="errors.twitter && 'error'" :feedback="errors.twitter">
                        <t-input v-model="form.twitter"/>
                    </t-input-group>
                </div>
            </template>
            <template #actions>
                <t-button variant="success" @click.prevent="submit">{{isEditing() ? 'Update' : 'Save'}}  </t-button>
            </template>
        </form-section>

    </div>
</template>

<script>
import layout from '../Layout'
import Autocomple from '../../../Mixins/PlacesAutocomplete'
export default {
    layout,
    mixins: [Autocomple],
    components: {
    },
    props: {
        errors: Object,
        business: Object,
        categories: Array,
    },

    mounted() {
        this.form = {...this.form, ...this.business}
        this.form.logo = null
    },

    data(){
        return {
            geocoder: null,
            center: {lat:5.6447990789473454, lng:-0.09559603346404265}, 
            center_marker: {lat:5.6447990789473454, lng:-0.09559603346404265}, 

            form: this.$inertia.form({
                name: '',
                phone: '',
                email: '',
                description: '',
                category: '',
                address: '',
                country: '',
                city: '',
                lat: '',
                lng: '',
                website: '',
                instagram: '',
                facebook: '',
                twitter: '',
            }),
        }
    },

    methods:{
        isEditing(){
            return !!this.business.id
        },

        submit(){
            this.form.post(route(this.isEditing() ? 'admins.businesses.update' : 'admins.businesses.store', {business: this.business.id}), {
                preserveState: false
            })
        },

        // toggleActiveStatus(){
        //     this.$inertia.patch(route('admins.businesses.toggle-active', {business: this.business.id}))
        // },

        deleteBusiness(){
            this.$inertia.delete(route('admins.businesses.destroy', {business: this.business.id}), {
                onBefore: () => confirm('Are you sure you want to delete this business?')
            })
        },

        placeChanged(e){
            const address = this.extractAddress(e, e.name)
            this.form.address = address.address
            this.form.country = address.country
            this.form.city = address.city
            this.form.lng = address.lng
            this.form.lat = address.lat
        },

        center_changed(e) {
            this.center_marker = {lat: e.lat(), lng: e.lng()}
        },

        dragend(){
            this.reverseGeocode(this.center_marker)
        },

        reverseGeocode(location){
            const geocoder = new google.maps.Geocoder();
            geocoder.geocode({location}, (results, status) => {
                if(status == 'OK'){
                    let address = this.extractAddress(results[0])
                    this.form = {...this.form, ...address}
                }
            })
        }
    }
}
</script>
