<template>
    <div class="space-y-6">
        <div class="flex-between mb-6">
            <div class="text-xl font-semibold">All Businesses</div>
            <t-button variant="brand" tagName="a" :href="route('admins.businesses.create')">New Business</t-button>
        </div>

        <!-- Search -->
        <div class="bg-white p-4 rounded-lg border">
            <div class="form-row-cols-4">
                <t-input-group>
                    <t-input v-model="search.name" placeholder="name"/>
                </t-input-group>
                <t-input-group>
                    <t-select v-model="search.name" :options="categories" placeholder="All categories"/>
                </t-input-group>
                <t-input-group>
                    <t-select v-model="search.featured_at" :options="['Featured only']" placeholder="[Featured?]"/>
                </t-input-group>
            </div>
        </div>

        <div class="table-container spread">
            <table class="table">
                <thead>
                    <tr class="th-row">
                        <th class="py-4 t-cell">Business</th>
                        <th class="py-4 t-cell">Is_Active</th>
                        <th class="py-4 t-cell">Is_Online</th>
                        <th class="py-4 t-cell">Featured at</th>
                        <th class="py-4 t-cell">Owned By</th>
                        <th class="py-4 t-cell">Phone</th>
                        <th class="py-4 t-cell">Category</th>
                        <th class="py-4 t-cell">Created</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="cursor-pointer td-row hover:bg-gray-50"
                        v-for="(business, index) in businesses.data" 
                        :key="index" 
                        @click="$inertia.visit(route('admins.businesses.edit', {business: business.id}))"
                    >
                        <td class="t-cell pr-0 flex space-x-4">
                            <img :src="business.logo" class="w-12 h-12 object-cover rounded-full border shadow" alt="Business logo" />
                            <div class="relative">
                                <p class="font-bold tracking-widest">{{business.name}}</p> 
                                <p class="truncate">{{business.email}}</p>
                            </div>
                        </td>
                        <td class="t-cell"> <span :class="{'pill-green': business.is_active, 'pill-red': !business.is_active, }">{{business.is_active ? 'Active' : 'Disabled'}}</span> </td>
                        <td class="t-cell"> <span :class="{'pill-green': business.is_online, 'pill-red': !business.is_online, }">{{business.is_online ? 'Online' : 'Offline'}}</span> </td>
                        <td class="t-cell">{{ business.featured_at ? $moment(business.featured_at).format('ll') : 'N/A'}}</td>
                        <td class="t-cell">{{business.tenant.first_name}} {{business.tenant.last_name}}</td>
                        <td class="t-cell">{{business.phone}}</td>
                        <td class="t-cell">{{business.category}}</td>
                        <td class="t-cell">{{ $moment(business.created_at).format('lll') }}</td>
                    </tr>
                    <tr class="cursor-pointer td-row hover:bg-gray-50" v-if="!businesses.data.length" >
                        <td class="t-cell">No businesses found</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pagination :onPageChange="getData" :links="businesses.links" :from="businesses.from" :to="businesses.to" :total="businesses.total" />
    </div>
</template>

<script>
import layout from '../Layout'
import Searchable from '@Mixins/Searchable'
export default {
    mixins: [Searchable],
    layout,
    props: {
        businesses: Object,
        categories: Array
    },

    data(){
        return {
            search: {
                dates: '',
                name: '',
                category: '',
                featured_at: null
            }
        }
    },

    methods: {
        getData(page = 1){
            this.$inertia.get(route('admins.businesses'), {page, ...this.search}, {
                preserveState: true
            })
        }
    }
}
</script>