<template>
    <div class="space-y-6">

        <inertia-link :href="route('admins.businesses')" class="font-semibold text-gray-700 flex items-center space-x-1"> 
            <icon name="arrow-left"/> 
            <span>Back</span> 
        </inertia-link>

        <div class="flex-between">
            <div class="flex space-x-4">
                <img :src="business.logo" class="w-16 h-16 object-cover rounded-full shadow" alt="Business logo" />
                <div>
                    <div class="text-xl font-semibold">{{business.name}}</div>
                    <div class="text-sm">Created <span class="font-semibold">{{$moment(business.created_at).format('LL') }}</span> </div>
                </div>
            </div>
            <div>
                <!-- <t-button tagName="a" :href="route('admins.users.impersonate', {user: business.id})" variant="success"> <icon name="lock-open" class="mr-2"/> Impersonate {{business.first_name}}</t-button> -->
            </div>
        </div>

        <!-- Details -->
        <div class="rounded-lg bg-white border">
            <div class="px-6 py-4 border-b">
                <p class="font-semibold">Business Details</p>
            </div>
            <div class="px-6 py-4">
                <div class="grid grid-cols-2 gap-6">
                    <div class="text-gray-800">
                        <p class="text-gray-500 font-semibold">Name</p>
                        <p>{{business.name}}</p>
                    </div>
                    <div class="text-gray-800">
                        <p class="text-gray-500 font-semibold">Owner</p>
                        <inertia-link :href="route('admins.users.show', {user: business.tenant.id})" class="text-blue-600">{{business.tenant.name}}</inertia-link>
                    </div>
                    <div class="text-gray-800">
                        <p class="text-gray-500 font-semibold">Email</p>
                        <p>{{business.email}}</p>
                    </div>
                    <div class="text-gray-800">
                        <p class="text-gray-500 font-semibold">Phone</p>
                        <p>{{business.phone}}</p>
                    </div>
                    <div class="text-gray-800">
                        <p class="text-gray-500 font-semibold">Category</p>
                        <p>{{business.category}}</p>
                    </div>
                    <div class="text-gray-800">
                        <p class="text-gray-500 font-semibold">Location</p>
                        <p>{{business.location}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import layout from '../Layout'
export default {
    layout,
    props: {
        business: Object,
    },

    data(){
        return {}
    },
}
</script>