@import 'tailwindcss/base';
@import 'tailwindcss/components';

@import "utilities";
@import "nprogress";

@import 'tailwindcss/utilities';

@layer utilities {
    @variants responsive {
      /* Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
        display: none;
      }
  
      .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }
    }
  }
