.container {
    @apply max-w-screen-lg mx-auto px-4 sm:px-6;
}

.flex-between {
    @apply flex justify-between items-center;
}

.flex-center {
    @apply flex justify-center items-center;
}

.btn {
    @apply items-center justify-center inline-block px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded transition ease-in-out duration-150;
}

.dropdown-link {
    @apply block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out;
}


.table-container {
    @apply bg-white sm:rounded-xl shadow-sm overflow-y-auto relative;
}

.table {
    @apply border-collapse table-auto w-full whitespace-nowrap bg-white relative;
}

.th-row {
    @apply text-left text-gray-800 font-bold border-b border-gray-200 tracking-wider text-xs uppercase;
}

.td-row {
    @apply border-dashed border-t border-gray-200 text-gray-700 px-6 py-3 text-sm;
}

.t-cell {
    @apply px-6 py-2;
}


.card {
    @apply shadow-sm rounded-lg bg-white overflow-hidden;
}

.card-header {
    @apply px-6 py-4 flex-between font-semibold;
}

.card-body {
    @apply p-6;
}

.card-footer {
    @apply px-6 py-3 flex bg-gray-100 items-center justify-end;
}


/* Pills */
.pill-yellow { 
    @apply inline-block px-2 bg-yellow-200 text-yellow-800 rounded-full text-xs font-semibold;
}

.pill-red { 
    @apply inline-block px-2 bg-red-200 text-red-800 rounded-full text-xs font-semibold;
}

.pill-green { 
    @apply inline-block px-2 bg-green-200 text-green-800 rounded-full text-xs font-semibold;
}

.pill-blue { 
    @apply inline-block px-2 bg-blue-200 text-blue-800 rounded-full text-xs font-semibold;
}


.section-border { 
    @apply my-6 border-t border-gray-300;
}

.border-section { 
    @apply my-6 border-t border-gray-300;
}

.text-brand {
    @apply text-pink-800
}

.bg-brand {
    @apply bg-pink-800
}

.page-header {
    @apply text-xl sm:flex justify-between items-center mx-4 font-semibold tracking-wider uppercase text-brand;
}

.filters-form {
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 mb-4 shadow bg-white p-4 rounded-lg
}

.form-row-cols-1 {
    @apply grid grid-cols-1
}

.form-row-cols-2 {
    @apply grid grid-cols-1 sm:grid-cols-2 gap-3
}

.form-row-cols-3 {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3
}

.form-row-cols-4 {
    @apply grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-3
}

.spread {
    @apply -mx-4 sm:-mx-0
}

/********* transitions *********/

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .2s linear;
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}

