<template>
    <div>
        <div class="flex-between mb-6">
            <p class="text-3xl font-semibold">Customer Reviews & Ratings</p>
        </div>

        <div class="bg-white rounded-lg -mx-4 sm:-mx-0">
            <!-- <div class="p-4 border-b sm:flex justify-between items-start w-full">
                <div class="">
                    <p class="text-sm text-gray-700">Search for reservations by Last name or Reservation Code</p>
                </div>
            </div> -->
            <!-- <div class="border-b p-4 bg-gray-50">
                <div class="form-row-cols-3">
                    <t-input  placeholder="Search by Last name or Code" />
                    <t-datepicker :highlightDates="[]" range placeholder="Filter by appointment date"/>
                    <t-select placeholder="Sort by" :options="[{'text' : 'Date Created', 'value' : 'created_at'}, {'text' : 'Appointment Date', 'value' : 'appointment_date'}]"/>
                </div>
            </div> -->
            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr class="th-row">
                            <th class="py-4 t-cell">User</th>
                            <th class="py-4 t-cell">Rating (Stars)</th>
                            <th class="py-4 t-cell">Review</th>
                            <th class="py-4 t-cell">Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="cursor-pointer td-row" 
                            v-for="(review, index) in reviews.data" 
                            :key="index"
                        >
                            <td class="t-cell"> 
                                <p>{{review.user.name}}</p>
                                <!-- <p class="text-sm">{{review.user.name}}</p> -->
                            </td>
                            <td class="t-cell">{{review.rating}}</td>
                            <td class="t-cell">{{review.review}}</td>
                            <td class="t-cell">{{$moment(review.created_at).format('lll') }}</td>
                        </tr>
                        <tr v-if="!reviews.data.length">
                            <td class="t-cell">No reviews found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <pagination :onPageChange="getData" :links="reviews.links" :from="reviews.from" :to="reviews.to" :total="reviews.total" />
    </div>
</template>

<script>
import layout from '../Layout'
export default {
    layout,
    props: {
        reviews: Object,
    },

    data(){
        return {

        }
    },

    watch: {
        search: {
            handler(){
                this._search()
            },
            deep: true
        }
    },

    methods: {
        getDayName(date){
            return this.$moment(date).format('dddd').toLowerCase()
        },

        _search: _.debounce(function(){
            this.getData()
        }, 300),

        getData(page = 1){
            this.$inertia.get(route('partners.reservations'), {page, ...this.search}, {
                preserveState: true,
                preserveScroll: true,
            })
        },

        makeReservation(){
            this.reservation.post(route('partners.businesses.reservations.store', {business: this.business.id}),{
                preserveState: true,
                preserveScroll: true,
                onSuccess: () => {
                    this.reservationModal = false
                    this.reservation.reset()
                }
            })
        },

        showReservationModal(){
            return this.$inertia.visit(route('partners.reservations.create'))
            // this.reservationModal = true
        },
    }
}
</script>