<template>
    <layout>
        <div class="mb-6">
            <p class="text-3xl font-semibold">Services</p>
        </div>
        <form-section>
            <template #title>Services Offered</template>
            <template #description>
                These are the services your customers/clients will be able to select when making an appointment with this business.
                If you require that your reservees make partial or full payment for securing an appointment, 
                please specify how much they pay for each service they select.
            </template>

            <template #form>
                <div class="">
                    <!-- <t-toggle uncheckedLabel="Require that users select a service"/> -->
                    <div class="border rounded-lg divide-y">
                        <div class="flex p-3" v-for="(service, index) in services" :key="index">
                            <div class="flex-1 grid grid-cols-1 sm:grid-cols-4 text-sm">
                                <p class=" font-semibold">{{service.name}}</p>
                                <p class="">GHS {{service.charge}}</p>
                                <p class="sm:col-span-2">
                                    <span class="capitalize text-sm" v-for="(day, index) in service.days_available.map(day => day.slice(0,2))" :key="index">
                                        {{day}} &middot;
                                    </span>
                                </p>
                            </div>
                            <p class=" text-right space-x-3">
                                <button @click="edit(service)"><icon name="pencil" class="text-blue-500"/></button>
                                <button @click="deleteService(service)"><icon name="trash" class="text-red-500"/></button>
                            </p>
                        </div>
                        <p v-if="!services.length" class="text-center text-gray-600 py-2">No services yet. Click the 'Add Service' button to get started</p>
                    </div>
                </div>
            </template>
            <template #actions>
                <t-button variant="success" @click.prevent="showServiceForm = true">Add Service</t-button>
            </template>
        </form-section>

        <!-- Service Form -->
        <t-modal v-model="showServiceForm" header="Add a service" >
            <div class="pb-3 form-row-cols-2">
                <t-input-group class="col-span-2" label="Service name" :variant="errors.name && 'error'" :feedback="errors.name">
                    <t-input v-model="serviceForm.name"/>
                </t-input-group>
                <t-input-group class="col-span-2" label="Service charge (GHS)" :variant="errors.charge && 'error'" :feedback="errors.charge">
                    <t-input v-model="serviceForm.charge" type="number"/>
                </t-input-group>
                <t-input-group class="col-span-2" label="Days available">
                    <div class="grid grid-cols-3 gap-3">
                        <t-checkbox value="monday" label="monday" v-model="serviceForm.days_available"/>
                        <t-checkbox value="tuesday" label="tuesday" v-model="serviceForm.days_available"/>
                        <t-checkbox value="wednesday" label="wednesday" v-model="serviceForm.days_available"/>
                        <t-checkbox value="thursday" label="thursday" v-model="serviceForm.days_available"/>
                        <t-checkbox value="friday" label="friday" v-model="serviceForm.days_available"/>
                        <t-checkbox value="saturday" label="saturday" v-model="serviceForm.days_available"/>
                        <t-checkbox value="sunday" label="sunday" v-model="serviceForm.days_available"/>
                    </div>
                </t-input-group>
            </div>
            <div class="pt-3 flex justify-end">
                <t-button variant="success" @click="addService">Submit</t-button>
            </div>
        </t-modal>
    </layout>
</template>

<script>
import Layout from '../Layout'
export default {
    components: {
        Layout,
    },

    props: {
        errors: Object,
        services: Array,
    },

    data(){
        return {
            showServiceForm: false,
            serviceForm: this.$inertia.form({
                name: '',
                charge: 0,
                days_available: [],
                business: this.$page.props.auth.user.currentBusiness
            }),
        }
    },

    methods:{
        addService(){
            let path = this.serviceForm.id ? 'partners.services.update' : 'partners.services.store'
            this.serviceForm.post(route(path, {service: this.serviceForm.id}), {
                preserveState: true,
                onSuccess: () => {
                    this.showServiceForm = false
                    this.serviceForm.reset()
                }
            })
        },

        edit(service){
            this.serviceForm = {...this.serviceForm, ...service}
            this.showServiceForm = true
        },

        deleteService(service){
            this.$inertia.delete(route('partners.services.destroy', {service: service.id}), {
                onBefore: () => confirm('Please confirm to delete this service'),
            })
        }
    }
}
</script>