<template>
    <div>
            <div class="mb-4 flex items-center space-x-1 text-blue-800 font-semibold bg-blue-100 p-1 px-3" v-if="!$page.props.auth.user.isOnOwnTeam">
                <icon name="information-circle"/>
                <span>Business profiles from {{$page.props.auth.user.currentTeam.display_name}}.</span>
            </div>

        <div class="sm:flex justify-between mb-6" v-else>
            <div class="text-xl font-semibold">My Business Profiles</div>
            <t-button :href="route('partners.businesses.create')" class="text-sm mt-3 sm:mt-0" variant="brand" tagName="a">
                <icon name="plus"/>
                <span>New Business Profile</span>
            </t-button>
        </div>

        <div v-if="!businesses.length" class="flex-center flex-col space-y-8">
            <div class="max-w-sm sm:text-center">
                <p class="text-sm mb-8">Reservr streamlines the reservation/booking process for you to have a one-stop place to manage all your bookings at any time and on any device.</p>
                <inertia-link :href="route('partners.businesses.create')" class="font-semibold text-indigo-800">Set-up business profile for reservations -> </inertia-link>
            </div>
            <img src="/img/business.svg" alt="" class="h-64">
            <p class="text-center text-gray-600">No Businesses yet...</p>
        </div>

        <div v-else class="grid grid-cols-1 sm:grid-cols-2 gap-4 mb-8">
            <inertia-link class="block rounded-lg overflow-hidden shadow-sm" v-for="(business, index) in businesses" :key="index" :href="route('partners.businesses.show', {business: business.id})">
                <div class="flex bg-white space-x-3">
                    <div class="py-3 pl-3">
                        <div class="h-16 w-16 object-cover rounded-lg border relative" :style="`background-image: url(${business.logo}); background-position: center; background-size: cover;`">
                            <div v-if="business.unseen_bookings_count" class="absolute top-0 left-0 -mt-2 -ml-2 px-1 border rounded-full bg-red-600 text-white flex-center text-xs">
                                <span>{{business.unseen_bookings_count}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="flex-1 flex-between py-3">
                        <div class="">
                            <p class="font-bold">{{business.name}}</p>
                            <p class="text-sm text-gray-600">@{{business.slug}}</p>

                            <span class="pill-green" v-if="business.is_online">online</span>
                            <span class="pill-red" v-else>offline</span>
                        </div>
                    </div>
                    <div class="flex-center px-3">
                        <icon name="chevron-right"/>
                    </div>
                </div>
            </inertia-link>
        </div>
    </div>
</template>

<script>
import layout from '../Layout'
export default {
    layout,
    props: {
        businesses: Array,
        // team_businesses: Array
    }
}
</script>