
<template>
    <div class="w-full max-w-lg mx-auto">
      <div class="mt-8 overflow-hidden sm:rounded-xl shadow-xl">
        <div class="bg-white space">
            <div class="p-8 text-center font-semibold border-b">
                Select a Business
            </div>
            <div class="divide-y divide-dashed">
                <inertia-link 
                    :href="route('partners.auth.business-option.select', {business: bus.id})" 
                    class="flex-between items-center space-x-3 p-4 hover:bg-gray-100 cursor-pointer" 
                    v-for="(bus, index) in businesses" :key="index"
                >
                    <div class="flex items-center space-x-3">
                        <img :src="bus.logo" :alt="bus.name" class="h-12 w-12 object-cover rounded-full">
                        <p class="font-semibold text-gray-800">{{bus.name}}</p> 
                    </div>
                    <span class="font-semibold text-indigo-800" v-if="bus.id == $page.props.auth.user.currentBusiness.id">current</span>
                </inertia-link>
                <inertia-link :href="route('partners.businesses.create')" class="flex-center space-x-3 p-4 bg-gray-100 cursor-pointer">
                    <p class="font-semibold text-indigo-700 text-center">+ Add New Business</p> 
                </inertia-link>
            </div>
        </div>
      </div>
    </div>
</template>

<script>
import layout from '../Layout'
import Logo from '@/Jetstream/ApplicationMark'
export default {
  layout,
  metaInfo: { title: 'Choose a Business' },
  components: {
    Logo,
  },
  props: {
    errors: Object,
    businesses: Array,
  },
}
</script>