<template>
    <div>
        <div class="flex-between mb-6">
            <dropdown align="left">
                <template #trigger>
                    <button class="flex text-sm border border-transparent focus:outline-none transition duration-150 ease-in-out">
                        <span class="leading-none text-gray-700 flex-between space-x-2">
                            <span>{{business.name}} </span>
                            <icon name="chevron-down" :size="4"></icon>
                        </span><br>
                    </button>
                </template>
                <template #content>
                    <template v-for="(business, index) in businesses">
                        <inertia-link :key="index + 'bus'" class="dropdown-link" :href="route('partners.businesses.show', {business: business.id})"> {{business.name}} </inertia-link>
                    </template>
                    <inertia-link class="dropdown-link" :href="route('partners.businesses.create')"> + New Business </inertia-link>
                </template>
            </dropdown>
        </div>
        <div class="p-6 mb-6 -mx-4 sm:-mx-0 bg-white sm:rounded-lg shadow-sm">
            <div class="sm:flex">
                <div class="mr-4 mb-4">
                    <img class="h-20 w-20 object-cover sm:h-20 sm:w-20 rounded-lg" :src="business.logo"/>
                </div>
                <div class="flex-1 sm:flex items-start justify-between">
                    <div class="">
                        <p class="font-bold">{{business.name}}</p>
                        <p class="text-sm text-gray-600">@{{business.slug}}</p>
                        <p class="text-sm text-gray-600">{{business.location}}</p>
                        <p class="text-sm text-gray-600">{{business.phone}}</p>
                        <p class="text-sm text-gray-600">{{business.email}}</p>
                        <t-button class="mt-2" :href="route('partners.businesses.edit', {business: this.business.id})" tagName="a">
                            <icon name="pencil"/> Edit
                        </t-button>
                        
                    </div>
                    <div class="flex flex-col space-y-4 mt-4 sm:mt-0">
                        <div class="text-center">
                            <p v-if="business.is_online" class="flex-center text-xs space-x-1 font-bold tracking-widest mb-2 uppercase text-green-700">
                                <icon name="status-online" class="mr-2"/>  
                                <span>Business is online</span>
                            </p>
                            <p v-else class="flex-center text-xs space-x-1 font-bold tracking-widest mb-2 uppercase text-red-700">
                                <icon name="status-offline" class="mr-2"/>  
                                <span>Business is offline</span>
                            </p>
                            <t-button :variant="business.is_online ? '' : 'success'" class=" w-full" tagName="a" href="route('partners.businesses.online-status.toggle', {business: business.id})"> 
                                <span v-if="business.is_online ">Stop Accepting Appointments</span>
                                <span v-else>Start Accepting Appointments</span>
                            </t-button>
                        </div>
                        <t-button variant="dark" class="" tagName="a" href="route('partners.businesses.settings', {business: business.id})"> 
                            <icon name="cog" class="mr-2"/> Business Settings
                        </t-button>
                    </div>
                </div>
            </div>
            <div class="flex mt-3">
                <t-input :value="business.path" id="businessLink"/>
                <t-button class="ml-2" @click="copyPath">Copy</t-button>
            </div> 
        </div>

        <!-- <div class="mb-6 -mx-4 sm:-mx-0 bg-white sm:rounded-lg shadow-sm">
            <div class="px-6 py-3 border-b sm:flex items-center justify-between">
                <div>
                    <p class="text-xl font-semibold mb-3 sm:mb-0">Search</p>
                    <span class="text-sm text-gray-700">Search for reservations by First Name, Last Name or reservation code</span>
                </div>
                <div>
                    <t-button tagName="a" :href="route('partners.businesses.reservations', {business: business.id})" variant="brand">
                        All Reservations ->
                    </t-button>
                </div>
                <div class="rounded-lg border overflow-hidden inline-block">
                    <button class="px-3 py-1 focus:outline-none" :class="timeframe == '1' ? 'bg-gray-700 text-white' : ''" @click="changeTimeframe(1)">Day</button>
                    <button class="px-3 py-1 focus:outline-none" :class="timeframe == '7' ? 'bg-gray-700 text-white' : ''" @click="changeTimeframe(7)">Week</button>
                    <button class="px-3 py-1 focus:outline-none" :class="timeframe == '30' ? 'bg-gray-700 text-white' : ''" @click="changeTimeframe(30)">Month</button>
                </div>
            </div>
            <div class="p-6">
                    <div class="form-row-cols-2">
                        <t-input v-model="search.q" placeholder="Search by Name or Code" />
                        <t-datepicker v-model="search.date" :highlightDates="[]" placeholder="Search by date"/>
                        <date-time-picker 
                            v-model="selectedDate" 
                            no-header 
                            only-date 
                            label="Select a date" 
                            inline 
                            format="YYYY-MM-DD"
                            no-button-now
                            @input="showDatePage"
                        />
                </div>
            </div>
        </div> -->

        <div class="bg-white rounded-lg -mx-4 sm:-mx-0">
            <div class="p-4 border-b sm:flex justify-between items-start w-full">
                <div class="">
                    <p class="text-xl font-semibold">Upcoming Reservations</p>  
                    <p class="text-sm text-gray-700">Search for reservations by Last name or Reservation Code</p>
                </div>
                <t-button @click="showReservationModal" variant="brand" class="mt-3 sm:mt-0">
                    <icon name="plus"/>
                    <span>Make Reservation</span>
                </t-button>
            </div>
            <div class="border-b p-4 bg-gray-50">
                <div class="form-row-cols-2">
                    <t-input v-model="search.q" placeholder="Search by Last name or Code" />
                    <t-datepicker v-model="search.date" :highlightDates="[]" placeholder="Filter by appointment date"/>
                </div>
            </div>
            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr class="th-row">
                            <th class="py-4 t-cell">Code & Status</th>
                            <th class="py-4 t-cell">reservee</th>
                            <th class="py-4 t-cell">Appointment Due</th>
                            <!-- <th class="py-4 t-cell">Persons</th> -->
                            <th class="py-4 t-cell">Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="cursor-pointer td-row hover:bg-gray-50" 
                            :class="!reservation.seen && 'font-semibold'"
                            v-for="(reservation, index) in reservations.data" 
                            :key="index" @click="$inertia.visit(route('partners.businesses.reservations.show', {reservation: reservation.id, business: business.id}))"
                        >
                            <td class="t-cell flex items-center space-x-4">
                                <div class="">
                                    <p v-if="!reservation.seen" class="h-2 w-2 rounded-full bg-blue-600"></p>
                                </div>
                                <div>
                                    <p class="tracking-widest">{{ reservation.code }}</p> 
                                    <span class="text-xs capitalize tracking-widest" :class="status[reservation.status]">
                                        {{ reservation.status }}
                                    </span> 
                                </div>
                            </td>
                            <td class="t-cell"> 
                                <p>{{reservation.name}}</p>
                                <p class="text-sm">{{reservation.phone}}</p>
                            </td>
                            <td class="t-cell"> 
                                <p>{{$moment(reservation.date).format('lll')}}</p>
                                <p class="text-sm text-gray-600">{{$moment().to(reservation.date)}}</p>
                                <!-- <p>{{$moment(reservation.appointment_time, 'HH:mm:ss').format('h:mm A') }}</p> -->
                            </td>
                            <!-- <td class="t-cell"> {{reservation.count}} </td> -->
                            <td class="t-cell">{{$moment(reservation.created_at).format('lll') }}</td>
                        </tr>
                        <tr v-if="!reservations.data.length">
                            <td class="t-cell">No records found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <pagination :onPageChange="getData" :links="reservations.links" :from="reservations.from" :to="reservations.to" :total="reservations.total" />

        <!-- Reservation Form -->
        <t-modal v-model="reservationModal" header="Reservation Details">
            <form @submit.prevent="makeReservation" class="space-y-3">
                <div class="grid grid-cols-2 gap-3">
                    <t-input-group label="Date" :variant="errors.appointment_date && 'error'" :feedback="errors.appointment_date" required>
                        <t-datepicker v-model="reservation.appointment_date" :clearable="false" :minDate="$moment().format('YYYY-MM-DD')"/>
                    </t-input-group>
                    <t-input-group label="Time" :variant="errors.appointment_time && 'error'" :feedback="errors.appointment_time" required>
                        <t-select v-model="reservation.appointment_time" placeholder="Select appointment time" :options="fullSchedule[$moment(reservation.appointment_date).format('dddd').toLowerCase()].time_instances"/>
                    </t-input-group>
                    <t-input-group label="First Name" :variant="errors.first_name && 'error'" :feedback="errors.first_name" required>
                        <t-input v-model="reservation.first_name"/>
                    </t-input-group>
                    <t-input-group label="Last Name" :variant="errors.last_name && 'error'" :feedback="errors.last_name" required>
                        <t-input v-model="reservation.last_name"/>
                    </t-input-group>
                    <t-input-group label="Phone" :variant="errors.phone && 'error'" :feedback="errors.phone" required>
                        <t-input v-model="reservation.phone" type="tel"/>
                    </t-input-group>
                    <t-input-group label="Email">
                        <t-input v-model="reservation.email" type="email"/>
                    </t-input-group>
                    <t-input-group label="Select services" v-if="services.length">
                        <t-checkbox wrapped v-model="reservation.services" :label="service.name" :name="service.name" :value="service.name" v-for="(service, index) in services" :key="`${index}svc`" class="mb-1"/>
                    </t-input-group>
                </div>
                <!-- <t-input-group label="Number of Persons" class="sm:col-span-2" :variant="errors.count && 'error'" :feedback="errors.count" required>
                    <t-input v-model="reservation.count" type="number"/>
                </t-input-group> -->
            </form>
            <template #footer>
                <t-button variant="brand" @click="makeReservation">Finish -> </t-button>
            </template>
        </t-modal>
    </div>
</template>

<script>
import layout from '../Layout'
import { RRule, RRuleSet, rrulestr } from 'rrule'
export default {
    layout,
    props: {
        errors: Object,
        business: Object,
        businesses: Array,
        services: Array,
        availability: Object,
        fullSchedule: Object,
        reservations: Object,
    },

    data(){
        return {
            selectedDate: '',
            dateRange: [],
            timeframe: 7,
            calendarDisplay: [],

            reservationModal: false,

            reservation: this.$inertia.form({
                first_name: '',
                last_name: '',
                phone: '',
                email: '',
                count: 1,
                appointment_date: this.forDate || this.$moment().format('YYYY-MM-DD'),
                appointment_time: '',
                is_client_originated: true,
                services: []
            }),

            search: {
                q: '',
                date: ''
            },

            status: {
                pending: 'bg-yellow-100 text-yellow-900',
                declined: 'bg-gray-100 text-gray-700',
                cancelled: 'bg-red-100 text-red-900',
                confirmed: 'bg-green-100 text-green-900',
            }
        }
    },

    computed: {
        selectedDateTimeInstances: function(){
            if(this.selectedDate){
                return this.fullSchedule[this.getDayName(this.selectedDate)].time_instances
            }
            return []
        }
    },

    watch: {
        search: {
            handler(){
                this._search()
            },
            deep: true
        }
    },

    methods: {
        getDayName(date){
            return this.$moment(date).format('dddd').toLowerCase()
        },

        copyPath(){
                var copyText = document.getElementById("businessLink");
                copyText.select();
                copyText.setSelectionRange(0, 99999); /* For mobile devices */
                document.execCommand("copy");

                this.$page.props.flash.success = "Business link copied"
        },

        showDatePage(date){
            this.$inertia.visit(route('partners.businesses.reservations', {business: this.business.id, date}))
        },

        showReservationModal(){
            this.reservationModal = true
        },

        makeReservation(){
            this.reservation.post(route('partners.businesses.reservations.store', {business: this.business.id}),{
                preserveState: true,
                preserveScroll: true,
                onSuccess: () => {
                    this.reservationModal = false
                    this.reservation.reset()
                }
            })
        },

        _search: _.debounce(function(){
            this.getData()
        }, 300),

        getData(page = 1){
            this.$inertia.get(route('partners.businesses.show', {business: this.business.id}), {page, ...this.search}, {
                preserveState: true,
                preserveScroll: true,
            })
        }
    }
}
</script>