<template>
    <div>
        <div class="flex-between">
            <div>
                <inertia-link :href="route('partners.reservations')" class="text-xl font-semibold flex-center space-x-1"> 
                    <icon name="arrow-left"/> 
                    <span>All Reservations</span> 
                </inertia-link>                
            </div>

            <t-button v-if="isEditing()" variant="danger" disabled>
                <icon name="trash"/>
                <span>Delete reservation</span>
            </t-button>
        </div>

        <!-- Details -->
        <div class="-mx-4 sm:mx-0 max-w-4xl">
            <form-section>
                <template #title>
                    Client's Details
                </template>
                <template #description>Provide the necessary details to complete this reservation. The reservee will be notified on the phone number you provide here</template>

                <template #form>
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
                        <t-input-group label="First Name" :variant="form.errors.first_name && 'error'" :feedback="form.errors.first_name" required>
                            <t-input v-model="form.first_name"/>
                        </t-input-group>
                        <t-input-group label="Last Name" :variant="form.errors.last_name && 'error'" :feedback="form.errors.last_name" required>
                            <t-input v-model="form.last_name"/>
                        </t-input-group>
                        <t-input-group label="Phone" :variant="form.errors.phone && 'error'" :feedback="form.errors.phone" required>
                            <t-input v-model="form.phone" type="tel"/>
                        </t-input-group>
                        <t-input-group label="Email">
                            <t-input v-model="form.email" type="email"/>
                        </t-input-group>
                    </div>
                </template>
            </form-section>
        </div>

        <!-- Date & Time -->
        <div class="-mx-4 sm:mx-0 max-w-4xl">
            <form-section>
                <template #title>
                    Date & Time
                </template>
                <template #description>Select a date and timeslot for this reservation</template>

                <template #form>
                    <t-input-group label="Appointment Date" required>
                        <t-datepicker v-model="form.appointment_date" :clearable="false" :minDate="$moment().format('YYYY-MM-DD')"/>
                    </t-input-group>
                    <t-input-group v-if="form.appointment_date" label="Appointment Time" :variant="form.errors.appointment_time && 'error'" :feedback="form.errors.appointment_time">
                        <div class="grid grid-cols-4 gap-3">
                            <button 
                                v-for="(time, index) in fullSchedule[$moment(form.appointment_date).format('dddd').toLowerCase()].time_instances" 
                                :key="index"
                                class="border hover:shadow hover:border-none py-2 rounded font-semibold focus:outline-none"
                                :class="form.appointment_time == time && 'bg-green-600 text-white'"
                                @click="form.appointment_time = time"
                            >{{time}}</button>
                        </div>
                    </t-input-group>
                </template>
            </form-section>
        </div>

        <!-- Services -->
        <div class="-mx-4 sm:mx-0 max-w-4xl" v-if="services.length">
            <form-section>
                <template #title>
                    Services
                </template>
                <template #description>Select the services to book</template>

                <template #form>
                    <div class="grid grid-cols-1 gap-3">
                        <button 
                            v-for="(service, index) in services" 
                            :key="index"
                            class="border hover:shadow hover:border-none p-2 rounded font-semibold text-left focus:outline-none"
                            :class="form.services.includes(service.name) && 'bg-green-600 text-white'"
                            @click="selectService(service)"
                        >{{service.name}}</button>
                    </div>
                </template>
            </form-section>
        </div>

        <div class="flex-between">
            <span></span>
            <t-button variant="success" @click.prevent="submit">{{isEditing() ? 'Update reservation' : 'Create reservation'}}  </t-button>
        </div>
    </div>
</template>

<script>
import layout from '../Layout'
export default {
    layout,
    props: {
        errors: Object,
        reservation: Object,
        fullSchedule: Object,
        services: Array,
    },

    mounted() {
        this.form = {...this.form, ...this.reservation}
    },

    data(){
        return {
            form: this.$inertia.form({
                first_name: '',
                last_name: '',
                phone: '',
                email: '',
                count: 1,
                appointment_date: null,
                appointment_time: null,
                initiated_by: 'business',
                services: []
            }),
        }
    },

    methods:{
        isEditing(){
            return !!this.reservation.id
        },

        submit(){
            this.form.post(
                route(this.isEditing() 
                    ? 'partners.reservations.update' 
                    : 'partners.reservations.store', {reservation: this.reservation.id})
            )
        },

        selectService(service){
            this.form.services.includes(service.name) 
            ? this.form.services = this.form.services.filter(svc => svc !== service.name) 
            : this.form.services.push(service.name)
        }
    }
}
</script>
