<template>
    <div>
        <div class="flex-between mb-6">
            <p class="text-3xl font-semibold">Reservations</p>
            <t-button href @click.prevent="showReservationModal" variant="brand" tagName="a">
                <icon name="plus"/>
                <span>New Reservation</span>
            </t-button>
        </div>

        <div class="bg-white rounded-lg -mx-4 sm:-mx-0">
            <div class="p-4 border-b sm:flex justify-between items-start w-full">
                <div class="">
                    <p class="text-sm text-gray-700">Search for reservations by Last name or Reservation Code</p>
                </div>
            </div>
            <div class="border-b p-4 bg-gray-50">
                <div class="form-row-cols-3">
                    <t-input v-model="search.q" placeholder="Search by Last name or Code" />
                    <t-datepicker v-model="search.date" :highlightDates="[]" range placeholder="Filter by appointment date"/>
                    <t-select v-model="search.sortBy" placeholder="Sort by" :options="[{'text' : 'Date Created', 'value' : 'created_at'}, {'text' : 'Appointment Date', 'value' : 'appointment_date'}]"/>
                    <!-- <t-select v-model="search.show" placeholder="Show Seen/Unseen" :options="['all', 'Unseen', 'Seen']"/> -->
                </div>
            </div>
            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr class="th-row">
                            <th class="py-4 t-cell">Code & Status</th>
                            <th class="py-4 t-cell">reservee</th>
                            <th class="py-4 t-cell">Appointment Due</th>
                            <!-- <th class="py-4 t-cell">Persons</th> -->
                            <th class="py-4 t-cell">Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="cursor-pointer td-row hover:bg-gray-50" 
                            :class="!reservation.seen && 'font-semibold'"
                            v-for="(reservation, index) in reservations.data" 
                            :key="index" @click="$inertia.visit(route('partners.reservations.show', {reservation: reservation.id}))"
                        >
                            <td class="t-cell flex items-center space-x-4">
                                <div class="">
                                    <p v-if="!reservation.seen" class="h-2 w-2 rounded-full bg-blue-600"></p>
                                </div>
                                <div>
                                    <p class="tracking-widest">{{ reservation.code }}</p> 
                                    <span class="text-xs capitalize tracking-widest" :class="status[reservation.status]">
                                        {{ reservation.status }}
                                    </span> 
                                </div>
                            </td>
                            <td class="t-cell"> 
                                <p>{{reservation.name}}</p>
                                <p class="text-sm">{{reservation.phone}}</p>
                            </td>
                            <td class="t-cell"> 
                                <p>{{$moment(reservation.date).format('lll')}}</p>
                                <p class="text-sm text-gray-600">{{$moment().to(reservation.date)}}</p>
                                <!-- <p>{{$moment(reservation.appointment_time, 'HH:mm:ss').format('h:mm A') }}</p> -->
                            </td>
                            <!-- <td class="t-cell"> {{reservation.count}} </td> -->
                            <td class="t-cell">{{$moment(reservation.created_at).format('lll') }}</td>
                        </tr>
                        <tr v-if="!reservations.data.length">
                            <td class="t-cell">No records found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <pagination :onPageChange="getData" :links="reservations.links" :from="reservations.from" :to="reservations.to" :total="reservations.total" />

        <!-- Reservation Form -->
        <!-- <t-modal v-model="reservationModal" header="Reservation Details">
            <form @submit.prevent="makeReservation" class="space-y-3">
                <div class="grid grid-cols-2 gap-3">
                    <t-input-group label="Date" :variant="errors.appointment_date && 'error'" :feedback="errors.appointment_date" required>
                        <t-datepicker v-model="reservation.appointment_date" :clearable="false" :minDate="$moment().format('YYYY-MM-DD')"/>
                    </t-input-group>
                    <t-input-group label="Time" :variant="errors.appointment_time && 'error'" :feedback="errors.appointment_time" required>
                        <t-select v-model="reservation.appointment_time" placeholder="Select appointment time" :options="fullSchedule[$moment(reservation.appointment_date).format('dddd').toLowerCase()].time_instances"/>
                    </t-input-group>
                    <t-input-group label="First Name" :variant="errors.first_name && 'error'" :feedback="errors.first_name" required>
                        <t-input v-model="reservation.first_name"/>
                    </t-input-group>
                    <t-input-group label="Last Name" :variant="errors.last_name && 'error'" :feedback="errors.last_name" required>
                        <t-input v-model="reservation.last_name"/>
                    </t-input-group>
                    <t-input-group label="Phone" :variant="errors.phone && 'error'" :feedback="errors.phone" required>
                        <t-input v-model="reservation.phone" type="tel"/>
                    </t-input-group>
                    <t-input-group label="Email">
                        <t-input v-model="reservation.email" type="email"/>
                    </t-input-group>
                    <t-input-group label="Select services" v-if="services.length">
                        <t-checkbox wrapped v-model="reservation.services" :label="service.name" :name="service.name" :value="service.name" v-for="(service, index) in services" :key="`${index}svc`" class="mb-1"/>
                    </t-input-group>
                </div>
            </form>
            <template #footer>
                <t-button variant="brand" @click="makeReservation">Finish -> </t-button>
            </template>
        </t-modal> -->
    </div>
</template>

<script>
import layout from '../Layout'
export default {
    layout,
    props: {
        reservations: Object,
        errors: Object,
        fullSchedule: Object,
        services: Array,
        filters: [Object, Array]
    },

    mounted(){
        this.search = {...this.search, ...this.filters}
    },
    
    data(){
        return {
            search: {
                date: '',
                sortBy: '',
                show: '',
            },
            selectedDate: '',
            dateRange: [],
            timeframe: 7,
            calendarDisplay: [],

            reservationModal: false,

            reservation: this.$inertia.form({
                first_name: '',
                last_name: '',
                phone: '',
                email: '',
                count: 1,
                appointment_date: this.forDate || this.$moment().format('YYYY-MM-DD'),
                appointment_time: '',
                is_client_originated: true,
                services: []
            }),
            status: {
                pending: 'bg-yellow-100 text-yellow-900',
                declined: 'bg-gray-100 text-gray-700',
                cancelled: 'bg-red-100 text-red-900',
                confirmed: 'bg-green-100 text-green-900',
            }
        }
    },

    watch: {
        search: {
            handler(){
                this._search()
            },
            deep: true
        }
    },

    methods: {
        getDayName(date){
            return this.$moment(date).format('dddd').toLowerCase()
        },

        _search: _.debounce(function(){
            this.getData()
        }, 300),

        getData(page = 1){
            this.$inertia.get(route('partners.reservations'), {page, ...this.search}, {
                preserveState: true,
                preserveScroll: true,
            })
        },

        makeReservation(){
            this.reservation.post(route('partners.businesses.reservations.store', {business: this.business.id}),{
                preserveState: true,
                preserveScroll: true,
                onSuccess: () => {
                    this.reservationModal = false
                    this.reservation.reset()
                }
            })
        },

        showReservationModal(){
            return this.$inertia.visit(route('partners.reservations.create'))
            // this.reservationModal = true
        },
    }
}
</script>