<template>
    <div class="max-w-4xl">
        <div class="flex-between">
            <inertia-link :href="route('partners.reservations')" class="text-xl font-semibold flex-center space-x-1 hover:underline"> 
                <icon name="arrow-left"/> 
                <span>Back</span> 
            </inertia-link>
        </div>
        <!-- This example requires Tailwind CSS v2.0+ -->
        <div class="bg-white shadow overflow-hidden sm:rounded-lg mt-6 -mx-4 sm:-mx-0">
            <div class=" sm:flex justify-between items-center p-4 sm:px-6">
                <div class="">
                    <h3 class="text-lg leading-6 font-medium text-gray-900">
                        <p>Reservation #{{reservation.code}}</p> 
                    </h3>
                </div>
                <div class="flex space-x-2 mt-4 sm:mt-0">
                    <div class="space-x-3" v-if="reservation.status == 'pending'">
                        <t-button variant="success" @click="updateStatus('confirm')">
                            <icon name="check"/>
                            <span>Confirm</span>
                        </t-button>
                        <t-button @click="updateStatus('decline')">
                            <icon name="x-circle"/>
                            <span>Decline</span>
                        </t-button>
                    </div>
                    <div class="space-x-3" v-else>
                        <t-button href=""  @click="updateStatus('cancel')" class="text-red-500 flex items-center space-x-2" v-if="reservation.status == 'confirmed'"> 
                            <icon name="exclamation-triangle"/> <span>Cancel reservation</span> 
                        </t-button>
                        <t-button class="text-red-500" @click="deleteReservation"> 
                            <icon name="trash"/> <span>Delete</span> 
                        </t-button>
                    </div>
                </div>
            </div>
            <div class="border-t border-gray-200">
                <dl>
                    <div class="grid grid-cols-1 sm:grid-cols-2 divide-y">
                        <div class="text-sm px-4 py-5 sm:px-6">
                            <dt class="font-medium text-gray-500"> Reserver's details </dt>
                            <dd class="mt-1 text-gray-800 font-semibold">
                                <p> {{reservation.first_name}} {{reservation.last_name}} </p>
                                <p> {{reservation.email}}</p>
                                <p> {{reservation.phone}}</p>
                            </dd>
                        </div>
                        <div class="text-sm px-4 py-5 sm:px-6">
                            <dt class="font-medium text-gray-500"> Reservation created at </dt>
                            <dd class="mt-1 text-gray-800 font-semibold">
                                {{ $moment(reservation.created_at).format('lll') }}
                            </dd>
                        </div>
                        <div class="text-sm px-4 py-5 sm:px-6">
                            <dt class="font-medium text-gray-500"> Appointment date </dt>
                            <dd class="mt-1 text-gray-800 font-semibold">
                                {{ $moment(reservation.appointment_date).format('ll')}}
                            </dd>
                        </div>
                        <div class="text-sm px-4 py-5 sm:px-6">
                            <dt class="font-medium text-gray-500"> Appointment time </dt>
                            <dd class="mt-1 text-gray-800 font-semibold">
                                {{$moment(reservation.date).format('h:mm A') }}
                            </dd>
                        </div>
                        <div class="text-sm px-4 py-5 sm:px-6">
                            <dt class="font-medium text-gray-500"> No. of Persons </dt>
                            <dd class="mt-1 text-gray-800 font-semibold">
                                {{reservation.count}}
                            </dd>
                        </div>
                        <div class="text-sm px-4 py-5 sm:px-6">
                            <dt class="font-medium text-gray-500"> Reservation status </dt>
                            <dd class="mt-1 text-gray-800 font-semibold">
                                <span class="capitalize">{{reservation.status}}</span> 
                            </dd>
                        </div>
                    </div>
                </dl>
                <!-- <div class="flex justify-end p-4 sm:px-6 border-t bg-gray-50 space-x-3">
                    <t-button class=""> 
                        <icon name="pencil"/> <span>Reschedule</span> 
                    </t-button>
                    <inertia-link href="" as="button" class="text-red-500 flex items-center space-x-2" v-if="reservation.status == 'confirmed'"> 
                        <icon name="exclamation-triangle"/> <span>Cancel reservation</span> 
                    </inertia-link>
                </div> -->
            </div>
        </div>
    </div>
</template>

<script>
import layout from '../Layout'
export default {
    layout,
    props: {
        reservation: Object,
    },

    // data: () => ({business: this.$page.props.auth.user.currentBusin$paess}),

    methods: {
        updateStatus(action){
            this.$inertia.visit(route('partners.reservations.status.update', {reservation: this.reservation.id, action}), {
                method: 'patch',
                onBefore: () => confirm(`Sure to ${action} this reservation?`)
            })
        },

        deleteReservation(){
            this.$inertia.delete(route('partners.reservations.destroy', {reservation: this.reservation.id}), {
                onBefore: () => confirm(`Sure to delete this reservation?`)
            })
        }
    }
}
</script>