<template>
    <div>
        <div class="flex-between mb-6">
            <div>
                <div class="text-xl font-semibold">Teams</div>
            </div>
        </div>

        <!-- Invitations received -->
        <div v-if="invites.length" class="bg-white rounded-lg -mx-4 sm:-mx-0 mb-8">
            <div class="p-4 border-b sm:flex justify-between items-start w-full">
                <div class="">
                    <p class="text-xl font-semibold">Your pending invitations</p>  
                    <!-- <p class="text-sm text-gray-700"></p> -->
                </div>
            </div>
            <div class="table-container">
                <table class="table">
                    <tbody>
                        <tr class="cursor-pointer td-row hover:bg-gray-50" 
                            v-for="(invite, index) in invites" 
                            :key="index" 
                        >
                            <td class="t-cell">{{invite.team.name}}</td>
                            <td class="t-cell">{{$moment().to(invite.created_at)}}</td>
                            <td class="t-cell">
                                <div class="space-x-3 font-bold">
                                    <inertia-link href @click.prevent="acceptInvite(invite.accept_token)" class="text-xs text-green-600 hover:opacity-75">Accept</inertia-link>
                                    <inertia-link href @click.prevent="declineInvite(invite.deny_token)" class="text-xs text-red-600 hover:opacity-75">Decline</inertia-link>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Teams -->
        <div class="bg-white rounded-lg -mx-4 sm:-mx-0 mb-8">
            <div class="table-container">
                <table class="table">
                    <!-- <thead>
                        <tr class="th-row">
                            <th class="py-4 t-cell">Team</th>
                            <th class="py-4 t-cell">Membership</th>
                            <th class="py-4 t-cell">Members</th>
                            <th class="py-4 t-cell">Actions</th>
                        </tr>
                    </thead> -->
                    <tbody>
                        <tr class="cursor-pointer td-row hover:bg-gray-50" 
                            :class="isCurrentTeam(team) && 'font-semibold'"
                            v-for="(team, index) in teams" 
                            :key="index"
                        >
                            <td class="t-cell">
                                <div class="flex items-center font-semibold space-x-2">
                                    <inertia-link :href="route('partners.teams.show', {team: team.id})" class="underline text-blue-700">
                                        {{team.display_name}} 
                                    </inertia-link>
                                    <span class="pill-green" v-if="isCurrentTeam(team)">current team</span>
                                    <span class="pill-blue" v-if="userOwnsTeam(team)">own team</span>
                                </div>
                            </td>
                            <!-- <td class="t-cell">{{team.id == ownedTeam.id ? 'Owner' : 'Member'}}</td> -->
                            <td class="t-cell">{{team.users_count}} Member(s)</td>
                            <td class="t-cell">
                                <div class="flex divide-x divide-x-2">
                                    <inertia-link :href="route('partners.teams.show', {team: team.id})" class="px-2 text-blue-700">
                                        <icon name="eye"/> View
                                    </inertia-link>
                                    <inertia-link v-if="!isCurrentTeam(team)" href class="px-2 font-semibold text-yellow-600" @click.prevent="switchToTeam(team.id)">
                                        <icon name="switch-horizontal"/> Switch to Team
                                    </inertia-link>
                                    <inertia-link v-if="!userOwnsTeam(team)" href class="px-2 text-xs text-red-600 font-semibold" @click.prevent="leaveTeam(team.id)">
                                        <icon name="x-circle"/> Leave Team
                                    </inertia-link>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
import layout from '../Layout'
export default {
    layout,

    props: {
        teams: Array,
        ownedTeam: Object,
        invites: Array,
        currentTeam: Object,
    },

    data(){
        return {
            search: {
                dates: '',
            }
        }
    },

    watch: {
        search: {
            handler(){
                this._search()
            },
            deep: true
        }
    },

    methods: {
        userOwnsTeam(team){
            return team.owner.id == this.$page.props.auth.user.id
        },

        isCurrentTeam(team){
            return this.currentTeam.id == team.id
        },

        acceptInvite(token){
            this.$inertia.get(route('partners.teams.invitations.accept', {token}), {
                onBefore: () => confirm('Click OK to accept this invite')
            })
        },

        declineInvite(token){
            this.$inertia.delete(route('partners.teams.invitations.decline', {token}), {
                onBefore: () => confirm('Are you sure you want to decline this invite?')
            })
        },

        switchToTeam(team){
            this.$inertia.patch(route('partners.teams.switch', {team}), {}, {
                // onBefore: () => confirm('Are you sure you want to switch to this team?'),
                onSuccess: () => location.reload()
            })
        },

        leaveTeam(team){
            this.$inertia.delete(route('partners.teams.members.remove', {team}), {
                onBefore: () => confirm('Are you sure you want to leave this team?')
            })
        },
    }
}
</script>