<template>
    <div>
        <div class="flex-between flex-wrap mb-6">
            <inertia-link :href="route('partners.teams')" class="text-xl font-semibold flex-center space-x-1 hover:underline"> 
                <icon name="arrow-left"/> 
                <span>Back</span> 
            </inertia-link>
            <t-button @click.prevent="showModal(null)" variant="brand" v-if="userOwnsThisTeam()">
                <icon name="plus"/>
                <span>Invite New Member</span>
            </t-button>
        </div>

        <!-- Team Memebers -->
        <div class="bg-white rounded-lg -mx-4 sm:-mx-0 mb-8">
            <div class="p-4 border-b sm:flex justify-between items-start w-full">
                <div class="">
                    <p class="text-xl font-semibold">{{team.display_name}}</p>  
                    <p class="text-sm text-gray-600">{{team.name}}</p>
                </div>
                <div class="">
                    <p class="text-gray-700" v-if="userOwnsThisTeam()">You own this team</p>  
                    <p class="text-sm text-yellow-700" v-if="currentTeam.id == team.id">This is your current team</p>
                </div>
            </div>
            <div class="table-container">
                <table class="table">
                    <!-- <thead>
                        <tr class="th-row">
                            <th class="py-4 t-cell">Name</th>
                            <th class="py-4 t-cell">Email</th>
                            <th class="py-4 t-cell">Role</th>
                            <th class="py-4 t-cell"></th>
                        </tr>
                    </thead> -->
                    <tbody>
                        <tr class="cursor-pointer td-row hover:bg-gray-50" 
                            v-for="(member, index) in team.users" 
                            :key="index"
                        >
                            <td class="t-cell">{{member.first_name }} {{member.last_name}}</td>
                            <td class="t-cell">{{member.email}}</td>
                            <td class="t-cell">{{member.id == team.owner.id ? 'Owner' : 'Member'}}</td>
                            <td class="t-cell divide-x">
                                <inertia-link v-if="userOwnsThisTeam() && ! (member.id == team.owner.id)" href @click.prevent="showModal(member)" class="px-2 text-xs text-blue-700 font-semibold">
                                    <icon name="pencil"/> Edit
                                </inertia-link>
                                <inertia-link v-if="userOwnsThisTeam() && ! (member.id == team.owner.id)" @click.prevent="removeMember(member)" href="" class="px-2 text-xs text-red-600 font-semibold">
                                    <icon name="trash"/> remove
                                </inertia-link>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Team Invites -->
        <div v-if="userOwnsThisTeam() && team.invites.length" class="bg-white rounded-lg -mx-4 sm:-mx-0 mb-8">
            <div class="p-4 border-b sm:flex justify-between items-start w-full">
                <div class="">
                    <p class="text-xl font-semibold">Sent Invites</p>  
                    <p class="text-sm text-gray-600">List of invitations you've sent out for this team</p>
                </div>
            </div>
            <div class="table-container">
                <table class="table">
                    <tbody>
                        <tr class="td-row" 
                            v-for="(invite, index) in team.invites" 
                            :key="index"
                        >
                            <td class="t-cell">{{invite.email}}</td>
                            <td class="t-cell">{{$moment().to(invite.created_at)}}</td>
                            <td class="t-cell">
                                <div class="flex space-x-3">
                                    <inertia-link class="text-xs text-blue-600" :href="route('partners.teams.invitations.resend', {invite: invite.id})">
                                        <icon name="refresh" class="text-blue-600"/> Resend
                                    </inertia-link>
                                    <inertia-link href class="text-xs text-red-600" @click.prevent="deleteInvite(invite.id)">
                                        <icon name="trash"/> Delete
                                    </inertia-link>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <t-modal v-model="showInvitationModal" :header="isEditing ? 'Update team membership' : 'Invite a team member'">
            <form @submit.prevent="sendInvitation" class="space-y-3">
                <div class="grid grid-cols-1 gap-3">
                    <t-input-group v-if="!isEditing" label="Email" description="Email of the new member you want to invite" :variant="errors.email && 'error'" :feedback="errors.email">
                        <t-input v-model="invitation.email" type="email"/>
                    </t-input-group>
                    <t-input-group label="Attach to Businesses" v-if="businesses.length">
                        <t-checkbox wrapped v-model="invitation.businesses" :label="bus.name" :name="bus.name" :value="bus.id" v-for="(bus, index) in businesses" :key="`${index}bus`" class="mb-1"/>
                    </t-input-group>
                    <t-input-group label="Attach to Events" v-if="events.length">
                        <t-checkbox wrapped v-model="invitation.events" :label="event.name" :name="event.name" :value="event.id" v-for="(event, index) in events" :key="`${index}ev`" class="mb-1"/>
                    </t-input-group>
                </div>
            </form>
            <template #footer>
                <t-button v-if="isEditing" variant="brand" @click="updateMembership">Update</t-button>
                <t-button v-else variant="brand" @click="sendInvitation">Send Invitation</t-button>
            </template>
        </t-modal>
    </div>
</template>

<script>
import layout from '../Layout'
export default {
    layout,
    
    props: {
        errors: Object,
        team: Object,
        currentTeam: Object,
        events: Array,
        businesses: Array,
    },

    data(){
        return {
            showInvitationModal: false,
            isEditing: false,
            invitation: this.$inertia.form({
                id: '',
                email: '',
                events: [],
                businesses: [],
            })
        }
    },

    methods: {
        userOwnsThisTeam(){
            return this.team.owner.id == this.$page.props.auth.user.id
        },

        showModal(member){
            if(member !== null){
                this.isEditing = true
                this.invitation.id = member.id
                this.invitation.email = member.email
                this.invitation.events = JSON.parse(member.events)
                this.invitation.businesses = JSON.parse(member.businesses)
                this.showInvitationModal = true
            } else {
                this.isEditing = false
                this.invitation.reset()
                this.showInvitationModal = true
            }
        },

        sendInvitation(){
            this.invitation.post(route('partners.teams.invitations.store', {team: this.team.id}), {
                onSuccess: () => {
                    this.showInvitationModal = false
                    this.invitation.reset()
                }
            })
        },

        updateMembership(){
            this.invitation.patch(route('partners.teams.members.update', {team: this.team.id, user: this.invitation.id}), {
                onSuccess: () => {
                    this.showInvitationModal = false
                    this.invitation.reset()
                }
            })
        },

        deleteInvite(invite){
            this.$inertia.delete(route('partners.teams.invitations.delete', {invite}), {
                onBefore: () => confirm('Sure you want to delete this invite?')
            })
        },

        removeMember(member){
            this.$inertia.delete(route('partners.teams.members.remove', {user: member.id, team: this.team.id}), {
                onBefore: () => confirm('Are you sure you want to remove this team member?')
            })
        },
    }
}
</script>