<template>
    <layout class="flex flex-col justify-between">
        <!-- <Navigation /> -->
        <!-- <section class="bg-gradient-to-b from-gray-900 to-indigo-800 pt-12"> -->
        <section class="bg-gray-900 pt-12">
            <div class="container">
                <div class="sm:flex">
                    <div class="flex flex-col justify-center max-w-screen-md sm:mx-auto py-8 lg:pr-12 space-y-12 xl:space-y-20">
                        <div class="lg:text-left space-y-4 lg:space-y-6 text-white">
                            <p class="text-5xl lg:text-6xl font-extrabold bg-gradient-to-r from-blue-300 to-indigo-500 text-transparent bg-clip-text">Explore, Experience & Review </p> 
                            <p class="text-2xl font-semibold text-gray-300"><span class="text-blue-300 font-semibold">Search, schedule and confirm</span>  your reservations in just a few seconds.</p>
                        </div>
                        <!-- Search -->
                        <Search class="mt-6 sm:mt-8"/>
                        <!-- <form @submit.prevent="conductSearch" class="mt-6 lg:flex sm:mt-8">
                            <div class="block relative w-full">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3">
                                    <svg class="h-6 w-6 fill-current text-gray-600" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.32 14.9l1.1 1.1c.4-.02.83.13 1.14.44l3 3a1.5 1.5 0 0 1-2.12 2.12l-3-3a1.5 1.5 0 0 1-.44-1.14l-1.1-1.1a8 8 0 1 1 1.41-1.41l.01-.01zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"/></svg>
                                </div>
                                <input v-model="search.name" class="block w-full border border-transparent bg-gray-200 focus:outline-none focus:bg-white focus:border-gray-300 text-gray-900 rounded-lg pl-10 pr-4 py-3 h-full" placeholder="Search by name or category">
                            </div>
                            <t-button class="mt-4 lg:mt-0 lg:ml-4 w-full lg:w-auto inline-flex items-center justify-center px-6 py-2 font-semibold rounded-md text-blue-900 bg-blue-100 hover:bg-blue-200 focus:outline-none focus:bg-blue-200 transition ease-in-out duration-150 xl:text-lg xl:py-4">
                                Search
                            </t-button>
                        </form> -->
                    </div>
                    <img src="/img/hero-woman.png" class="sm:max-w-xs" alt="hero-image">
                </div>
            </div>
        </section>

        <!-- Popular Businesses -->
        <section class="py-12 bg-white border-b">
            <div class="container">
                <div class="container flex-between mb-5">
                    <p class="font-black text-gray-700 text-2xl">Popular Businesses</p>
                    <inertia-link class="text-indigo-700 font-semibold" :href="route('discovery.businesses')">View all -></inertia-link>
                </div>

                <!-- <div class="mt-6 sm:overflow-x-auto sm:overflow-y-hidden">
                    <div class="px-4 sm:px-0 sm:inline-flex sm:pt-2 sm:pb-8 xl:px-8">
                        <div v-for="(bus, i) in businesses" :key="i" :class="{'mt-10 sm:ml-4': i > 0 }" class="sm:mt-0 sm:w-80 sm:flex-shrink-0">
                            <BusinessCard :business="bus"/>
                        </div>
                    </div>
                </div> -->

                <div class="mt-6">
                    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                        <div v-for="(bus, i) in businesses" :key="i">
                            <BusinessCard :business="bus"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Categories -->
        <!-- <section class="py-12 bg-white">
            <div class="container">
                <div class="flex-between mb-5">
                    <p class="font-black text-gray-700 text-2xl">Categories</p>
                    <inertia-link class="text-indigo-700 font-semibold" :href="route('search.businesses')">View all -></inertia-link>
                </div>
                <div class="overflow-hidden">
                    <div class="grid grid-rows-2 grid-flow-col gap-4 overflow-x-auto no-scrollbar">
                        <inertia-link :href="route('search.businesses', {categories: [cat.name]})" class="bg-gray-100 p-3 rounded-lg font-semibold text-gray-700 text-center flex-center hover:shadow" v-for="(cat, index) in categories" :key="index">
                            <span class="whitespace-nowrap">{{cat.name}}</span> 
                        </inertia-link>
                    </div>
                </div>
            </div>
        </section> -->

        <!-- For Events -->
        <section class="py-12" :style="'background: linear-gradient(166deg, rgba(0, 0, 0,.5), rgba(0, 0, 0,.5)), url(/img/event-image.jpeg); background-position: center; background-size: contain; background-repeat: no-repeat; background-size: cover; background-position: center'">
            <div class="container grid grid-cols-1 gap-8">
                <div class="lg:flex">
                    <div class="lg:w-2/3 my-12 text-xl space-y-10">
                        <p class="text-xl font-bold text-white">Reservr for Events</p>

                        <p class="text-5xl font-black text-white">Tools to make your event a success</p>
                        <p class="font-semibold text-white">Increase efficiency by streamlining the booking/ticketing process for your event. Give attendees a simple way to RSVP or buy tickets when you create and publish your event on Reservr. With Reservr, you generate an event link that can also be broadcasted on social media or embedded onto your website. </p>
                        <p class="font-semibold text-white">Sell tickets ahead of time and receive ticket sales to your bank account or mobile money wallet seamlessly. With Reservr, you have complete oversight on bookings and ticket sales at any time and on any device. Staff can also be given roles to manage bookings and check-in attendees.  </p>

                        <inertia-link :href="route('register')" class="w-full sm:w-auto inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-semibold rounded-md text-indigo-800 bg-white bg-white shadow-sm hover:text-gray-600 focus:outline-none focus:text-gray-600 transition ease-in-out duration-150 xl:text-lg xl:py-4">
                            Get Started ->
                        </inertia-link>
                    </div>
                </div>
            </div>
        </section>

        <!-- For Businesses -->
        <section class="py-12 bg-white">
            <div class="container grid grid-cols-1 gap-8">
                <div class="lg:flex">
                    <div class="lg:w-2/3 mb-12 text-xl space-y-6">
                        <p class="text-5xl font-black text-indigo-900">For Businesses</p>
                        <p class="text-xl font-bold text-gray-700">Get your business in front of more customers who spend time online. With a listing on Reservr, you are able to convert online on your business page to visitors to paying customers. </p>
                        <!-- <p class="text-3xl font-black text-indigo-900">Get your business in front of more customers who spend time online. With a listing on Reservr, you are able to convert online on your business page to visitors to paying customers. </p> -->
                        <p class="font-semibold text-gray-600"><icon name="check"/> You reach more customers by getting your business in front of customers online. </p>
                        <p class="font-semibold text-gray-600"><icon name="check"/> Customers are able to quickly find your business online with reviews, ratings & location.</p>
                        <p class="font-semibold text-gray-600"><icon name="check"/> You convert online visits to sales at ease.</p>
                        <p class="font-semibold text-gray-600"><icon name="check"/> For service-based businesses, your customers can directly make reservations or bookings from your listing page.  </p>
                        <p class="font-semibold text-gray-600"><icon name="check"/> Customers can leave reviews which helps your business adapt quickly to their needs as well as help you in retaining customers.  </p>

                        <inertia-link :href="route('partners.onboarding.create')" class="w-full sm:w-auto inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-semibold rounded-md text-white bg-indigo-800 shadow-sm hover:text-gray-100 focus:outline-none focus:text-gray-100 transition ease-in-out duration-150 xl:text-lg xl:py-4">
                            Become a Partner ->
                        </inertia-link>
                    </div>
                    
                    <div class="lg:pl-12 lg:w-1/3 flex-center -mx-4 sm:-mx-6 lg:-mx-0 bg-gray-900 lg:bg-transparent">
                        <img src="/img/business-man.png" class="p-6 lg:p-0 xl:max-w-sm xl:-mr-60" alt="">
                    </div>
                </div>
            </div>
        </section>

        <!-- Industries -->
        <!-- <section class="py-12 bg-gradient-to-br from-indigo-900 via-purple-500 to-red-600">
            <div class="container grid grid-cols-1 gap-4">
                <div class="flex flex-col justify-center space-y-3 mb-4">
                    <p class="text-xl font-bold text-green-50">Industries we serve</p>
                    <p class="text-5xl font-black text-gray-100">We have something for you</p>
                </div>
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
                    <div class="flex " v-for="(ind, index) in industries" :key="index">
                        <div class="mb-3 mr-3">
                            <div class="flex-center inline-block p-3 rounded-lg bg-white">
                                <icon :name="ind.icon" class="h-8 w-8 text-gray-800"/>
                            </div>
                        </div>
                        <div class="">
                            <p class="text-xl font-bold text-white">{{ind.title}}</p>
                            <p class="text-sm font-semibold text-white">{{ind.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

        <!-- Pricing -->
        <!-- <section class="py-12 bg-gradient-to-b from-white to-purple-100" id="pricing">
            <div class="container grid grid-cols-1 gap-8">
                <div class="flex flex-col justify-center space-y-5 mb-4">
                    <p class="text-xl font-bold text-gray-700">Our Packages</p>
                    <p class="text-5xl font-black text-indigo-900">Simple, transparent pricing</p>
                    <p class="font-semibold text-gray-600 text-xl">All our packages include all features. Simply pick the plan that works best for you.</p>
                </div>

                <div class="text-gray-800 grid grid-cols-1 sm:grid-cols-2 gap-6">
                    <inertia-link href="#" class="p-6 border border-indigo-300 hover:border-red-600 rounded-xl flex items-center bg-purple-100" :class="item.classes" v-for="(item, index) in packages" :key="index">
                        <div class="flex-1">
                            <div>
                                <p class="font-bold text-xl">{{item.name}}</p>
                                <p class="font-semibold text-gray-600">{{item.bookings}} Bookings</p>
                            </div>
                        </div>
                        <div class="flex items-start">
                            <span class="mt-1 font-semibold">GHC</span>
                            <span class="font-bold text-3xl">{{item.price}}</span>
                        </div>
                    </inertia-link>
                </div>
            </div>
        </section> -->
    </layout>
</template>
<script>
import Navigation from '@/Shared/Navigation'
import Footer from '@/Shared/Footer'
import Search from '@/Shared/Search'
import Logo from '@/Shared/Logo'
import Layout from '@/Shared/MainLayout'
import StarRating from 'vue-star-rating'
import BusinessCard from '@/Shared/BusinessCard'
export default {
    components: {
        StarRating,
        Layout,
        Navigation,
        Logo,
        Search,
        BusinessCard,
        Footer,
    },

    props: {
        packages: Array,
        categories: Array,
        businesses: Array,
    },

    data(){
        return {
            industries: [
                {
                    icon: 'chart-pie',
                    title: 'Restaurant & Lounges',
                    description: `Receive reservations seamlessly with Reservr. With a streamlined reservation process for your business, you are able to easily create available slots and assign roles to staff to check-in guests.  
                            You have complete oversight on booking activities at any time and on any device. Share your booking link on social media or embed your booking link onto your website. Drive visibility of your brand to reach more customers when you sign up on Reservr. 
                            Allow guests to pre-pay for special events. Give guests the convenience of receiving SMS notifications of reservation confirmations and cancellations.`
                },
                {
                    icon: 'heart',
                    title: 'Medical & Health Facilities ',
                    description: `Eliminate crowds by allowing patients to book available appointment slots seamlessly. Assign roles to staff to check-in patients. Reservr enables you to have complete oversight and management of patient appointments and walk-ins. 
                                Give patients the convenience of receiving automatic SMS notifications of appointment confirmations and cancellations. 
                                `
                },
                {
                    icon: 'scissors',
                    title: 'Hair & Beauty ',
                    description: `Give clients a simple way to book. Reservr makes it possible for clients to book an appointment in just a few seconds. Drive visibility of your business and reach more customers when you sign up on Reservr. 
                                You have complete oversight on booking activities at any time and on any device. Staff can be given roles to manage bookings and check-in clients seamlessly
                                Allow clients to pre-pay if required. Give guests the convenience of receiving SMS notifications of appointment confirmations and cancellations. Have complete records on clients/attendees stored on the cloud.
                                `
                },
                {
                    icon: 'library',
                    title: 'Financial Institutions',
                    description: `Eliminate crowds by allowing customers to book available appointment slots seamlessly. Reservr enables you to have complete oversight and management of customer walk-ins. 
                                Give customers the convenience of receiving automatic SMS notifications of appointment confirmations and cancellations. 
                                Have complete oversight on booking activities at any time and on any device. Staff can be given roles to manage bookings and check-in clients seamlessly
                                `
                },
                {
                    icon: 'calendar',
                    title: 'Events',
                    description: `Increase efficiency by streamlining the booking/ticketing process for attendees. Give attendees a simple way to book or buy tickets. Reservr makes it possible for attendees to book or buy tickets in just a few seconds.  
                                Have complete oversight on bookings ticket sales at any time and on any device. Staff can be given roles to manage bookings and check-in attendees.  
                                Share your event link on social media or embed onto your website. Sell tickets ahead of time and receive ticket sales to your bank account or mobile money wallet seamlessly. 
                                `
                },
                {
                    icon: 'briefcase',
                    title: 'Business',
                    description: `Reservr allows your business to efficiently create appointment slots for clients to book seamlessly. Give customers the convenience of receiving automatic SMS notifications of appointment confirmations and cancellations.`
                },
                {
                    icon: 'office-building',
                    title: 'Government Institutions',
                    description: `Eliminate crowds and make available appointment slots available for booking seamlessly. Have complete oversight and management of walk-ins. Offer automatic SMS notifications of appointment confirmations and cancellations. 
                                    Accept prepayment and assign roles to staff to manage bookings and check-in clients.
                                    `
                },
                {
                    icon: 'dots-horizontal',
                    title: 'The others',
                    description: `Seamlessly create available appointment slots and assign roles to staff to check-in guests.  
                                You have complete oversight on booking activities at any time and on any device. Share your booking link on social media or embed your booking link onto your website. Drive visibility of your brand or institution to reach more customers.
                                Accept prepayment and give guests the convenience of receiving SMS notifications of reservation confirmations and cancellations.
                                `
                },

            ]
        }
    },

    // methods:{
    //     conductSearch(){
    //         if(this.search.name){
    //             this.$inertia.visit(route('search.businesses', this.search))
    //         }
    //     }
    // }
}
</script>