<template>
    <div class="container py-8 md:py-12">
        <div class="md:grid grid-cols-6 gap-8">
            <div class="hidden md:block col-span-2 mb-8">
                <div class="space-y-2 bg-white p-6 sm:rounded-2xl -mx-4 sm:-mx-0">
                    <p class="text-gray-500 mb-4">Search for a business or event</p>
                    <form @submit.prevent="form.get(route('search'))">
                        <div class="grid grid-cols-6 md:grid-cols-1 gap-4">
                            <input class="col-span-5 md:col-span-1 rounded-lg px-3 " type="text" placeholder="Event or Business name" v-model="form.term">
                            <button class="col-span-1 md:col-span-1 bg-indigo-700 py-2 rounded-lg text-xl text-white flex-center space-x-2 focus:outline-none focus:ring-2 ring-offset-2 ring-offset-white">
                                <icon name="search" class="h-5 w-5"/>
                                <span class="font-semibold hidden md:inline-block">Search</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-span-4 sm:rounded-2xl overflow-hidden -mx-4 sm:-mx-0">
                <slot></slot>
            </div>
        </div>
        <portal-target name="modal" multiple>
        </portal-target>
    </div>
</template>
<script>
import layout from '@/Shared/MainLayout'
export default {
    layout,
    props: {
        results: Array,
        search_term: String,
    },
    data() {
        return {
            form: this.$inertia.form({
                term: this.search_term,
            })
        }
    },
}
</script>