<template>
    <div>
        <div class="mb-6">
            <p class="text-3xl font-semibold">Business Profile & Setup</p>
        </div>

        <!-- online status -->
        <form-section>
            <template #title>Online Status</template>
            <template #description>
                Make this business available online for bookings. 
                Offline businesses woun't show up in search results or on our listings page. 
                Your storefront url will still be active for reservations
            </template>

            <template #form>
                <div class="space-x-2">
                    <t-toggle @change="toggleOnlineStatus" :checked="!!business.is_online"/> 
                    <span class="font-semibold capitalize" :class="business.is_online ? 'text-gray-800' : 'text-gray-500'">
                        {{business.is_online ? 'Online' : 'Offline'}}
                    </span>
                </div>
            </template>
        </form-section>

        <!-- Bookings Feature -->
        <form-section>
            <template #title>Bookings Feature</template>
            <template #description>
                Removes the "Make Reservation" Button from your Business's Storefront. Only you can make reservations for customers from this dashboard
            </template>

            <template #form>
                <div class="space-x-2">
                    <t-toggle @change="toggleBookingsStatus" :checked="!!business.accepting_bookings"/> 
                    <span class="font-semibold capitalize" :class="business.accepting_bookings ? 'text-gray-800' : 'text-gray-500'">
                        {{business.accepting_bookings ? 'Bookings Button Enabled' : 'Bookings Button Disabled'}}
                    </span>
                </div>
            </template>
        </form-section>

        <!-- Profile Details -->
        <form-section>
            <template #title>Business Details</template>
            <template #description>Your business name is displayed across many areas including on your online booking profile, sales invoices and messages to clients</template>

            <template #form>
                <div class="form-row-cols-2 gap-6">
                    <t-input-group label="Business Name" class="col-span-2" :variant="detailsForm.errors.name && 'error'" :feedback="detailsForm.errors.name">
                        <t-input v-model="detailsForm.name"/>
                    </t-input-group>
                    <t-input-group label="Business Phone" :variant="detailsForm.errors.phone && 'error'" :feedback="detailsForm.errors.phone">
                        <t-input v-model="detailsForm.phone" type="type"/>
                    </t-input-group>
                    <t-input-group label="Business Email" :variant="detailsForm.errors.email && 'error'" :feedback="detailsForm.errors.email">
                        <t-input v-model="detailsForm.email"/>
                    </t-input-group>
                </div>
                <t-input-group label="About this business" :variant="detailsForm.errors.description && 'error'" :feedback="detailsForm.errors.description">
                    <t-textarea v-model="detailsForm.description"/>
                </t-input-group>
                <t-input-group label="Business Category" :variant="detailsForm.errors.category && 'error'" :feedback="detailsForm.errors.category">
                    <t-select :options="categories" v-model="detailsForm.category" placeholder="Select a category"/>
                </t-input-group>
            </template>
            <template #actions>
                <t-button variant="success" @click.prevent="updateDetails">Update Details</t-button>
            </template>
        </form-section>

        <!-- Address & Location -->
        <form-section>
            <template #title>Address & Location</template>
            <template #description>Add your address for your customers to find you.</template>

            <template #form>
                <div class="form-row-cols-1 gap-6">
                    <t-input-group label="Location" :variant="addressForm.errors.address && 'error'" :feedback="addressForm.errors.address">
                        <GmapAutocomplete class="border w-full p-2 rounded" @place_changed="placeChanged" placeholder="Start typing your location" autocomplete="off" />
                    </t-input-group>

                    <p class=""><icon name="location"/> {{addressForm.address}}</p>

                    <div class="grid grid-cols-2 gap-6">
                         <t-input-group label="City" :variant="addressForm.errors.city && 'error'" :feedback="addressForm.errors.city">
                            <t-input v-model="addressForm.city" placeholder="City"/>
                         </t-input-group>
                         <t-input-group label="Country" :variant="addressForm.errors.country && 'error'" :feedback="addressForm.errors.country">
                            <t-input v-model="addressForm.country" placeholder="Country"/>
                         </t-input-group>
                    </div>

                    <!-- map -->
                    <div class="border h-60 bg-gray-300 shadow rounded-lg">
                        <GmapMap
                            @center_changed="center_changed"
                            @dragend="dragend"
                            :center="center"
                            :zoom="15"
                            style="width: 100%; height: 100%"
                            :options="{
                                zoomControl: true,
                                mapTypeControl: false,
                                scaleControl: false,
                                streetViewControl: false,
                                rotateControl: false,
                                fullscreenControl: true,
                                disableDefaultUi: false
                            }"
                        >
                                <GmapMarker :position="center_marker"/>
                        </GmapMap>
                    </div>
                </div>
            </template>
            <template #actions>
                <t-button variant="success" @click.prevent="updateAddress">Update Location</t-button>
            </template>
        </form-section>

        <!-- Social links -->
        <form-section>
            <template #title>Social Links & Website</template>
            <template #description>Add your company website and social media links for sharing with clients</template>

            <template #form>
                <div class="form-row-cols-1 gap-6">
                    <t-input-group label="Website" :variant="socialForm.errors.website && 'error'" :feedback="socialForm.errors.website">
                        <t-input v-model="socialForm.website"/>
                    </t-input-group>
                    <t-input-group label="Facebook" :variant="socialForm.errors.phone && 'error'" :feedback="socialForm.errors.phone">
                        <t-input v-model="socialForm.facebook" type="type"/>
                    </t-input-group>
                    <t-input-group label="Intagram" :variant="socialForm.errors.email && 'error'" :feedback="socialForm.errors.email">
                        <t-input v-model="socialForm.instagram"/>
                    </t-input-group>
                    <t-input-group label="twitter" :variant="socialForm.errors.email && 'error'" :feedback="socialForm.errors.email">
                        <t-input v-model="socialForm.twitter"/>
                    </t-input-group>
                </div>
            </template>
            <template #actions>
                <t-button variant="success" @click.prevent="updateSocialLinks">Update Social Links</t-button>
            </template>
        </form-section>

        <div class="flex-between">
            <span></span>
            <t-button variant="danger" @click.prevent="deleteBusiness">Delete Business</t-button>
        </div>
    </div>
</template>

<script>
import layout from '../Layout'
export default {
    layout,
    props: {
        errors: Object,
        business: Object,
        categories: Array,
    },

    data(){
        return {
            isOnline: this.business.is_online,
            geocoder: null,

            center: {lat:5.6447990789473454, lng:-0.09559603346404265}, 
            center_marker: {lat:5.6447990789473454, lng:-0.09559603346404265}, 

            addressForm: this.$inertia.form({
                address: this.$page.props.auth.user.currentBusiness.address,
                country: this.$page.props.auth.user.currentBusiness.country,
                city: this.$page.props.auth.user.currentBusiness.city,
                lat: this.$page.props.auth.user.currentBusiness.lat,
                lng: this.$page.props.auth.user.currentBusiness.lng,
            }),

            detailsForm: this.$inertia.form({
                name: this.$page.props.auth.user.currentBusiness.name,
                phone: this.$page.props.auth.user.currentBusiness.phone,
                email: this.$page.props.auth.user.currentBusiness.email,
                description: this.$page.props.auth.user.currentBusiness.description,
                category: this.$page.props.auth.user.currentBusiness.category
            }),

            socialForm: this.$inertia.form({
                website: this.$page.props.auth.user.currentBusiness.website,
                instagram: this.$page.props.auth.user.currentBusiness.instagram,
                facebook: this.$page.props.auth.user.currentBusiness.facebook,
                twitter: this.$page.props.auth.user.currentBusiness.twitter,
            }),
        }
    },

    methods:{
        submit(){
            this.form.post(route('partners.profile.update'))
        },

        updateDetails(){
            this.detailsForm.patch(route('partners.profile.details.update'))
        },

        updateAddress(){
            this.addressForm.patch(route('partners.profile.location.update'))
        },

        updateSocialLinks(){
             this.socialForm.patch(route('partners.profile.social.update'))
        },

        toggleOnlineStatus(){
            this.$inertia.patch(route('partners.profile.online-status.toggle'))
        },

        toggleBookingsStatus(){
            this.$inertia.patch(route('partners.profile.accepting-bookings.toggle'))
        },

        deleteBusiness(){
            this.$inertia.delete(route('partners.businesses.destroy', {business: this.business.id}), {
                onBefore: () => confirm('This action will delete this business and all it\'s data. Are you sure you want to proceed?')
            })
        },

        placeChanged(e){
            const address = this.extractAddress(e, e.name)
            this.addressForm = {...this.addressForm, ...address}
            let center = {lat: address.lat, lng: address.lng}
            this.center = center
            this.center_marker = center
        },

        extractAddress(e, place_name = null){
            const address_components = e.address_components
            return {
                address: (place_name ? `${place_name}, ` : ``) + e.formatted_address,
                country: this.extractAddressComponent(address_components, 'country'),
                region: this.extractAddressComponent(address_components, 'administrative_area_level_1'),
                city: this.extractAddressComponent(address_components, 'locality'),
                lat: e.geometry.location.lat(),
                lng: e.geometry.location.lng(),
            } 
        },

        extractAddressComponent(components, type){
            let filtered = components.filter(a => a.types.includes(type))
            if(!filtered.length) return null
            return filtered[0].long_name
        },

        center_changed(e) {
            let center = {lat: e.lat(), lng: e.lng()}
            this.center_marker = center
        },

        dragend(){
            this.reverseGeocode(this.center_marker)
        },

        reverseGeocode(location){
            const geocoder = new google.maps.Geocoder();
            geocoder.geocode({location}, (results, status) => {
                if(status == 'OK'){
                    let address = this.extractAddress(results[0])
                    this.addressForm = {...this.addressForm, ...address}
                }
            })
        }
    }
}
</script>
