<template>
    <div class="min-h-screen flex flex-col">
        <navigation />
        <div class="flex-1 bg-gray-100">
            <slot></slot>
        </div>
        <Footer />
        
        <portal-target name="modal" multiple>
        </portal-target>
    </div>
</template>

<script>
import navigation from '@/Shared/Navigation'
import Footer from '@/Shared/Footer'
export default {
    components: {
        navigation,
        Footer,
    }
}
</script>