<template>
    <div>
        <input class="h-12 border-b border-gray-300 focus:border-gray-500 w-full focus:outline-none shadow-sm" v-model="location">
        <ul>
            <li v-for="(result, i) in searchResults" :key="i">
                {{ result }} 
            </li>
        </ul>
    </div>
</template>

<script>
    export default {

        metaInfo () {
            return {
                script: [{
                    src: `https://maps.googleapis.com/maps/api/js?key=AIzaSyCRLuAEBTKzhi9JOAiJb1FA95_uUEVdW0k&libraries=places`,
                    async: true,
                    defer: true,
                    callback: () => this.MapsInit() // will declare it in methods
                }]
            }
        },

        data(){
            return {
                location: '',
                searchResults: [],
                service: null,
                sessionToken: null
            }
        },

        watch: {
            location (newValue) {
                if (newValue) {
                    if(!this.sessionToken){
                        this.sessionToken = new google.maps.places.AutocompleteSessionToken();
                    }
                    this.service.getPlacePredictions({
                        input: this.location,
                        types: ['(cities)'],
                        sessionToken: this.sessionToken
                    }, this.displaySuggestions)
                }
            }
        },

        methods: {
            focus() {
                this.$refs.input.focus()
            },

            MapsInit () {
                this.service = new window.google.maps.places.AutocompleteService()
            },

            displaySuggestions (predictions, status) {
                if (status !== window.google.maps.places.PlacesServiceStatus.OK) {
                    this.searchResults = []
                    return
                }
                console.log(predictions)
                this.searchResults = predictions.map(prediction => prediction.description) 
            },

            selectAddressPrediction(address){
                this.sessionToken = null,

                console.log(e)
            }
        }
    }
</script>

