<template>
  <div>
    <div class="relative pb-60">
      <img class="absolute inset-0 h-full w-full rounded-lg shadow-md object-cover" :src="business.banner" alt="">
      <div class="absolute bg-green-800 text-white px-3 top-5 font-semibold text-sm tracking-widest rounded-r" v-if="business.featured_at"> Featured </div>
    </div>
    <div class="relative px-4 -mt-16">
      <div class="bg-white rounded-lg px-4 py-4 shadow-lg">
        <div class="flex items-baseline">
          <span class="inline-block px-2 py-0.5 leading-none bg-indigo-200 text-indigo-900 uppercase font-semibold text-xs">{{business.category}}</span>
          <!-- <div class="ml-2 text-xs text-gray-600 font-semibold uppercase tracking-wide">
            {{ business.beds }} {{ business.beds === 1 ? 'bed' : 'beds' }} &bull; {{ business.baths }} {{ business.baths === 1 ? 'bath' : 'baths' }}
          </div> -->
        </div>
        <inertia-link :href="business.path" class="mt-1 text-gray-900 font-semibold text-lg line-clamp-1">{{ business.name }}</inertia-link>
        <div class="mt-1">
          <span class="text-sm text-gray-600 line-clamp-1">{{business.description}}</span>
        </div>
        <div class="mt-2 flex items-center text-sm text-gray-600">
          <svg v-for="i in 5" :key="i" class="h-4 w-4 fill-current" :class="business.rating >= i ? 'text-red-500' : 'text-gray-400'" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.128 19.825a1.586 1.586 0 0 1-1.643-.117 1.543 1.543 0 0 1-.53-.662 1.515 1.515 0 0 1-.096-.837l.736-4.247-3.13-3a1.514 1.514 0 0 1-.39-1.569c.09-.271.254-.513.475-.698.22-.185.49-.306.776-.35L8.66 7.73l1.925-3.862c.128-.26.328-.48.577-.633a1.584 1.584 0 0 1 1.662 0c.25.153.45.373.577.633l1.925 3.847 4.334.615c.29.042.562.162.785.348.224.186.39.43.48.704a1.514 1.514 0 0 1-.404 1.58l-3.13 3 .736 4.247c.047.282.014.572-.096.837-.111.265-.294.494-.53.662a1.582 1.582 0 0 1-1.643.117l-3.865-2-3.865 2z"/>
          </svg>
          <span class="ml-2">{{ business.reviews_count }} reviews</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['business'],
}
</script>
