<template>
    <div class="bg-gray-900 p-6 flex-center py-20">
        <div class="space-x-3 text-gray-400">
            <inertia-link :href="route('terms')">Terms of use</inertia-link>
            <span>&middot; </span>
            <inertia-link :href="route('privacy')">Privacy policy</inertia-link>
        </div>
    </div>
</template>