<template>
    <div class="grid grid-cols-1 gap-6 py-8 lg:grid-cols-3 -mx-4 sm:-mx-0">
        <section-title>
            <template #title><slot name="title"></slot></template>
            <template #description><slot name="description"></slot></template>
        </section-title>

        <!-- <div class="col-span-3 md:col-span-2"> -->
        <div class="lg:col-span-2">
            <form @submit.prevent="$emit('submitted')">
                <div class="sm:rounded-lg shadow">
                    <div class="px-4 py-5 bg-white rounded-lg sm:p-6 space-y-6">
                        <slot name="form"></slot>
                    </div>

                    <div class="flex items-center justify-end px-4 py-3 text-right rounded-b-lg sm:px-6 bg-gray-50" v-if="hasActions">
                        <slot name="actions"></slot>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import SectionTitle from '@/Shared/SectionTitle'
    export default {
        components: {
            SectionTitle,
        },

        computed: {
            hasActions() {
                return !! this.$slots.actions
            }
        }
    }
</script>
