<template>
    <modal :show="show" :max-width="maxWidth" :closeable="closeable" @close="close">
        <div class="px-6 py-4 flex-1 overflow-y-auto">

            <div class="static text-lg font-bold flex justify-between space-x-4 items-start">
                <h3 class="text-lg">
                    <slot name="title"></slot>
                </h3>
                <button @click="close"><icon name="x" class="h-6 w-6 block ml-4"/></button>
            </div>

            <div class="mt-4 mb-16">
                <slot name="content"></slot>
                <!-- 1.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aliquam ipsum atque rem quisquam dolore quos eius, accusantium temporibus repellendus ea commodi numquam, iste ratione quaerat tempore modi soluta recusandae facilis voluptates eveniet eos? Aut harum architecto sed excepturi ipsum debitis a necessitatibus quia, doloremque perferendis deleniti unde cum culpa natus aliquam id voluptate non error numquam. Consectetur quos architecto, nesciunt quae et dolore, error fugit odit voluptatem nisi incidunt, sapiente voluptatibus animi eius deserunt mollitia labore quas ea aspernatur! Modi odit rem exercitationem vel voluptate, a harum ipsa expedita nostrum maiores magnam nihil nemo unde in! Natus, consectetur dolorem?
                <br><br> 2.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aliquam ipsum atque rem quisquam dolore quos eius, accusantium temporibus repellendus ea commodi numquam, iste ratione quaerat tempore modi soluta recusandae facilis voluptates eveniet eos? Aut harum architecto sed excepturi ipsum debitis a necessitatibus quia, doloremque perferendis deleniti unde cum culpa natus aliquam id voluptate non error numquam. Consectetur quos architecto, nesciunt quae et dolore, error fugit odit voluptatem nisi incidunt, sapiente voluptatibus animi eius deserunt mollitia labore quas ea aspernatur! Modi odit rem exercitationem vel voluptate, a harum ipsa expedita nostrum maiores magnam nihil nemo unde in! Natus, consectetur dolorem?
                <br><br> 3.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aliquam ipsum atque rem quisquam dolore quos eius, accusantium temporibus repellendus ea commodi numquam, iste ratione quaerat tempore modi soluta recusandae facilis voluptates eveniet eos? Aut harum architecto sed excepturi ipsum debitis a necessitatibus quia, doloremque perferendis deleniti unde cum culpa natus aliquam id voluptate non error numquam. Consectetur quos architecto, nesciunt quae et dolore, error fugit odit voluptatem nisi incidunt, sapiente voluptatibus animi eius deserunt mollitia labore quas ea aspernatur! Modi odit rem exercitationem vel voluptate, a harum ipsa expedita nostrum maiores magnam nihil nemo unde in! Natus, consectetur dolorem?
                <br><br>4. -->
            </div>
        </div>

        <!-- <div class="px-6 py-4 bg-gray-100 text-right"> -->
        <div class="fixed bottom-0 left-0 right-0 px-6 py-4 bg-gray-100 text-right" v-if="$slots.footer">
            <slot name="footer"></slot>
        </div>
    </modal>
</template>

<script>
    import Modal from './Modal'

    export default {
        emits: ['close'],

        components: {
            Modal,
            // AddressSearchInput,
        },

        props: {
            show: {
                default: false
            },
            maxWidth: {
                default: '2xl'
            },
            closeable: {
                default: true
            },
        },

        methods: {
            close() {
                this.$emit('close')
            },
        }
    }
</script>
