<template>
    <div class="flex h-screen relative">
        <!-- <meta name="viewport" content="width=1024"> -->

        <!-- Large Screen Nav -->
        <div class="hidden lg:flex flex-col w-56 text-white bg-gradient-to-b from-gray-900 to-gray-900">
            <!-- company logo -->
            <div class="py-4">
                <inertia-link href="/" class="block py-4 mx-4 font-bold tracking-widest text-center text-gray-400 uppercase rounded-lg cursor-pointer hover:text-white">PHYTOTEC LTD</inertia-link> 
            </div>

            <!-- nav links -->
            <div class="flex-1 overflow-auto text-gray-400">
                <div class="pt-12 pb-4 space-y-2">
                    <inertia-link 
                        v-for="(link, index) in links" :key="index" 
                        :href="route(link.route)" 
                        :class="route().current(`${link.route.split('.')[0]}*`) && 'border-l-2 border-white text-white bg-pink-800'" 
                        class="flex items-center px-6 py-2 space-x-2 hover:text-white"
                    >
                            <icon :name="link.icon"/>
                            <div class="flex-1 flex-between">
                                <span>{{link.text}}</span>
                                <span 
                                    v-if="$page.props.badges[link.text]"
                                    class="px-1.5 rounded-full shadow-lg bg-pink-700 text-sm text-white"
                                >{{$page.props.badges[link.text]}}</span>
                            </div>
                    </inertia-link>
                </div>
            </div>

            <!-- user icon and logout -->
            <div class="p-4 border-t border-gray-700 ">
                <div class="flex items-center mb-4">
                    <div class="w-8 h-8 bg-gray-600 rounded-full"></div>
                    <div class="flex items-center justify-between flex-1 ml-3">
                        <div>
                            <p>{{$page.props.auth.user.name}}</p>
                            <p class="text-sm text-gray-500">{{$page.props.auth.user.email}}</p>
                        </div>
                    </div>
                </div>
                <div>
                    <form @submit.prevent="$inertia.post(route('logout'))" method="post">
                        <t-button variant="brand" type="submit" class="flex items-center w-full"><icon name="lock" class="w-4 h-4 mr-1"/> Logout</t-button>
                    </form>
                </div>
            </div>
        </div>

        <div class="relative flex flex-col flex-1 h-screen overflow-auto text-black">

            <!-- Main floating page header -->
            <div class="absolute inset-x-0 z-10 px-6 py-4 bg-white shadow">
                <div class="flex-between">
                    <p class="font-bold">{{$page.props.auth.user.department}}</p>
                    <button @click="showNav = true" class="lg:hidden p-1 bg-gray-100">
                        <icon name="menu" class="h-5 w-5"/>
                    </button>
                </div>
            </div>

            <!-- Page content -->
            <div class="flex-1 py-6 sm:px-4 overflow-auto bg-gray-100 mt-14">
                <flash-messages></flash-messages>
                <slot></slot>
            </div>

            <!-- mobile navigation -->
            <div v-if="showNav" v-click-outside="hide" class="absolute inset-x-0 bg-gray-900 rounded-lg shadow-lg z-20 m-2 text-white">
                <div class="flex-between p-4">
                    <span class="font-bold">PHYTOTEC</span>
                    <button @click="hide" class="p-2 rounded bg-gray-800 text-gray-200">
                        <icon name="x"/>
                    </button>
                </div>

                <!-- mobile nav links -->
                <div class="pb-3">
                    <inertia-link 
                        v-for="(link, index) in links" :key="index" 
                        :href="route(link.route)" 
                        :class="route().current(`${link.route.split('.')[0]}*`) && 'bg-pink-800'" 
                        class="flex items-center px-6 py-2 space-x-2"
                    >
                        <icon :name="link.icon"/>
                        <div class="flex-1 flex-between">
                            <span>{{link.text}}</span>
                            <span
                                v-if="$page.props.badges[link.text]"
                                class="px-1.5 rounded-full shadow-lg bg-pink-700 text-sm text-white"
                            >{{$page.props.badges[link.text]}}</span>
                        </div>
                    </inertia-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FlashMessages from '@/Shared/FlashMessages'
import ClickOutside from 'vue-click-outside'
import { Inertia } from '@inertiajs/inertia'
export default {
    components: {
        FlashMessages
    },

    created() {
        Inertia.on('navigate', (event) => {
            this.showNav = false
        })
    },

    data(){ 
        return {
            showNav: false,
            links: [
                { text: 'Call Records', icon: 'phone-incoming', route: 'call-records'},
                { text: 'Sales Outlets', icon: 'home', route: 'outlets'},
                { text: 'Sample Distribution', icon: 'logout', route: 'samples'},
                { text: 'Sales', icon: 'receipt-tax', route: 'sales.purchase-orders'},
                { text: 'Marketing', icon: 'tag', route: 'marketing.engagements'},
                { text: 'Medical', icon: 'heart', route: 'medical.facilities'},
                { text: 'Admin', icon: 'cog', route: 'admins.users'},
            ]
        }
    },

    methods: {
        hide(){
            this.showNav = false
        }
    },

    directives: {
        ClickOutside
    }
}
</script>