<template>
    <div>
        <jet-banner />

        <div class="min-h-screen bg-gray-100">
            <nav class="bg-white border-b border-gray-100">
                <!-- Primary Navigation Menu -->
                <div class="container">
                    <div class="flex justify-between h-16">
                        <div class="flex">
                            <!-- Logo -->
                            <div class="flex-shrink-0 flex items-center">
                                <inertia-link :href="'/'">
                                    <jet-application-mark class="block h-4 w-auto" />
                                </inertia-link>
                            </div>

                            <!-- Navigation Links -->
                            <div class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex">
                                <jet-nav-link :href="route('partners.onboarding.create')" :active="route().current('partners.onboarding.create')">
                                    List your business
                                </jet-nav-link>
                            </div>
                        </div>

                        <div class="hidden sm:flex sm:items-center sm:ml-6">

                            <!-- Settings Dropdown -->
                            <div class="ml-3 relative">
                                <div class="flex space-x-5" v-if="!$page.props.auth.user">
                                    <jet-nav-link :href="route('register')">
                                        Sign up
                                    </jet-nav-link>
                                    <jet-nav-link :href="route('login')">
                                        Login
                                    </jet-nav-link>
                                </div>

                                <!-- Dropdown -->
                                <jet-dropdown align="right" width="48" v-else>
                                    <template #trigger>
                                        <button class="flex text-sm border-2 rounded-full focus:outline-none focus:border-gray-300 transition duration-150 ease-in-out">
                                            <img class="h-8 w-8 rounded-full object-cover shadow" :src="$page.props.auth.user.profile_photo_url" :alt="$page.props.auth.user.name" />
                                        </button>

                                        <!-- <span v-else class="inline-flex rounded-md">
                                            <button type="button" class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-gray-500 bg-white hover:text-gray-700 focus:outline-none transition ease-in-out duration-150">
                                                {{ $page.props.auth.user.name }}

                                                <svg class="ml-2 -mr-0.5 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                                                </svg>
                                            </button>
                                        </span> -->
                                    </template>

                                    <template #content>
                                        <!-- Account Management -->
                                        <div class="block px-4 py-2 text-xs text-gray-400">
                                            My Account
                                        </div>

                                        <jet-dropdown-link :href="route('users.bookings')" :active="route().current('users.bookings')">
                                            Bookings
                                        </jet-dropdown-link>
                                        <jet-dropdown-link :href="route('users.tickets')" :active="route().current('users.tickets')">
                                            Event tickets
                                        </jet-dropdown-link>
                                        <jet-dropdown-link :href="route('users.profile')">
                                            Profile
                                        </jet-dropdown-link>

                                        <!-- Business  -->
                                        <div class="block px-4 py-2 text-xs text-gray-400">
                                            Partners
                                        </div>

                                        <jet-dropdown-link :href="route('partners.dashboard')">
                                            Business dashbaord
                                        </jet-dropdown-link>

                                        <div class="border-t border-gray-100"></div>

                                        <!-- Authentication -->
                                        <form @submit.prevent="logout">
                                            <jet-dropdown-link as="button">
                                                <span class="text-red-600">Logout</span>
                                            </jet-dropdown-link>
                                        </form>
                                    </template>
                                </jet-dropdown>
                            </div>
                        </div>

                        <!-- Hamburger -->
                        <div class="-mr-2 flex items-center sm:hidden">
                            <button @click="showingNavigationDropdown = ! showingNavigationDropdown" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out">
                                <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                    <path :class="{'hidden': showingNavigationDropdown, 'inline-flex': ! showingNavigationDropdown }" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                                    <path :class="{'hidden': ! showingNavigationDropdown, 'inline-flex': showingNavigationDropdown }" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Responsive Navigation Menu -->
                <div :class="{'block': showingNavigationDropdown, 'hidden': ! showingNavigationDropdown}" class="sm:hidden">
                    <div class="pt-2 pb-3 space-y-1">
                        <jet-responsive-nav-link :href="route('partners.onboarding.create')" :active="route().current('partners.onboarding.create')">
                            List your business
                        </jet-responsive-nav-link>
                    </div>

                    <!-- Responsive Settings Options -->
                    <div class="pt-4 pb-1 border-t border-gray-200">
                        <!-- authenticated -->
                        <div v-if="$page.props.auth.user">
                            <div class="flex items-center px-4">
                                <div class="flex-shrink-0 mr-3" >
                                    <img class="h-10 w-10 rounded-full object-cover" :src="$page.props.auth.user.profile_photo_url" :alt="$page.props.auth.user.name" />
                                </div>
    
                                <div>
                                    <div class="font-medium text-base text-gray-800">{{ $page.props.auth.user.name }}</div>
                                    <div class="font-medium text-sm text-gray-500">{{ $page.props.auth.user.email }}</div>
                                </div>
                            </div>
    
                            <div class="mt-3 space-y-1">
                                <jet-responsive-nav-link :href="route('users.bookings')" :active="route().current('users.bookings')">
                                    Bookings
                                </jet-responsive-nav-link>
                                <jet-responsive-nav-link :href="route('users.tickets')" :active="route().current('users.tickets')">
                                    Event tickets
                                </jet-responsive-nav-link>
                                <jet-responsive-nav-link :href="route('users.profile')" :active="route().current('users.profile')">
                                    Profile
                                </jet-responsive-nav-link>
                                <jet-responsive-nav-link :href="route('partners.dashboard')" :active="route().current('partners.dashboard')">
                                    Business dashboard
                                </jet-responsive-nav-link>
    
                                <!-- Authentication -->
                                <form method="POST" @submit.prevent="logout">
                                    <jet-responsive-nav-link as="button" >
                                        <span class="text-red-600">Logout</span>
                                    </jet-responsive-nav-link>
                                </form>
                            </div>
                        </div>

                        <div class="space-y-1" v-else>
                            <jet-responsive-nav-link :href="route('register')">
                                Sign up
                            </jet-responsive-nav-link>
                            <jet-responsive-nav-link :href="route('login')">
                                Login
                            </jet-responsive-nav-link>
                        </div>
                    </div>
                </div>
            </nav>

            <!-- Page Heading -->
            <!-- <header class="bg-white shadow" v-if="$slots.header">
                <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
                    <slot name="header"></slot>
                </div>
            </header> -->

            <!-- Page Content -->
            <main class="min-h-screen flex flex-col">
                <div class="flex-1">
                    <slot></slot>
                </div>
                <Footer />
            </main>

            <!-- Modal Portal -->
            <portal-target name="modal" multiple>
            </portal-target>
        </div>
    </div>
</template>

<script>
    import JetApplicationMark from '@/Jetstream/ApplicationMark'
    import JetBanner from '@/Jetstream/Banner'
    import JetDropdown from '@/Jetstream/Dropdown'
    import JetDropdownLink from '@/Jetstream/DropdownLink'
    import JetNavLink from '@/Jetstream/NavLink'
    import JetResponsiveNavLink from '@/Jetstream/ResponsiveNavLink'
    import Footer from '@/Shared/Footer'

    export default {
        components: {
            JetApplicationMark,
            JetBanner,
            JetDropdown,
            JetDropdownLink,
            JetNavLink,
            JetResponsiveNavLink,
            Footer,
        },

        data() {
            return {
                showingNavigationDropdown: false,
            }
        },

        methods: {
            switchToTeam(team) {
                this.$inertia.put(route('current-team.update'), {
                    'team_id': team.id
                }, {
                    preserveState: false
                })
            },

            logout() {
                this.$inertia.post(route('logout'));
            },
        }
    }
</script>
