<template>
    <!-- <form @submit.prevent="form.get(route('search'))">
        <div class="space-y-4 max-w-xl sm:mx-auto sm:space-y-0 sm:space-x-4 sm:flex lg:ml-0">
            <input type="text" class="w-full rounded-lg p-3 sm:w-2/3" placeholder="Event or Business name" v-model="form.term">
            <button class="bg-indigo-900 border border-indigo-600 w-full p-3 rounded-lg text-xl text-white flex-center space-x-2 focus:outline-none focus:ring-2 ring-offset-2 ring-offset-gray-900 sm:w-1/3">
                <icon name="search" class="h-5 w-5"/>
                <span class="font-semibold">Search</span>
            </button>
        </div>        
    </form> -->
    <form @submit.prevent="form.get(route('discovery.businesses'))" class="lg:flex">
        <div class="block relative w-full">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3">
                <svg class="h-6 w-6 fill-current text-gray-600" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.32 14.9l1.1 1.1c.4-.02.83.13 1.14.44l3 3a1.5 1.5 0 0 1-2.12 2.12l-3-3a1.5 1.5 0 0 1-.44-1.14l-1.1-1.1a8 8 0 1 1 1.41-1.41l.01-.01zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"/></svg>
            </div>
            <input v-model="form.name" class="block w-full shadow border border-transparent bg-white focus:outline-none focus:border-gray-300 text-gray-900 rounded-lg pl-10 pr-4 py-3 h-full" placeholder="Search by name or category">
        </div>
        <t-button class="mt-4 lg:mt-0 lg:ml-4 w-full lg:w-auto inline-flex items-center justify-center px-6 py-2 font-semibold rounded-md text-blue-900 bg-blue-100 hover:bg-blue-200 focus:outline-none focus:bg-blue-200 transition ease-in-out duration-150 xl:text-lg xl:py-4">
            Search
        </t-button>
    </form>
</template>

<script>
export default {
    props: ['name'],

    mounted(){
        this.form.name = this.name
    },

    data() {
        return {
            form: this.$inertia.form({
                name: '',
            })
        }
    }
}
</script>