<template>
  <div class="mt-4 mx-4 -mb-1 flex flex-col justify-between items-center">
      <span class="text-sm my-3 font-bold">{{from}} - {{to}} of {{total}}</span>
      <div class="rounded flex flex-wrap">
        <template v-for="(link, key) in links">
          <button
              :key="key" 
              class="inline-block shadow rounded mr-1 mb-1 px-3 py-1 text-sm bg-white hover:bg-white focus:border-orange-500 focus:text-orange-500" 
              :class="{ 'text-pink-800 font-bold border border-pink-800': link.active, 'text-gray-500': link.url === null }" 
              v-if="link.url && (typeof link.label == 'number')"
              @click="_changePage(link)"
              v-html="link.label"
          ></button>
        </template>
      </div>
  </div>
</template>

<script>
export default {
  props: {
    links: Array,
    from: Number,
    to: Number,
    total: Number,
    onPageChange: Function
  },

  methods: {
    _changePage(link){
      if(typeof this.onPageChange == 'function'){
        this.onPageChange(link.label)
      } else {
        this.$inertia.visit(link.url)
      }
    }
  }
}
</script>
