<template>
     <span :class="`mx-4 loader inline-block ease-linear rounded-full border-t-2 border-gray-700 ${sizes[size] || sizes.md}`"></span>
</template>

<script>
export default {
    props: ['size'],
    data(){
        return {
            sizes: {
                lg: 'h-8 w-8',
                md: 'h-6 w-6',
                sm: 'h-4 w-4',
            }
        }
    }
}
</script>