<template>
    <div>
        <div class="flex-between">
            <div>
                <inertia-link v-if="isEditing()" :href="route('partners.events.show', {event: event.id})" class="text-xl font-semibold flex-center space-x-1 hover:underline"> 
                    <icon name="arrow-left"/> 
                    <span>{{event.name}}</span> 
                </inertia-link>
                <inertia-link v-else :href="route('partners.events')" class="text-xl font-semibold flex-center space-x-1"> 
                    <icon name="arrow-left"/> 
                    <span>Events</span> 
                </inertia-link>                
            </div>

            <!-- <t-button v-if="isEditing()" variant="danger" disabled>
                <icon name="trash"/>
                <span>Delete Event</span>
            </t-button> -->
        </div>
        <div class="-mx-4 sm:mx-0">
            <!-- <form-section v-if="isEditing()" @submitted="timeslot.id ? updateSlot() : storeSlot()">
                <template #title>Event Timeslots</template>
                <template #description>
                    Add at least one time slot to this event before publishing. 
                    Slots are timeframes created for the start and stop time of this event. 
                    Create multiple time slots if needed.
                </template>

                <template #form>
                    <div class="rounded-lg border divide-y">
                        <div class="py-2 px-4 hover:bg-gray-50" v-for="(slot, index) in event.slots" :key="index">
                            <div class="flex-between space-x-6">
                                <div class="flex-1">
                                    <p class="text-gray-600">{{slot.name}}</p>
                                    <div class="flex-between">
                                        <a href="" @click.prevent="editSlot(slot)" class="hover:underline text-blue-900">
                                            {{$moment(slot.start_time, 'HH:mm:ss').format('hh:mm A') }} -
                                            {{$moment(slot.end_time, 'HH:mm:ss').format('hh:mm A') }}
                                        </a>
                                        <p class="text-xs text-gray-500">Capacity: {{slot.capacity}}</p>
                                    </div>
                                    <p class="text-gray-600 text-sm flex items-center space-x-1" v-if="slot.description">
                                        <icon name="info-circle" class="text-blue-600"/> 
                                        <span>{{slot.description}}</span> 
                                    </p>
                                </div>
                                <button @click.prevent="deleteSlot(slot.id)"><icon name="trash" class="text-red-500"/></button>
                            </div>
                        </div>
                    </div>
                </template>
                <template #actions>
                    <t-button variant="success" @click.prevent="showModal = true">+ Add Timeslot </t-button>
                </template>
            </form-section> -->

            <form-section>
                <template #title>Event Details</template>
                <template #description>Provide the necessary details about this event</template>

                <template #form>
                    <div class="grid grid-cols-2 gap-4">
                        <t-input-group class="col-span-2" label="Title:" :variant="errors.name && 'error'" :feedback="errors.name">
                            <t-input v-model="form.name"/>
                        </t-input-group>

                        <t-input-group class="sm:col-span-1" label="Date:" :variant="errors.date && 'error'" :feedback="errors.date">
                            <t-datepicker v-model="form.date" :minDate="$moment().add(1, 'day').format('YYYY-MM-DD')"/>
                        </t-input-group>
                        <t-input-group class="sm:col-span-1" label="Time:" :variant="errors.time && 'error'" :feedback="errors.time">
                            <date-time-picker v-model="form.time" only-time  label="Event time" formatted="h:mm A" format="HH:mm"/>
                        </t-input-group>

                        <t-input-group class="sm:col-span-1" label="Event Poster" :variant="errors.poster && 'error'" :feedback="errors.poster">
                            <file-input v-model="form.poster" :error="errors.poster" type="file" accept="image/*"/>
                        </t-input-group>

                        <t-input-group class="col-span-2" label="Venue:" :variant="errors.location && 'error'" :feedback="errors.location">
                            <t-textarea v-model="form.location"/>
                        </t-input-group>
                        <t-input-group class="col-span-2" label="Description (1000 characters max):" :variant="errors.description && 'error'" :feedback="errors.description">
                            <t-textarea v-model="form.description"/>
                        </t-input-group>

                        <t-input-group class="col-span-2 sm:col-span-1" label="Bookings start date:" :variant="errors.start_accepting_at && 'error'" :feedback="errors.start_accepting_at" description="Date on which you wish to start accepting bookings for this event.">
                            <t-datepicker v-model="form.start_accepting_at" :minDate="new Date()" :maxDate="form.date || new Date()"/>
                        </t-input-group>
                        <t-input-group class="col-span-2 sm:col-span-1" label="Bookings end date:" :variant="errors.stop_accepting_at && 'error'" :feedback="errors.stop_accepting_at" description="Date on which you wish to stop accepting bookings for this event.">
                            <t-datepicker v-model="form.stop_accepting_at" :minDate="form.start_accepting_at || new Date()" :maxDate="form.date || new Date()"/>
                        </t-input-group>

                        <t-input-group class="col-span-2 sm:col-span-1" label="Max bookings per user (0 = unlimited)" :variant="errors.limit_per_user && 'error'" :feedback="errors.limit_per_user" description="Maximum number of bookings a user can make. 0 for unlimited">
                            <t-select :options="['0', '1','2','3','4','5','6','12','24','48','72']" v-model="form.limit_per_user"/>
                        </t-input-group>
                        <t-input-group class="col-span-2 sm:col-span-1" label="Capacity" :variant="errors.capacity && 'error'" :feedback="errors.capacity" description="Maximum number of slots or tickets available for this event">
                            <t-input v-model="form.capacity" type="number"/>
                        </t-input-group>

                        <t-input-group class="col-span-2 sm:col-span-1" label="(GHS) Price of ticket (0 = free)" description="Cost of tickets. GHS0.00 will render the event as 'Free'.">
                            <t-input v-model="form.price"/>
                        </t-input-group>
                    </div>
                </template>
                <template #actions>
                    <t-button variant="success" @click.prevent="submit">{{isEditing() ? 'Update Event' : 'Save & Next ->'}}  </t-button>
                </template>
            </form-section>
        </div>

        <!-- <t-modal v-model="showModal">
            <form @submit.prevent="timeslot.id ? updateSlot() : storeSlot()">
                <div class="border-b pb-2 mb-4">
                    Timeslot
                </div>
                <div class="form-row-cols-2">
                    <t-input-group label="*Start Time:" :variant="errors.start_time && 'error'" :feedback="errors.start_time">
                        <date-time-picker v-model="timeslot.start_time" only-time label="Start at" formatted="h:mm A" format="HH:mm:ss" minute-interval="15"/>
                    </t-input-group>
                    <t-input-group label="*End Time:" :variant="errors.end_time && 'error'" :feedback="errors.end_time">
                        <date-time-picker v-model="timeslot.end_time" only-time label="End at" formatted="h:mm A" format="HH:mm:ss" minute-interval="15"/>
                    </t-input-group>
                    <t-input-group label="*Maximum No of Persons:" required>
                        <t-input type="number" v-model="timeslot.capacity"/>
                    </t-input-group> 
                    <t-input-group label="Slot Title (optional):" required>
                        <t-input v-model="timeslot.name" placeholder="e.g First service, Main event etc..."/>
                    </t-input-group>
                    <t-input-group label="Additional infomation (if any):" class="col-span-2">
                        <t-textarea type="date" v-model="timeslot.description"/>
                    </t-input-group>
                </div>
                <div class="flex justify-end space-x-3 mt-4 rounded-b-lg">
                    <t-button @click.prevent="showModal = false"> Cancel </t-button>
                    <t-button variant="success">+ Save Timeslot </t-button>
                </div>
            </form>
        </t-modal> -->
    </div>
</template>

<script>
import layout from '../Layout'
import FileInput from '@/Shared/FileInput'
export default {
    layout,
    components: {
        FileInput,
    },
    props: {
        errors: Object,
        event: Object,
    },

    mounted() {
        this.form = {...this.form, ...this.event}
        this.form.poster = null
    },

    data(){
        return {
            showModal: false,

            form: this.$inertia.form({
                name: '',
                description: '',
                date: null,
                time: null,
                location: '',
                capacity: null,
                price: 0,
                poster: null,
                start_accepting_at: null,
                stop_accepting_at: null,
                must_confirm: false,
                limit_per_user: "1",
                cancellation_buffer: null,
                // slots: [],
                tenant_id: this.$page.props.auth.user.id,
            }),

            // timeslot: this.$inertia.form({
            //     name: '',
            //     capacity: 1,
            //     start_time: '',
            //     end_time: '',
            //     description: '',
            // })
        }
    },

    methods:{
        isEditing(){
            return !!this.event.id
        },

        submit(){
            this.form.post(route(this.isEditing() ? 'users.events.update' : 'users.events.store', {event: this.event.id}))
        },

        // storeSlot(){
        //     this.timeslot.post(route('partners.events.slots.store', {event: this.event.id}), {
        //         onSuccess: () => {
        //             this.showModal = false
        //             this.timeslot.reset()
        //         }
        //     })
        // },

        // editSlot(slot){
        //     this.timeslot = {...this.timeslot, ...slot}
        //     this.showModal = true
        // },

        // updateSlot(){
        //     this.timeslot.patch(route('partners.events.slots.update', {slot: this.timeslot.id}), {
        //         onSuccess: () => {
        //             this.showModal = false
        //             this.timeslot.reset()
        //         }
        //     })
        // },

        // deleteSlot(slot){
        //     this.timeslot.delete(route('partners.events.slots.destroy', {slot}), {
        //         onBefore: () => confirm('Are you sure?'),
        //     })
        // },
    }
}
</script>
