<template>
    <div>
            <!-- <div class="mb-4 flex items-center space-x-1 text-blue-600 font-semibold bg-blue-100 p-1 px-3" v-if="!$page.props.auth.user.isOnOwnTeam">
                <icon name="information-circle"/>
                <span>Events from {{$page.props.auth.user.currentTeam.display_name}}.</span>
            </div> -->
        <!-- <div v-if="team_events.data.length" class="mb-12">

            <div class="table-container spread">
                <table class="table">
                    <thead>
                        <tr class="th-row">
                            <th class="py-4 t-cell">Event</th>
                            <th class="py-4 t-cell"></th>
                            <th class="py-4 t-cell">Title</th>
                            <th class="py-4 t-cell">Schedule</th>
                            <th class="py-4 t-cell">Tickets</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="cursor-pointer td-row hover:bg-gray-50"
                            :class="isPast(event) && 'opacity-75'"
                            v-for="(event, index) in events.data" 
                            :key="index" @click="$inertia.visit(route('partners.events.show', {event: event.id}))"
                        >
                            <td class="t-cell pr-0">
                                <div class="relative">
                                    <img :src="event.poster" class="w-12 h-12 object-cover rounded ring-2 ring-offset-1" :class="event.published_at && !isPast(event) ? 'ring-green-600' : 'ring-red-500'" alt="event poster" />
                                    <span class="text-xs bg-red-600 text-white px-1 rounded-full absolute top-0 left-0 -mt-2 -ml-3" v-if="event.unseen_bookings_count">
                                        {{event.unseen_bookings_count}}
                                    </span>
                                </div>
                            </td>
                            <td class="t-cell pl-0">
                                <p class="font-bold tracking-widest">{{ event.code }}</p> 
                                <p v-if="isPast(event)" class="text-xs text-red-500">Past</p> 
                                <p v-else class="text-xs" :class="event.published_at ? 'text-green-600' : 'text-red-500'">{{event.published_at ? 'Published' : 'Unpublished'}} </p> 
                            </td>
                            <td class="t-cell overflow-hidden " style="max-width: 250px">
                                <p class="font-semibold truncate">{{event.name}}</p> 
                                <p class="text-xs truncate">{{event.description}}</p>
                            </td>
                            <td class="t-cell">
                                <p class="font-semibold">{{$moment(event.date).format('lll')}}</p>
                                <p class="text-xs" :class="isPast(event) && 'text-red-600'">{{$moment().to(event.date)}}</p>
                            </td>
                            <td class="t-cell">
                                <p class="font-semibold">{{event.sales}}</p>
                                <p class="text-xs">{{ event.reservations_count }} of {{ event.capacity }} sold</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> -->

        <div class="mb-4 flex items-center space-x-1 text-blue-800 font-semibold bg-blue-100 p-1 px-3" v-if="!$page.props.auth.user.isOnOwnTeam">
            <icon name="information-circle"/>
            <span>Events from {{$page.props.auth.user.currentTeam.display_name}}.</span>
        </div>
        <div class="flex-between mb-6" v-else>
            <div class="text-xl font-semibold">My Events</div>
            <t-button :href="route('partners.events.create')" variant="brand" tagName="a">
                <icon name="plus"/>
                <span>Create Event</span>
            </t-button>
        </div>

        <div v-if="!events.data.length" class="flex-center flex-col p-12">
            <img src="/img/empty.svg" alt="" class="h-64">
            <p class="text-center text-gray-600">No events yet...</p>
        </div>

        <div v-else class="table-container spread">
            <table class="table">
                <thead>
                    <tr class="th-row">
                        <th class="py-4 t-cell">Event</th>
                        <th class="py-4 t-cell"></th>
                        <th class="py-4 t-cell">Title</th>
                        <th class="py-4 t-cell">Schedule</th>
                        <th class="py-4 t-cell">Tickets</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="cursor-pointer td-row hover:bg-gray-50"
                        :class="isPast(event) && 'opacity-75'"
                        v-for="(event, index) in events.data" 
                        :key="index" @click="$inertia.visit(route('partners.events.show', {event: event.id}))"
                    >
                        <td class="t-cell pr-0">
                            <div class="relative">
                                <img :src="event.poster" class="w-12 h-12 object-cover rounded ring-2 ring-offset-1" :class="event.published_at && !isPast(event) ? 'ring-green-600' : 'ring-red-500'" alt="event poster" />
                                <span class="text-xs bg-red-600 text-white px-1 rounded-full absolute top-0 left-0 -mt-2 -ml-3" v-if="event.unseen_bookings_count">
                                    {{event.unseen_bookings_count}}
                                </span>
                            </div>
                        </td>
                        <td class="t-cell pl-0">
                            <p class="font-bold tracking-widest">{{ event.code }}</p> 
                            <p v-if="isPast(event)" class="text-xs text-red-500">Past</p> 
                            <p v-else class="text-xs" :class="event.published_at ? 'text-green-600' : 'text-red-500'">{{event.published_at ? 'Published' : 'Unpublished'}} </p> 
                        </td>
                        <td class="t-cell overflow-hidden " style="max-width: 250px">
                            <p class="font-semibold truncate">{{event.name}}</p> 
                            <p class="text-xs truncate">{{event.description}}</p>
                        </td>
                        <td class="t-cell">
                            <p class="font-semibold">{{$moment(event.date).format('lll')}}</p>
                            <p class="text-xs" :class="isPast(event) && 'text-red-600'">{{$moment().to(event.date)}}</p>
                        </td>
                        <td class="t-cell">
                            <p class="font-semibold">{{event.sales}}</p>
                            <p class="text-xs">{{ event.reservations_count }} of {{ event.capacity }} sold</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <pagination :onPageChange="getData" :links="events.links" :from="events.from" :to="events.to" :total="events.total" />
    </div>
</template>

<script>
import layout from '../Layout'
export default {
    layout,
    props: {
        events: Object,
    },

    data(){
        return {
            search: {
                dates: '',
            }
        }
    },

    watch: {
        search: {
            handler(){
                this._search()
            },
            deep: true
        }
    },

    methods: {
        isPast(event){
            return this.$moment(event.date) < this.$moment()
        },

        _search: _.debounce(function(){
            this.getData()
        }, 300),

        getData(page = 1){
            this.$inertia.get(route('partners.events'), {page, ...this.search}, {
                preserveState: true
            })
        }
    }
}
</script>