<template>
    <div class="space-y-8">
        <div class="flex-between">
            <inertia-link :href="route('partners.events')" class="text-xl font-semibold flex-center space-x-1 hover:underline"> 
                <icon name="arrow-left"/> 
                <span>Events</span> 
            </inertia-link>
            <t-button :href="route('partners.events.edit', {event: event.id})" variant="brand" tagName="a">
                <icon name="pencil"/>
                <span>Edit Event</span>
            </t-button>
        </div>

        <!-- Summary -->
        <div class="flex justify-between space-x-3">
            <div>
                <img class="w-40 h-60 object-cover rounded-lg bg-white shadow-lg" :src="event.poster" alt="event photo">
                <p v-if="isPast()" class="pill-red py-2 w-full text-center font-bold mt-3"> Happened {{$moment().to(event.date)}}</p>
                <p v-else class=" py-2 w-full text-center font-bold mt-3" :class="event.published_at ? 'pill-green' : 'pill-red'">{{ event.published_at ? 'Event is live' : 'Event is private'}}</p>
            </div>
            <div class="text-right space-y-3 text-gray-800 divide-y divide-gray-300">
                <div>
                    <p class="font-bold text-2xl">{{total_bookings}} / {{event.capacity}}</p>
                    <p class="text-xs font-semibold text-gray-700">Bookings</p>
                </div>
                <div>
                    <p class="font-bold text-2xl">{{event.available_slots}}</p>
                    <p class="text-xs font-semibold text-gray-700">Slots Available</p>
                </div>
                <div>
                    <p class="font-bold text-2xl">{{event.display_price}}</p>
                    <p class="text-xs font-semibold text-gray-700">Ticket Price</p>
                </div>
                <div>
                    <p class="font-bold text-2xl">{{event.sales}}</p>
                    <p class="text-xs font-semibold text-gray-700">Total Purchases</p>
                </div>
            </div>
        </div>

        <!-- Event Details -->
        <div class="bg-white shadow overflow-hidden sm:rounded-lg -mx-4 sm:-mx-0">
            <div class="sm:flex justify-between items-center p-5 sm:px-6">
                <div class="flex-1 cursor-pointer" @click="showDetails = !showDetails">
                    <h3 class="text-lg leading-6 font-medium text-indigo-800"> <icon name="menu"/> {{event.name}} </h3>
                </div>
                <div class="flex space-x-2 mt-4 sm:mt-0">
                    <div class="flex items-center space-x-2">
                        <t-button :variant="event.published_at ? 'warning' : 'success'" @click="toggleStatus(!!event.published_at)" class="border">
                            {{event.published_at ? 'Unpublish' : 'Publish'}}
                        </t-button>
                    </div>
                </div>
            </div>
            <div v-if="showDetails" class="border-t border-gray-200">
                <dl>
                    <div class="grid grid-cols-1 sm:grid-cols-3 divide-y">
                        <div class="text-sm px-4 py-5 sm:px-6">
                            <dt class="font-medium text-gray-500"> Event Code </dt>
                            <dd class="mt-1 text-gray-900">
                                <p class="font-semibold">{{event.code}} </p>
                                 <!-- <inertia-link :href="event.path" class="text-indigo-600 underline">{{event.path}}</inertia-link> -->
                            </dd>
                        </div>
                        <div class="text-sm px-4 py-5 sm:px-6">
                            <dt class="font-medium text-gray-500">Ticket Price</dt>
                            <dd class="mt-1 text-green-900 font-semibold">{{event.display_price}} </dd>
                        </div>
                        <div class="text-sm px-4 py-5 sm:px-6">
                            <dt class="font-medium text-gray-500">Event Date & Time</dt>
                            <dd class="mt-1 text-gray-900">{{$moment(event.date).format('ll')}} {{$moment(event.time, 'HH:mm').format('h:mm A')}}</dd>
                        </div>
                        <div class="text-sm px-4 py-5 sm:px-6 sm:col-span-3">
                            <dt class="font-medium text-gray-500">Event Link</dt>
                            <dd class="mt-1 text-green-900 font-semibold">
                                <div class="flex mt-3">
                                    <t-input :value="event.path" id="eventLink"/>
                                    <t-button class="ml-2" @click="copyEventLink">Copy</t-button>
                                </div> 
                            </dd>
                        </div>
                        <div class="text-sm px-4 py-5 sm:px-6 sm:col-span-3">
                            <dt class="font-medium text-gray-500">Description</dt>
                            <dd class="mt-1 text-gray-900">{{event.description}}</dd>
                        </div>
                        <div class="text-sm px-4 py-5 sm:px-6">
                            <dt class="font-medium text-gray-500">Location</dt>
                            <dd class="mt-1 text-gray-900">{{event.location}}</dd>
                        </div>
                        <div class="text-sm px-4 py-5 sm:px-6">
                            <dt class="font-medium text-gray-500">Limit Per User</dt>
                            <dd class="mt-1 text-gray-900">{{event.limit_per_user}}</dd>
                        </div>
                        <div class="text-sm px-4 py-5 sm:px-6">
                            <dt class="font-medium text-gray-500">Capacity</dt>
                            <dd class="mt-1 text-gray-900">{{event.capacity}}</dd>
                        </div>
                    </div>
                </dl>
            </div>
        </div>

        <!-- reservations -->
        <div class="rounded-lg bg-white -mx-4 sm:-mx-0">
            <div class="flex-between p-4 border-b">
                <p class="text-xl">Event Bookings</p>
                <t-button @click="reservationModal = true" variant="brand" v-if="!isPast()">
                    <icon name="plus"/>
                    <span>New Booking</span>
                </t-button>
            </div>
            <div class="border-b p-4 bg-gray-50">
                <div class="form-row-cols-2">
                    <t-input v-model="search.q" placeholder="Search Ticket Number" />
                </div>
            </div>
            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr class="th-row">
                            <th class="py-4 t-cell">Code</th>
                            <th class="py-4 t-cell">Reservee</th>
                            <th class="py-4 t-cell">Tickets</th>
                            <th class="py-4 t-cell">Purchased</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="cursor-pointer td-row hover:bg-gray-50" 
                            :class="!reservation.seen && 'font-semibold'"
                            v-for="(reservation, index) in reservations.data" 
                            :key="index" @click="$inertia.visit(route('partners.events.tickets.show', {ticket: reservation.id}))"
                        >
                            <td class="t-cell"> 
                                <div class="flex items-center space-x-3">
                                    <p class="h-2 w-2 rounded-full bg-blue-700" v-if="!reservation.seen"></p>
                                    <span class="font-bold tracking-widest">
                                        {{ reservation.code }}
                                    </span> 
                                </div>
                            </td>
                            <td class="t-cell">
                                <p>{{reservation.name}}</p>
                                <p>{{reservation.phone}}</p>
                            </td>
                            <td class="t-cell">
                                {{reservation.count}} ({{reservation.payment && reservation.payment.status == 'successful' && `GHS ${reservation.payment.amount}` || 'Free'}})
                            </td>
                            <td class="t-cell">{{$moment(reservation.created_at).format('lll') }}</td>
                        </tr>
                        <tr v-if="!reservations.data.length">
                            <td class="t-cell">No records found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <pagination :onPageChange="getData" :links="reservations.links" :from="reservations.from" :to="reservations.to" :total="reservations.total" />
        </div>

        <!-- Reservation Form -->
        <t-modal v-model="reservationModal" header="Reservation Details">
            <form @submit.prevent="makeReservation" class="space-y-3">
                <div class="grid grid-cols-2 gap-3">
                    <t-input-group label="First Name" :variant="errors.first_name && 'error'" :feedback="errors.first_name" required>
                        <t-input v-model="reservation.first_name"/>
                    </t-input-group>
                    <t-input-group label="Last Name" :variant="errors.last_name && 'error'" :feedback="errors.last_name" required>
                        <t-input v-model="reservation.last_name"/>
                    </t-input-group>
                    <t-input-group label="Phone" :variant="errors.phone && 'error'" :feedback="errors.phone" required>
                        <t-input v-model="reservation.phone" type="tel"/>
                    </t-input-group>
                    <t-input-group label="Email">
                        <t-input v-model="reservation.email" type="email"/>
                    </t-input-group>
                </div>
                <t-input-group label="Number of Persons" class="sm:col-span-2" :variant="errors.count && 'error'" :feedback="errors.count" required>
                    <t-input v-model="reservation.count" type="number"/>
                </t-input-group>
            </form>
            <template #footer>
                <t-button variant="brand" @click="makeReservation">Finish -> </t-button>
            </template>
        </t-modal>
    </div>
</template>

<script>
import layout from '../Layout'
export default {
    layout,
    props: {
        errors: Object,
        event: Object,
        reservations: Object,
        total_bookings: Number
    },

    data(){
        return {
            reservationModal: false,
            showDetails: false,
            reservation: this.$inertia.form({
                // reservable_type: 'App\\Models\\Event',
                // reservable_id: this.event.id,
                slot_id: '',
                first_name: '',
                last_name: '',
                phone: '',
                email: '',
                count: 1,
                appointment_date: this.event.date,
                appointment_time: this.event.time,
                is_client_originated: true,
            }),

            search: {
                q: '',
                date: ''
            },
        }
    },

    watch: {
        search: {
            handler(){
                this._search()
            },
            deep: true
        }
    },

    methods: {

        _search: _.debounce(function(){
            this.getData()
        }, 300),

        getData(page = 1){
            this.$inertia.get(route('partners.events.show', {event: this.event.id}), {page, ...this.search}, {
                preserveState: true,
                preserveScroll: true,
            })
        },

        isPast(){
            return this.$moment(this.event.date) < this.$moment()
        },

        copyEventLink(){
                var copyText = document.getElementById("eventLink");

                copyText.select();
                copyText.setSelectionRange(0, 99999); /* For mobile devices */

                document.execCommand("copy");

                alert("Event link copied");
        },

        makeReservation(){
            // if(!this.reservation.appointment_time) return 

            // this.reservation.slot_id = this.event.slots.filter(slot => slot.start_time == this.reservation.appointment_time)[0].id

            this.reservation.post(route('partners.events.tickets.store', {event: this.event.id}),{
                preserveState: true,
                preserveScroll: true,
                onSuccess: () => {
                    this.reservationModal = false
                    this.reservation.reset()
                }
            })
        },

        updateStatus(method, action){
            this.$inertia.visit(route(`users.events.${action}`, {event: this.event.id}), {
                method,
                preserveState: true,
            })
        },

        toggleStatus(published){
            return published ? this.updateStatus('delete', 'unpublish') : this.updateStatus('patch', 'publish')
        }
    }
}
</script>