<template>
    <div class="space-y-6">

        <div>
            <p class="text-xl font-semibold text-gray-700 mb-3">Package Sales</p>
            <p class="text-5xl font-bold text-gray-700">GHS {{grand_total}}.00</p>
        </div>

        <div>
            <p class="text-xl font-semibold text-gray-700 mb-3">Overview</p>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
                <div class="bg-white shadow rounded-xl overflow-hidden" v-for="(stat, index) in stats" :key="index">
                    <div class="px-4 py-6 flex space-x-4">
                        <div class="h-12 w-12 bg-indigo-800 flex-center rounded-lg">
                            <icon :name="stat.icon" class="text-indigo-50 w-6 h-6"/>
                        </div>
                        <div>
                            <p class="font-bold tracking-widest uppercase text-gray-500 text-xs">{{stat.name}}</p> 
                            <p class="text-3xl font-bold">{{_stats[stat.name]}}</p>
                        </div>
                    </div>
                    <div class="bg-indigo-50 px-4 py-2 flex justify-end" v-if="stat.route">
                        <inertia-link :href="route(stat.route)" class="text-indigo-800 font-semibold">View all -></inertia-link>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-5 gap-4">
            <div class="bg-white shadow rounded-xl overflow-hidden p-4 space-y-2" v-for="(pkg, index) in packages" :key="index">
                <p class="font-bold tracking-widest uppercase text-gray-500 text-xs">{{pkg.name}}</p> 
                <p class="text-3xl font-semibold text-gray-700"> <span class="text-base">GHS </span> {{pkg.total}}.00</p>
                <p class="text-gray-800">{{pkg.count}} Purchases</p>
            </div>
        </div> -->
    </div>
</template>

<script>
import layout from '../Layout'
export default {
    layout,
    props: {
        _stats: Object,
        _packages: Array,
        grand_total: [Number, String]
    },

    data(){
        return{
            stats: [
                { name: 'users', icon: 'users', route: 'admins.users'},
                { name: 'businesses', icon: 'briefcase', route: 'admins.businesses'},
                { name: 'events', icon: 'calendar', route: 'admins.events'},
                { name: 'reservations', icon: 'bell', route: null},
            ],

            packages: [
                { name: 'free', total: 10, count: 12},
                { name: 'basic', total: 15, count: 15},
                { name: 'business', total: 5, count: 10},
                { name: 'premium', total: 3, count: 8},
                { name: 'enterprise', total: 11, count: 5},
            ],
        }
    }
}
</script>