<template>
    <div class="pb-12">
        <div class="flex-between flex-wrap">
            <div class="text-left">
                <inertia-link :href="route('partners.events.show', {event: reservation.reservable.id})" class="text-xl font-semibold space-x-1 hover:underline inline-block mb-2"> 
                    <icon name="arrow-left"/> 
                    <span>Back</span> 
                </inertia-link>
                <p class="text-xs">Purchased {{$moment(reservation.created_at).format('lll')}} </p>
                <p class="text-xs">({{$moment().to(reservation.created_at)}})</p>
            </div>
            <p class="font-bold tracking-widest text-indigo-800 text-xl">
                Ticket# {{reservation.code}}
            </p>
        </div>

        <div class="bg-white shadow overflow-hidden sm:rounded-lg mt-6 -mx-4 sm:-mx-0">
            <div class=" sm:flex justify-between items-center p-4 sm:px-6">
                <div class="">
                    <h3 class="text-lg leading-6 font-medium text-gray-900">
                        <p class="text-indigo-800 font-semibold">{{reservation.name}}</p>
                        <!-- <p>Reservation #{{reservation.code}}</p>  -->
                    </h3>
                </div>
                 <div class="flex space-x-2 mt-4 sm:mt-0">
                    <div class="text-sm" v-if="reservation.checked_in_at">
                         Checked in at {{$moment(reservation.checked_in_at).format('lll') }}
                    </div>
                    <div v-else class="space-x-3">
                        <t-button variant="success" @click="checkIn">
                            <icon name="check"/>
                            <span>Check In</span>
                        </t-button>
                    </div>
                </div>
            </div>
            <div class="border-t border-gray-200">
                <dl>
                    <div class="grid grid-cols-1 sm:grid-cols-2 divide-y">
                        <div class="text-sm px-4 py-5 sm:px-6">
                            <dt class="font-medium text-gray-500"> Ticket details </dt>
                            <dd class="mt-1 text-gray-800 font-semibold">
                                <p> {{reservation.name}} </p>
                                <p> {{reservation.phone}}</p>
                                <p> {{reservation.email}}</p>
                            </dd>
                        </div>
                        <!-- <div class="text-sm px-4 py-5 sm:px-6">
                            <dt class="font-medium text-gray-500"> Date & Time </dt>
                            <dd class="mt-1 text-gray-800 font-semibold">
                                {{ $moment(reservation.date).format('LLL') }}
                            </dd>
                        </div> -->
                        <!-- <div class="text-sm px-4 py-5 sm:px-6">
                            <dt class="font-medium text-gray-500"> No. of Tickets </dt>
                            <dd class="mt-1 text-gray-800 font-semibold">
                                {{reservation.count}}
                            </dd>
                        </div> -->
                        <div class="text-sm px-4 py-5 sm:px-6">
                            <dt class="font-medium text-gray-500"> Payment </dt>
                            <dd class="mt-1 text-gray-800">
                                <p v-if="!reservation.payment">Free</p>
                                <div v-else>
                                    <p class="font-semibold">GHS {{reservation.payment.amount}}</p> 
                                    <!-- <p >{{reservation.status}}</p> -->
                                </div>
                            </dd>
                        </div>
                        <div class="text-sm px-4 py-5 sm:px-6 sm:col-span-2" v-if="reservation.services">
                            <dt class="font-medium text-gray-500"> Services requested </dt>
                            <div class="mt-1 border rounded-lg divide-y">
                                <p class="p-3 " v-for="(service, index) in reservation.services" :key="index">{{service}}</p> 
                                <p class="p-3" v-if="!reservation.services.length">--none--</p>
                            </div>
                        </div>
                    </div>
                </dl>
            </div>
        </div>
    </div>
</template>

<script>
import layout from '../../Layout'
export default {
    layout,
    props: {
        reservation: Object,
    },

    methods: {
        checkIn(){
            this.$inertia.visit(route('partners.reservations.check-in', {reservation: this.reservation.id}), {
                method: 'patch',
                onBefore: () => confirm(`Sure to check-in this person?`)
            })
        },

        // deleteReservation(){
        //     this.$inertia.delete(route('partners.reservations.destroy', {reservation: this.reservation.id}), {
        //         onBefore: () => confirm(`Sure to delete this reservation?`)
        //     })
        // }
    }
}
</script>