<template>
    <layout>
        <div class="container py-6">
            <p class="text-4xl font-black mb-6">My Bookings </p>

            <div v-if="!bookings.length" class="py-40 text-center">
                <p class="text-xl font-bold text-gray-800 mb-4">Nothing yet</p>
                <p class="font-semibold text-gray-500">All your appointments will show here when you make them.</p>
            </div>

            <div class="divide-y bg-white -mx-4 sm:-mx-0 sm:rounded-lg" v-else>
                <div class="flex p-4" v-for="(booking, index) in bookings" :key="index">
                    <img class="h-12 w-12 rounded-full bg-cover shadow" :src="booking.business.logo" :alt="booking.business.name">
                    <div class="flex-1">
                        <div class="pl-3">
                            <div class="flex justify-between item-start mb-2">
                                <inertia-link :href="route('users.bookings.show', {booking: booking.id})" class="font-semibold text-indigo-800">#{{booking.code}}</inertia-link>
                                <inertia-link :href="route('users.bookings.show', {booking: booking.id})" class="focus:outline-none flex"><icon name="dots-vertical"/></inertia-link>
                            </div>
                            <div class="flex justify-between item-start mb-2">
                                <inertia-link :href="booking.business.path" class="font-semibold text-gray-800">{{booking.business.name}}</inertia-link>
                            </div>
                            <div class="flex flex-wrap justify-between items-start">
                                <p class="text-sm mb-2">Set for <span class="font-semibold text-gray-700">{{$moment(booking.date).format('lll')}}</span> </p>
                                <span 
                                    class="text-xs font-semibold rounded-full px-2"
                                    :class="$moment().isBefore(booking.date) ? 'bg-green-200 text-green-800' : 'bg-red-200 text-red-800'"
                                >Due {{$moment().to(booking.date)}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </layout>
</template>

<script>
    import Layout from '@/Shared/MainLayout';
    export default {
        components: {
            Layout,
        },
        props: {
            bookings: Array
        }
    }
</script>