<template>
    <layout>
        <div class="container py-6 space-y-6">
            <inertia-link :href="route('users.bookings')" class="font-semibold block text-gray-500"> 
                <icon name="arrow-left" class="mb-1"/> Back  
            </inertia-link>

            <p class="text-4xl font-black text-center sm:text-left"> Booking #{{booking.code}} </p>

            <div class="sm:flex sm:space-x-8">
                <div class="sm:w-1/5 flex flex-col items-center sm:items-start space-y-3 mb-6">
                    <img :src="booking.business.logo" :alt="booking.business.name" class="rounded-lg w-40 shadow">
                    <star-rating 
                        :rating="booking.business.rating"
                        :star-size="20"
                        rounded-corners 
                        :active-color="$ratingsColors"
                    />
                    <inertia-link class="hidden sm:block font-semibold text-indigo-800 text-center sm:text-left" :href="booking.business.path">{{booking.business.name}}</inertia-link>
                </div>
    
                <div class="flex-1 divide-y divide-dashed bg-white -mx-4 sm:-mx-0 sm:rounded-lg">
                    <div class=" p-4">
                        <p class="font-semibold text-gray-500">Business name</p>
                        <inertia-link class="font-semibold text-indigo-800" :href="booking.business.path">{{booking.business.name}}</inertia-link>
                    </div>
                    <div class=" p-4">
                        <p class="font-semibold text-gray-500">Appointment Date</p>
                        <p class="font-semibold text-gray-800">{{$moment(booking.appointment_date).format('LL') }}</p>
                    </div>
                    <div class=" p-4">
                        <p class="font-semibold text-gray-500">Appointment Time</p>
                        <p class="font-semibold text-gray-800">{{$moment(booking.appointment_time, 'HH:mm:ss').format('h:mm A') }}</p>
                    </div>
                    <div class=" p-4">
                        <p class="font-semibold text-gray-500">Booked on</p>
                        <p class="font-semibold text-gray-800">{{$moment(booking.created_at).format('lll')}} </p>
                    </div>
                    <div class=" p-4">
                        <p class="font-semibold text-gray-500">Services booked</p>
                        <p class="font-semibold text-gray-800">
                            <span class="block" v-for="(service, index) in booking.services" :key="index">{{service}}</span>
                        </p>
                    </div>
                    <div class=" p-4">
                        <p class="font-semibold text-gray-500">Status</p>
                        <p class="font-semibold text-gray-800">{{booking.cancelled_at ? 'Cancelled' : 'Active'}} </p>
                    </div>
                </div>
            </div>
        </div>
    </layout>
</template>

<script>
    import Layout from '@/Shared/MainLayout';
    import StarRating from 'vue-star-rating'
    export default {
        components: {
            Layout,
            StarRating,
        },
        props: {
            booking: Object
        }
    }
</script>