<template>
    <div class="space-y-6">
        <div class="flex-between mb-6">
            <div class="text-xl font-semibold">All users</div>
        </div>

        <!-- Search -->
        <div class="bg-white p-4 rounded-lg border">
            <div class="form-row-cols-4">
                <t-input-group>
                    <t-input v-model="search.name" placeholder="Name"/>
                </t-input-group>
            </div>
        </div>

        <div class="table-container spread">
            <table class="table">
                <thead>
                    <tr class="th-row">
                        <th class="py-4 t-cell">Name</th>
                        <th class="py-4 t-cell">Email</th>
                        <th class="py-4 t-cell">Phone</th>
                        <th class="py-4 t-cell">Balance</th>
                        <th class="py-4 t-cell">Type</th>
                        <th class="py-4 t-cell">Created</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="cursor-pointer td-row hover:bg-gray-50"
                        v-for="(user, index) in users.data" 
                        :key="index" 
                        @click="$inertia.visit(route('admins.users.show', {user: user.id}))"
                    >
                        <td class="t-cell flex items-center"> 
                            <img :src="user.profile_photo_url" alt="profile photo" class="h-8 w-8 mr-3 rounded-full object-cover"> 
                            <span>{{user.first_name}} {{user.last_name}}</span> 
                        </td>
                        <td class="t-cell">{{user.email}}</td>
                        <td class="t-cell">{{user.phone}}</td>
                        <td class="t-cell">{{user.balance}}</td>
                        <td class="t-cell">{{user.type}}</td>
                        <td class="t-cell">{{ $moment(user.created_at).format('lll') }}</td>
                    </tr>
                    <tr class="cursor-pointer td-row hover:bg-gray-50" v-if="!users.data.length">
                        <td class="t-cell">No users found</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pagination :onPageChange="getData" :links="users.links" :from="users.from" :to="users.to" :total="users.total" />
    </div>
</template>

<script>
import layout from '../Layout'
import Searchable from '@Mixins/Searchable'
export default {
    mixins: [Searchable],
    layout,
    props: {
        users: Object,
    },

    data(){
        return {
            search: {
                name: '',
            }
        }
    },

    methods: {
        getData(page = 1){
            this.$inertia.get(route('admins.users'), {page, ...this.search}, {
                preserveState: true
            })
        }
    }
}
</script>