<template>
    <div class="space-y-6 max-w-6xl">

        <inertia-link :href="route('admins.users')" class="font-semibold text-gray-700 flex items-center space-x-1"> 
            <icon name="arrow-left"/> 
            <span>Back</span> 
        </inertia-link>

        <div class="flex-between">
            <div class="flex space-x-4">
                <img :src="user.profile_photo_url" class="h-12 w-12 rounded-full" />
                <div>
                    <div class="text-xl font-semibold">{{user.name}}</div>
                    <div class="text-sm">Member since <span class="font-semibold">{{$moment(user.created_at).format('LL') }}</span> </div>
                </div>
            </div>
            <div>
                <t-button tagName="a" :href="route('admins.users.impersonate', {user: user.id})" variant="success"> <icon name="lock-open" class="mr-2"/> Impersonate {{user.first_name}}</t-button>
            </div>
        </div>

        <!-- Details -->
        <div class="rounded-lg bg-white border">
            <div class="px-6 py-4 border-b">
                <p class="font-semibold">Personal Details</p>
            </div>
            <div class="px-6 py-4">
                <div class="grid grid-cols-2 gap-6">
                    <div class="text-gray-800">
                        <p class="text-gray-500 font-semibold">First name</p>
                        <p>{{user.first_name}}</p>
                    </div>
                    <div class="text-gray-800">
                        <p class="text-gray-500 font-semibold">Last name</p>
                        <p>{{user.last_name}}</p>
                    </div>
                    <div class="text-gray-800">
                        <p class="text-gray-500 font-semibold">Email</p>
                        <p>{{user.email}}</p>
                    </div>
                    <div class="text-gray-800">
                        <p class="text-gray-500 font-semibold">Phone</p>
                        <p>{{user.phone}}</p>
                    </div>
                    <div class="text-gray-800">
                        <p class="text-gray-500 font-semibold">Current Balance</p>
                        <p>{{user.balance}} Bookings</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex space-x-6 items-start">
            <!-- Curent balance -->
            <div class="flex-1 rounded-lg bg-white border">
                <div class="px-6 py-4 flex-between">
                    <p><span class="font-semibold">{{user.balance}}</span> Bookings remaining </p>
                    <inertia-link href @click.prevent="showAllocateForm = !showAllocateForm" class="text-blue-600">Credit User Account +</inertia-link>
                </div>
                <transition name="slide-fade">
                    <form v-if="showAllocateForm" @submit.prevent="creditUserBalance">
                        <div class="px-6 py-4 border-t border-dashed flex space-x-4">
                            <t-input-group class="flex-1">
                                <t-select 
                                    v-model="pkgID" 
                                    :options="packages.map((pkg) => ({text: `${pkg.name} - ${pkg.bookings} bookings`, value: pkg.name}))"
                                    placeholder="Select package"
                                    required
                                />
                            </t-input-group>
                            <t-button>Apply Credit</t-button>
                        </div>
                    </form>
                </transition>
            </div>

            <!-- Purhases -->
            <div class="flex-1 rounded-lg bg-white border">
                <div class="px-6 py-4 flex-between">
                    <p class="">Purchase History ({{user.purchases.length}})</p>
                    <inertia-link href @click.prevent="showPurchases = !showPurchases" class="text-blue-600">View all -></inertia-link>
                </div>
                <transition name="slide-fade">
                    <div v-if="showPurchases" class="px-6 py-4 space-y-3 border-t border-dashed">
                        <div class="flex justify-between space-x-4" v-for="(purchase, index) in user.purchases" :key="index">
                            <div class="text-gray-700">
                                <p class="font-semibold">GHS {{purchase.amount}}.00</p>
                                <p class="text-sm">{{purchase.description}}</p>
                            </div>
                            <div class="text-gray-700 text-right">
                                <p class="font-semibold">{{purchase.status}}</p>
                                <p class="text-xs font-semibold text-gray-500">{{$moment(purchase.created_at).format('lll')}}</p>
                            </div>
                        </div>
                    </div>
                </transition>
            </div>
        </div>

        <!-- Businesses -->
        <div class="flex-1 rounded-lg bg-white border">
            <div class="px-6 py-4 flex-between">
                <p class="font-semibold"> Businesses ({{user.businesses.length}})</p>
                <inertia-link href @click.prevent="showBusinesses = !showBusinesses" class="text-blue-600">View all -></inertia-link>
            </div>
            <transition name="slide-fade">
                <div class="px-6 py-4 grid grid-cols-1 sm:grid-cols-2 gap-4 border-t border-dashed" v-if="showBusinesses">
                    <div class="flex space-x-4" v-for="(business, index) in user.businesses" :key="index">
                        <img :src="business.logo" class="w-12 h-12 object-cover rounded-full border shadow" alt="Business logo" />
                        <div class="text-gray-700">
                            <inertia-link :href="route('admins.businesses.edit', {business: business.id})" class="font-semibold">{{business.name}}</inertia-link>
                            <p class="text-sm">{{business.slug}}</p>
                        </div>
                    </div>
                </div>
            </transition>
        </div>

        <!-- Events -->
        <div class="flex-1 rounded-lg bg-white border">
            <div class="px-6 py-4 flex-between">
                <p class="font-semibold">Events ({{user.events.length}})</p>
                <inertia-link href @click.prevent="showEvents = !showEvents" class="text-blue-600">View all -></inertia-link>
            </div>
            <transition name="slide-fade">
                <div class="px-6 py-4 grid grid-cols-1 sm:grid-cols-2 gap-4 border-t border-dashed" v-if="showEvents">
                    <div class="flex space-x-4" v-for="(event, index) in user.events" :key="index">
                        <img :src="event.poster" class="w-12 h-12 object-cover rounded-full border shadow" alt="event logo" />
                        <div class="text-gray-700">
                            <inertia-link :href="route('admins.events.show', {event: event.id})" class="font-semibold">{{event.name}}</inertia-link>
                            <p class="text-sm">{{event.code}}</p>
                        </div>
                    </div>
                </div>
            </transition>
        </div>
    </div>
</template>

<script>
import layout from '../Layout'
export default {
    layout,
    props: {
        user: Object,
        packages: Array
    },

    data(){
        return {
            showEvents: false,
            showPurchases: false,
            showBusinesses: false,
            showAllocateForm: false,
            pkgID: null
        }
    },

    methods: {
        creditUserBalance(){
            alert('<<Feature under development!>>')
        }
    }
}
</script>