<template>
    <layout>
        <div class="space-y-6">
            <div 
                class="h-72 -mx-6 -mt-6 bg-gray-300 relative" 
                :style="`background: linear-gradient(166deg, rgba(17, 24, 39,.2), rgba(45, 9, 84,.2)), url(${$page.props.auth.user.currentBusiness.banner || $page.props.auth.user.currentBusiness.logo}); background-position: center; background-size: cover; background-repeat: no-repeat;`"
            >
            </div>

            <div class="grid grid-cols-2 gap-6">
                <!-- Storefront url -->
                <div class="bg-white rounded-lg shadow col-span-2 p-3">
                    <span class="font-semibold text-gray-700">Your storefront url:</span>
                    <inertia-link target="_blank" :href="$page.props.auth.user.currentBusiness.path" class="bg-indigo-50 text-indigo-900 px-2 py-1 rounded font-semibold hover:underline ml-3">{{$page.props.auth.user.currentBusiness.path}}</inertia-link> 
                    <!-- <button class="font-semibold text-indigo-800 px-3 ml-3">copy</button> -->
                </div>

                <!-- todays appointments -->
                <div class="bg-white rounded-lg shadow">
                    <div class="font-bold px-6 py-4 border-b flex-between">
                        <span>Today's Appointments</span>
                        <inertia-link :href="route('partners.reservations', {date: [$moment().format('YYYY-MM-DD')]})" class="text-indigo-700">View all</inertia-link>
                    </div>

                    <div v-if="!reservations_today.length" class="py-32 flex flex-col items-center">
                        <icon name="calendar" class="h-12 w-12 text-gray-500"/>
                        <p class="font-bold text-xl text-gray-500">No appointments are due today</p>
                    </div>

                    <div v-else class="divide-y divide-dashed">
                        <inertia-link 
                            :href="route('partners.reservations.show', {reservation: res.id})" 
                            class="grid grid-cols-3 gap-3 px-6 py-3 hover:bg-gray-100" 
                            v-for="(res, index) in reservations_today" :key="index"
                        >
                            <span>{{res.first_name}} {{res.last_name}}</span>
                            <span>{{res.phone}}</span>
                            <span class="text-right">@{{$moment(res.date).format('h:mm A') }}</span>
                        </inertia-link>
                    </div>
                </div>

                <!-- new appointments -->
                <div class="bg-white rounded-lg shadow">
                    <div class="font-bold px-6 py-4 border-b flex-between">
                        <span>Just In</span>
                        <inertia-link :href="route('partners.reservations', {sortBy: 'created_at'})" class="text-indigo-700">View all</inertia-link>
                    </div>

                    <div v-if="!reservations_new.length" class="py-32 flex flex-col items-center">
                        <icon name="calendar" class="h-12 w-12 text-gray-500"/>
                        <p class="font-bold text-xl text-gray-500">No bookings have been made recently</p>
                    </div>

                    <div v-else class="divide-y divide-dashed">
                        <inertia-link 
                            :href="route('partners.reservations.show', {reservation: res.id})" 
                            class="grid grid-cols-3 gap-3 px-6 py-3 hover:bg-gray-100" 
                            v-for="(res, index) in reservations_new" :key="index"
                        >
                            <span>{{res.first_name}} {{res.last_name}}</span>
                            <span>{{res.phone}}</span>
                            <span class="text-right">{{$moment().to(res.created_at) }}</span>
                        </inertia-link>
                    </div>
                </div>

                <!-- Reviews -->
                <div class="bg-white rounded-lg shadow">
                    <div class="font-bold px-6 py-4 border-b">Recent Reviews</div>

                    <div v-if="!reviews.length" class="py-24 flex flex-col items-center">
                        <icon name="star" class="h-12 w-12 text-gray-500"/>
                        <p class="font-bold text-xl text-gray-500">No reviews yet</p>
                    </div>

                    <div v-else class="divide-y divide-dashed">
                        <inertia-link 
                            :href="route('partners.reservations.show', {reservation: res.id, dates: ['2021-05-01']})" 
                            class="grid grid-cols-3 gap-3 px-6 py-3" 
                            v-for="(res, index) in reservations" :key="index"
                        >
                            <span>{{res.first_name}} {{res.last_name}}</span>
                            <span>{{res.phone}}</span>
                            <span class="text-right">{{$moment(res.date).format('h:mm A') }}</span>
                        </inertia-link>
                    </div>
                </div>
                <!-- <div class="bg-white rounded-lg p-6 shadow">Recent reviews</div> -->
            </div>

            <!-- <div>
                <div class="bg-white rounded-lg p-6 border">Sales</div>
            </div>

            <div class="grid grid-cols-2 gap-6">
                <div class="bg-white rounded-lg p-6 border">Customers</div>
                <div class="bg-white rounded-lg p-6 border">Recent reviews</div>
            </div> -->

            <!-- <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                <div class="bg-white shadow-lg rounded-xl overflow-hidden">
                    <div class="px-4 py-6 flex space-x-4">
                        <div class="h-12 w-12 bg-indigo-800 flex-center rounded-lg">
                            <icon name="receipt-tax" class="text-indigo-100 w-6 h-6"/>
                        </div>
                        <div>
                            <p class="font-bold tracking-widest uppercase text-gray-500 text-xs">balance</p> 
                            <p class="text-3xl font-bold">{{stats.balance}}</p>
                        </div>
                    </div>
                    <div class="bg-indigo-50 px-4 py-2 flex justify-end">
                        <inertia-link :href="route('partners.profile')" class="text-indigo-800 font-semibold">Top up -></inertia-link>
                    </div>
                </div>
            
                <div class="bg-white shadow-lg rounded-xl overflow-hidden">
                    <div class="px-4 py-6 flex space-x-4">
                        <div class="h-12 w-12 bg-indigo-800 flex-center rounded-lg">
                            <icon name="calendar" class="text-indigo-100 w-6 h-6"/>
                        </div>
                        <div>
                            <p class="font-bold tracking-widest uppercase text-gray-500 text-xs">events</p> 
                            <p class="text-3xl font-bold">{{stats.events}}</p>
                        </div>
                    </div>
                    <div class="bg-indigo-50 px-4 py-2 flex justify-end">
                        <inertia-link :href="route('partners.events')" class="text-indigo-800 font-semibold">View all -></inertia-link>
                    </div>
                </div>
            
                <div class="bg-white shadow-lg rounded-xl overflow-hidden">
                    <div class="px-4 py-6 flex space-x-4">
                        <div class="h-12 w-12 bg-indigo-800 flex-center rounded-lg">
                            <icon name="bookmark" class="text-indigo-100 w-6 h-6"/>
                        </div>
                        <div>
                            <p class="font-bold tracking-widest uppercase text-gray-500 text-xs">reservations</p> 
                            <p class="text-3xl font-bold">{{stats.reservations}}</p>
                        </div>
                    </div>
                    <div class="bg-indigo-50 px-4 py-2 flex justify-end">
                        <inertia-link :href="route('partners.reservations')" class="text-indigo-800 font-semibold">View all -></inertia-link>
                    </div>
                </div>
            </div> -->
        </div>
    </layout>
</template>

<script>
import Layout from '../Layout'
export default {
    components: {
        Layout,
    },

    props: {
        reservations_today: Array,
        reservations_new: Array,
        reviews: Array,
        stats: Object,
    },
}
</script>