
<template>
    <div class="w-full max-w-md">
      <div class="flex-center text-white"><Logo /></div>
      <form class="mt-8 overflow-hidden sm:rounded-lg shadow-xl" @submit.prevent="form.post(route('password.email'))">
        <div class="p-6 bg-white space-y-5">
            <div class="text-sm text-gray-600">
                Forgot your password? No problem. Just let us know your email address and we will email you a password reset link that will allow you to choose a new one.
            </div>

            <t-input-group label="Email" class="mb-4" :variant="errors.email && 'error'" :feedback="errors.email && errors.email">
                <t-input v-model="form.email" type="email" autofocus />
            </t-input-group>
        </div>
        <div class="flex-between px-6 py-4 bg-gray-100 border-t border-gray-200">
            <span></span>
            <t-button variant="dark" type="submit">Email Password Reset Link</t-button>
        </div>
      </form>
    </div>
  <!-- </div> -->
</template>

<script>
import layout from './Layout'
import Logo from '@/Shared/Logo'
export default {
  layout,
  metaInfo: { title: 'Reset Password' },
  components: {
    Logo,
  },
  props: {
    errors: Object,
  },
  data() {
    return {
      form: this.$inertia.form({
        email: '',
      }),
    }
  },
}
</script>