
<template>
    <div class="w-full max-w-md">
      <div class="flex-center text-white"><Logo /></div>
        <div class="bg-white mt-8 overflow-hidden sm:rounded-lg shadow-xl">

            <!-- Sign in / register buttons -->
            <div class="flex">
                <inertia-link :href="route('login')" class="flex-1 flex-center py-4 px-2" :class="is_register ? 'text-gray-400 bg-gray-50' : 'text-indigo-800'">
                    <span class="font-black text-xl focus:outline-none"> Sign In</span>
                </inertia-link>
                <inertia-link :href="route('register')" class="flex-1 flex-center py-4 px-2" :class="is_register ? 'text-indigo-800' : 'text-gray-400 bg-gray-50'">
                    <span class="font-black text-xl focus:outline-none">Create Account</span> 
                </inertia-link>
            </div>

            <!-- Line -->
            <!-- <div class="w-24 mx-auto mt-6 mb-6 border-b-2" /> -->

            <!-- Register Form -->
            <form v-if="is_register" class="p-6 space-y-4" @submit.prevent="registerForm.post(route('register'))">
                <t-input-group label="First Name" :variant="registerForm.errors.first_name && 'error'" :feedback="registerForm.errors.first_name">
                    <t-input v-model="registerForm.first_name"/>
                </t-input-group>

                <t-input-group label="Last Name" :variant="registerForm.errors.last_name && 'error'" :feedback="registerForm.errors.last_name">
                    <t-input v-model="registerForm.last_name"/>
                </t-input-group>

                <t-input-group label="Email" :variant="registerForm.errors.email && 'error'" :feedback="registerForm.errors.email">
                    <t-input v-model="registerForm.email" type="email" />
                </t-input-group>

                <t-input-group label="Phone" :variant="registerForm.errors.phone && 'error'" :feedback="registerForm.errors.phone">
                    <t-input v-model="registerForm.phone" type="tel" placeholder="0244XXXXXX"/>
                </t-input-group>

                <t-input-group label="Password" :variant="registerForm.errors.password && 'error'" :feedback="registerForm.errors.password">
                    <t-input v-model="registerForm.password" type="password"/>
                </t-input-group>

                <t-input-group label="Confirm Password">
                    <t-input v-model="registerForm.password_confirmation" type="password"/>
                </t-input-group>
                <t-button class="w-full py-3" variant="brand" type="submit">Register</t-button>
            </form>
                
            <!-- Login Form -->
            <form v-else class="p-6 space-y-5" @submit.prevent="loginForm.post(route('login'))">
                <t-input-group label="Email" class="mb-4" :variant="loginForm.errors.email && 'error'" :feedback="loginForm.errors.email">
                    <t-input v-model="loginForm.email" type="email" autofocus />
                </t-input-group>
    
                <t-input-group label="Password" :variant="loginForm.errors.password && 'error'" :feedback="loginForm.errors.password">
                    <t-input v-model="loginForm.password" type="password"/>
                </t-input-group>
    
                <div class="flex-between">
                    <label class="flex items-center select-none" for="remember">
                        <input id="remember" v-model="loginForm.remember" class="mr-1" type="checkbox">
                        <span class="text-sm">Remember Me</span>
                    </label>
                    <inertia-link class="hover:underline text-sm" :href="route('password.request')">Forgot password?</inertia-link>
                </div>

                <t-button class="w-full py-3" variant="brand" type="submit">Login</t-button>
            </form>
        </div>
    </div>
</template>

<script>
import layout from './Layout'
import Logo from '@/Shared/Logo'
export default {
  layout,
  metaInfo: { title: 'Login' },
  components: {
    Logo,
  },

  props: {
    errors: Object,
    is_register: {
        type: Boolean,
        default: false,
    }
  },

  data() {
    return {
      sending: false,
      loginForm: this.$inertia.form({
        email: '',
        password: '',
        remember: null,
      }),

      registerForm: this.$inertia.form({
        first_name: '',
        last_name: '',
        email: '',
        phone: '',
        password: '',
        password_confirmation: '',
      }),
    }
  },
}
</script>