<template>
    <div>
        <Banner />
        <div class="bg-gradient-to-br from-gray-900 to-indigo-900 min-h-screen flex-center py-20">
            <slot></slot>
        </div>
    </div>
</template>

<script>
import Banner from '@/Jetstream/Banner'
export default {
    components: {
        Banner,
    },
}
</script>