
<template>
    <div class="w-full max-w-md">
      <div class="flex-center text-white"><Logo /></div>
      <form class="mt-8 overflow-hidden sm:rounded-lg shadow-xl" @submit.prevent="form.post(route('register'))">
        <div class="p-6 bg-white space-y-4">
            <t-input-group label="First Name" :variant="errors.first_name && 'error'" :feedback="errors.first_name">
                <t-input v-model="form.first_name"/>
            </t-input-group>

            <t-input-group label="Last Name" :variant="errors.last_name && 'error'" :feedback="errors.last_name">
                <t-input v-model="form.last_name"/>
            </t-input-group>

            <t-input-group label="Email" :variant="errors.email && 'error'" :feedback="errors.email">
                <t-input v-model="form.email" type="email" />
            </t-input-group>

            <t-input-group label="Phone" :variant="errors.phone && 'error'" :feedback="errors.phone">
                <t-input v-model="form.phone" type="tel" placeholder="0244XXXXXX"/>
            </t-input-group>

            <t-input-group label="Password">
                <t-input v-model="form.password" type="password"/>
            </t-input-group>

            <t-input-group label="Confirm Password">
                <t-input v-model="form.password_confirmation" type="password"/>
            </t-input-group>
        </div>
        <div class="flex-between px-6 py-4 bg-gray-100 border-t border-gray-200">
            <inertia-link :href="route('login')" class="text-indigo-800 hover:underline text-sm mr-5 underline">Already registered?</inertia-link>
            <t-button variant="dark" type="submit">Register</t-button>
        </div>
      </form>
    </div>
  <!-- </div> -->
</template>

<script>
import layout from './Layout'
import Logo from '@/Shared/Logo'
export default {
  layout,
  metaInfo: { title: 'Login' },
  components: {
    Logo,
  },
  props: {
    errors: Object,
  },
  data() {
    return {
      form: this.$inertia.form({
        first_name: '',
        last_name: '',
        email: '',
        phone: '',
        password: '',
        password_confirmation: '',
      }),
    }
  },
}
</script>