
<template>
    <div class="w-full max-w-md">
      <div class="flex-center text-white"><Logo /></div>

      <form class="mt-8 overflow-hidden sm:rounded-lg shadow-xl" @submit.prevent="form.post(route('password.update'))">
        
        <div class="px-10 pb-8 pt-12 bg-white space-y-4">

            <t-input-group label="Email" :variant="errors.email && 'error'" :feedback="errors.email">
                <t-input v-model="form.email" type="email" />
            </t-input-group>

            <t-input-group label="Password">
                <t-input v-model="form.password" type="password"/>
            </t-input-group>

            <t-input-group label="Confirm Password">
                <t-input v-model="form.password_confirmation" type="password"/>
            </t-input-group>
        </div>
        <div class="flex-between px-6 py-4 bg-gray-100 border-t border-gray-200">
            <span></span>
            <t-button variant="dark" type="submit">Reset Password</t-button>
        </div>
      </form>
    </div>
</template>

<script>
import layout from './Layout'
import Logo from '@/Shared/Logo'
export default {
  layout,
  metaInfo: { title: 'Login' },
  components: {
    Logo,
  },
  props: {
    errors: Object,
    email: String,
    token: String,
  },
  data() {
    return {
      form: this.$inertia.form({
        token: this.token,
        email: this.email,
        password: '',
        password_confirmation: '',
      }),
    }
  },
}
</script>