
<template>
    <div class="w-full max-w-md">
      <div class="flex-center text-white"><Logo /></div>
      <form class="mt-8 overflow-hidden sm:rounded-lg shadow-xl" @submit.prevent="$inertia.post(route('verification.send'))">
        <div class="p-6 bg-white space-y-5">
            <div class="text-sm text-gray-600">
                Thanks for signing up! Before getting started, could you verify your email address by clicking on the link we just emailed to you? If you didn't receive the email, we will gladly send you another.
            </div>
        </div>
        <div class="flex-between px-6 py-4 bg-gray-100 border-t border-gray-200">
            <inertia-link :href="route('logout')" method="post" as="button" class="underline text-sm text-gray-600 hover:text-gray-900"> Logout </inertia-link>
            <t-button variant="dark" type="submit">Resend Verification Email</t-button>
        </div>
      </form>
    </div>
  <!-- </div> -->
</template>
<script>
import layout from './Layout'
import Logo from '@/Shared/Logo'
export default {
  layout,
  metaInfo: { title: 'Verify Email' },
  components: {
    Logo,
  },
}
</script>