<template>
    <div class="max-w-xl mx-auto py-12">
        <div class="sm:rounded-2xl overflow-hidden bg-white">
            <div class="p-6 bg-indigo-900 text-indigo-50 sm:flex">
                <div class="p-3 flex-center h-12 w-12 bg-indigo-600 rounded-full mb-4 mr-4">
                    <icon name="check" class="h-6 w-6 text-indigo-50"/>
                </div>
                <div class="space-y-2">
                    <p>Hi {{reservation.first_name}},</p>
                    <p class="text-xl font-bold">Your reservation is complete!</p>
                </div>
            </div>
            <div class="p-6">
                <div class="">
                    <p class="text-gray-600 text-sm mb-3">
                        We have booked your spot for <span class="font-bold">{{reservation.title}}</span> on <span class="font-bold">{{$moment(reservation.date).format('ll')}}</span> . 
                        Please arrive at the venue at <span class="font-bold">{{$moment(reservation.time, 'HH:mm:ss').format('hh:mm A')}}</span> 
                        and present your booking code below for admittance.
                    </p>
                    <p class="font-bold tracking-widest mb-3"> <span class="text-gray-500">Booking Code: </span> #{{reservation.code}}</p>
                    <p class="text-sm text-gray-600 mb-6">
                        A copy of your reservation details have been forwarded to your Email.
                        You may also take a screenshot of this page for reference. Thank you for using <inertia-link href="/" class="text-indigo-900">reservr.cc</inertia-link>
                    </p>
                    <div class="">
                        <t-button class="block w-full py-2" variant="brand" :href="route('home')" tagName="a">Ok. Got it!</t-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import layout1 from '@/Shared/MainLayout'
// import layout2 from '../Layout'
export default {
    layout: [layout1],
    props: {
        reservation: Object,
    },

    data(){
        return {

        }
    },
}
</script>