<template>
    <div class="col-span-4 bg-white">
        <div v-if="!results.length">
            <p class="text-center mb-4"> <span class="text-gray-500"> Nothing found for </span>"{{search_term}}"</p>
            <div class="flex-center p-8">
                <img src="/img/empty.svg" alt="">
            </div>
        </div>

        <div v-else class="">
            <p class="mb-4 p-4 border-b"> <span class="text-gray-500"> Search results for </span>"{{search_term}}"</p>
            <div class="divide-y">
                <inertia-link :href="reservable.path" class="block p-4 border-gray-300 hover:border-0 space-y-1 hover:shadow" v-for="(reservable, index) in results" :key="index">
                    <div class="flex justify-between items-start space-x-4">
                        <div class="flex">
                            <!-- <div class="h-8 w-8 bg-gray-700 rounded-lg"></div> -->
                            <div>
                                <p class="font-bold tracking-wide text-gray-700">{{reservable.name}}</p> 
                            </div>
                        </div>
                        <div class="text-xs font-semibold bg-indigo-100 text-indigo-800 px-2 rounded-full capitalize">{{reservable.type}}</div>
                    </div>
                    <p class="text-sm text-gray-600">{{reservable.description}}</p>
                    <div class="flex items-center justify-between flex-wrap">
                        <div class="mr-3 flex items-center space-x-1 text-sm text-gray-600">
                            <icon name="location"/>
                            <span>{{reservable.location}}</span>
                        </div>
                    </div>
                    <div class="flex items-center flex-wrap justify-between text-sm">
                        <div class="flex items-center space-x-1">
                            <icon name="calendar"/>
                            <span>{{reservable.date}}</span>
                        </div>
                        <div class="flex items-center text-indigo-800">
                            <span>{{reservable.buttonText}} </span>
                            <icon name="arrow-right"/>
                        </div>
                    </div>
                </inertia-link>
            </div>
        </div>
    </div>
</template>
<script>
import layout1 from '@/Shared/MainLayout'
import layout2 from '../Layout'
export default {
    layout: [layout1, layout2],
    props: {
        results: Array,
        search_term: String,
    },
}
</script>